[2022-06-23 10:52] merdiano opened #6507 "Notification url is broken when admin_url is changed"
# Bug Report

## Issue Description

When admin_url is changed from admin to somthing like backend. Notificatons view link is showing 404 page

## Bagisto Version

- [x ] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Steps To Reproduce

Change APP_ADMIN_URL=admin to APP_ADMIN_URL=backend on env
config:cache
click on notification
## Actual Result
404 page not found

[2022-06-23 19:07] #6505 closed

[2022-06-24 05:32] Sanjaybhattwebkul commented on #6505
@jitendra-webkul
Now, this issue **is fixed.** Please find a screenshot [Here](https://prnt.sc/7JHG5q__y8CK), for future reference.

[2022-06-24 07:00] osama2june commented on #6139
Hello,

I am facing the same issue please share the solution or link .

Thanks

[2022-06-24 07:02] osama2june commented on #6139
![image](https://user-images.githubusercontent.com/48173138/175481120-dade1397-f175-4944-916a-b721a6c6d47c.png)

[2022-06-24 07:05] osama2june commented on #6139
its working fine with USD and EUR . but when i changed to RUB or other currencies its took error fine the attachment

![image](https://user-images.githubusercontent.com/48173138/175481566-e3cf2b98-6149-40ab-aae6-5c45d89cdb50.png)

[2022-06-26 15:05] Ekhel commented on #3448
Shit... Same Issues....

[2022-06-27 08:28] Sanjaybhattwebkul opened #6509 "There is an exception if the admin is trying to search products from the category page."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on the category inside the catalog section
**3.** Edit any category
**4.** Reach the Products section.
**5.** Try to search for any product.

**Expected result:** There should not be an **exception** if the admin is trying to **search** products from the **category page.**

**Actual result:** There is an

[2022-06-27 09:59] saad3074 commented on #5388
I am facing the same issue. after clearing cache it works fine but on next refresh it showing error in console and loading in loop. `anchor:1 Uncaught (in promise) Timeout (f)`

[2022-06-27 09:59] saad3074 commented on #5388
I am facing the same issue. after clearing cache it works fine but on next refresh it showing error in console and loading in loop. `anchor:1 Uncaught (in promise) Timeout (f)`

[2022-07-01 03:55] vtaskme commented on #6498
Hello @Sanjaybhattwebkul
[Link](https://webkul.uvdesk.com/en/customer/ticket/view/373918)
This is my issue related chats.
your support team is not suppoting, They are selling their services.

Kindly improve your support.

[2022-07-01 21:32] #6501 closed

[2022-07-02 15:30] #6479 closed

[2022-07-04 07:06] papnoisanjeev commented on #6499
@papnoisanjeev

Logged in as a customer and added a product with tax and when saving my billing address tax is same as it is  in checkout process also showing in total amount after placing an order.

Please mention if there is any spacial case for the same so that we can reproduce again and check.

[2022-07-04 07:30] Sanjaybhattwebkul commented on #6499
This issue is duplicate : https://github.com/bagisto/bagisto/issues/6457

[2022-07-04 07:30] #6499 closed

[2022-07-04 07:31] Sanjaybhattwebkul commented on #6457
Hi @Ruixian1006
Which version of **bagisto** are you using

[2022-07-04 08:00] Sanjaybhattwebkul opened #6510 "There should be an option to upload the image if the admin is trying to add velocity metadata in the footer left content section"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on velocity
**3.** Reach  on footer-left-contant section.
**4.** Try to insert image

**Expected result:** There should be an **option** to upload the **image** if the admin is trying to add **velocity** metadata in the **footer left content  section**

**Actual result:** The admin is not able to upload

[2022-07-04 11:19] TheIceMagmaCube opened #6512 "Setup crashes after installation"
# Bug Report

## Issue Description

While installing Bagisto, after typing user informations, the setups crashes and does nothing. I can't access mailing setup, and so config the shop's adress.

![image](https://user-images.githubusercontent.com/38074756/177143168-c7a06353-124a-4410-bd54-6d80363faf3c.png)

After trying to manually edit settings in the .env file, nothing happens, or the message is

[2022-07-04 11:53] Sanjaybhattwebkul commented on #6512
Hi there,
Is it possible to share the **steps** which you follow to install **bagisto**?

[2022-07-04 11:56] TheIceMagmaCube commented on #6512
Hey,
Here's step by step what i'm doing
##Steps
1. Copy last version of bagisto to the folder /bagisto
2. unzip the file
3. cd .. and chown -r www-data:www-data bagisto
4. cd bagisto and composer install
5. Open the webinstaller and follow the steps

##SQL
I'm using alwaysdata for the database, so i'm entering my SQL informations and let everything install.

[2022-07-04 12:04] Sanjaybhattwebkul commented on #6512
Please follow the given steps.
1. git clone --branch v1.4.3 https://github.com/bagisto/bagisto.git
2. cd bagisto
3. **_composer create-project_**
4. Edit the .env file inside the bagisto folder  [ configure Database_Name, App_Url and email configuration ]
5. _**php artisan bagisto:install**_
6. **_php artisan serve_**

[2022-07-04 13:20] TheIceMagmaCube commented on #6512
Problem solved.
But I got another problem afterwards, when I try to add a profil picture, it displays succesfully, but the server can't load it.
![image](https://user-images.githubusercontent.com/38074756/177163013-9724ec5e-7b8b-44df-9b97-fa3ec8aa08b1.png)
![image](https://user-images.githubusercontent.com/38074756/177163030-fbb6eace-9c0c-4c30-a56a-689b5ba1f876.png)

More, the same bug is in the p

[2022-07-04 13:29] Sanjaybhattwebkul commented on #6512
HI @TheIceMagmaCube

I guess the image you are uploading is too large

[2022-07-05 02:42] Ruixian1006 commented on #6457
Hi @Sanjaybhattwebkul , my bagisto version is 1.3.2, and I'm implement with API to my frontend.

[2022-07-05 05:04] Sanjaybhattwebkul opened #6513 "There should not be an exception if the admin is trying to create a refund for any order."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on orders inside the sales tab.
**3.** View any order.
**4.** Try to create a refund for the order after creating shipping and invoice.

**Note:**  the **payment method** of the order should be **money transfer.**

**Expected result:** There should not be an **exception** if the admin is trying to **crea

[2022-07-05 05:40] Sanjaybhattwebkul opened #6514 "The save as category button should not be clicked automatically if the admin is pressing the enter key for the searching product."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on the category inside the catalog section.
**3.** VIew any category.
**4.** Reach the products section.
**5.** Enter the name of any product on the search box and press Enter key.

**Expected result:** The **save as category** button should not be clicked automatically if the admin is **pressing** the *

[2022-07-05 11:29] OBWOCHA commented on #3448
Follow this link https://www.youtube.com/watch?v=X_S2kT5OFsU&t=304s the explains how to solve the problem

[2022-07-05 12:44] Sanjaybhattwebkul commented on #6457
Hi @Ruixian1006
Please allow me some time I need to verify this with V1.3.2 because there is no issue with our latest version.

[2022-07-05 13:40] Sanjaybhattwebkul opened #6518 "The admin should be able to update the product's status by mass action."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on products inside the catalog.
**3.** Try to update the status of any product by mass action.

**Expected result:** The admin should be able to update the product's status by mass action.

**Actual result:** The admin is not able to update the product's status by mass action.

[2022-07-08 13:39] jcprangue commented on #4386
I am having the same issue with this.. is this issue is fixed?
thanks

[2022-07-09 03:14] seapandaio opened #6543 "Swiftmailer abandoned, switching to symfony/mailer"
When running composer to install bagisto, this message appears-
Package swiftmailer/swiftmailer is abandoned, you should avoid using it. Use symfony/mailer instead.
Shouldn't be a major issue for the near future, but perhaps an important consideration for future versions.

[2022-07-09 08:14] Sanjaybhattwebkul commented on #6543
Hi there,
Can you please elaborate?  I guess you want to install Bagisto right ?

[2022-07-09 09:32] #6518 closed

[2022-07-09 09:40] #6463 closed

[2022-07-09 09:42] #6426 closed

[2022-07-09 09:42] #6407 closed

[2022-07-09 09:43] #6447 closed

[2022-07-09 09:44] #6514 closed

[2022-07-09 09:44] #6509 closed

[2022-07-09 11:22] Sanjaybhattwebkul commented on #6463
@jitendra-webkul
Now, this issue is fixed. And I have attached a screenshot [Here](https://prnt.sc/-E5Bzj2TQ5Lm), for future reference.

[2022-07-10 04:23] seapandaio commented on #6543
This is just a warning that appears when installing Bagisto. It doesn't prevent it from being installed and as of now doesn't pose a security threat or anything of the sort.

[2022-07-11 03:39] devansh-webkul commented on #6543
We are using Laravel 9 and by default, it is Symfony mailer. So please check your instance. Maybe you are using the old version.

[2022-07-11 03:39] #6543 closed

[2022-07-11 03:40] devansh-webkul commented on #6493
Curring Bagisto doesn't support Psql.

[2022-07-11 03:40] #6493 closed

[2022-07-11 06:31] papnoisanjeev commented on #6450
@Sanjaybhattwebkul
As we have checked the same process mentioned in above and created a transaction and it shows completed.
Please verify again and if there is some spacial case mention it here https://prnt.sc/0JHhKjEV5Mox

[2022-07-11 06:44] #6450 closed

[2022-07-11 06:53] Sanjaybhattwebkul opened #6545 "The admin should be able to create transactions only with the Grand Total amount of the order."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on transections inside the sales tab.
**3.** Create two transactions for the same invoice.

**Expected result:** The admin should be able to create **transaction** only with the **Grand Total** amount of **the order**.

**Actual result:** The admin is able to create a transaction with an **invalid amount

[2022-07-11 10:46] Sanjaybhattwebkul commented on #6513
@papnoisanjeev
I guess you didn't select the **money transfer payment method** for the order, **for which** you are creating the refund. please **follow the given steps**

[2022-07-11 10:53] papnoisanjeev commented on #6513
@Sanjaybhattwebkul
Selected **money transfer** as a payment method, Please check here:  https://prnt.sc/9x7NHPT3jxSo

[2022-07-11 11:03] Sanjaybhattwebkul commented on #6513
Ok, **my fault** I reverify this issue Actually the issue is occurring only while we are selecting the  PayPal Smart Button payment method.

[2022-07-11 11:34] papnoisanjeev commented on #6513
@Sanjaybhattwebkul

Also tried with **PayPal Smart Button** payment method.
No error found during refund.

https://prnt.sc/BvAnucSiQdFB
https://prnt.sc/WCNv_3ty7i0b

[2022-07-12 08:11] Sanjaybhattwebkul opened #6547 "The product video should be played properly if any"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on the catalog and click on the add product button
**3.** Upload a video for the product.
**4.** Visit the shop.
**5.** Click on the created product.
**6.** Try to play the video of that product.

**Expected result:** The product **video** should be **played** **properly** if any.

**Actual result:** The

[2022-07-12 10:58] papnoisanjeev commented on #6406
@Sanjaybhattwebkul
Please mention the **catalog rule** conditions you have applied or may be the case in which you were facing this issue so that we can reproduce.

After creating a configurable product added a catalog rule condition with product number for main product.
Here is the price for main and child product.

Main configurable product : https://prnt.sc/P8bH07yfL_LO
Variant:  https://prnt.s

[2022-07-12 12:54] Sanjaybhattwebkul commented on #6406
@papnoisanjeev
Please follow the given steps properly, then the issue will be reproduced.

[2022-07-13 05:55] Sanjaybhattwebkul opened #6554 "The discount amount cannot be greater than 100 if the action type is the Percentage of the product."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on promotions inside the marketing tab.
**3.** Click on create cart rule.
**4.** reach the Action section.
**5.** Select the Percentage of the product. from the action dropdown
**6.** Enter 200 on the discount amount input field.

**Expected result:**  The **discount amount** cannot be **greater than 100

[2022-07-13 07:01] ashishkumar-webkul opened #6555 "Cart Rule - Auto Generate Coupon Code details at bottom must not visible when we switch to Manual Coupon Code."
## Issue Description
After switching the auto generate coupon to manual coupon generation we can still see in the bottom that Coupon Codes options are available and we are able to fill the details and save them.

## Bagisto Version - Master

## Steps To Reproduce
**1.** Admin -> Marketing -> Promotion -> Cart Rule.
**2.** Create auto generate cart rule in coupon type (Specific Coupon) -> Auto gene

[2022-07-13 07:40] ashishkumar-webkul opened #6556 "Cart Rule -. Validation should be applied in Coupon Code uses per customer and used per coupon section."
## Issue Description
In Cart rule -> Coupon Code section there in uses per coupon and per customer, there we are able to fill and save the alphabetical and symbols. Hence Validation to be applied.

## Bagisto Version - MASTER

## Steps To Reproduce

**1.** Admin -> Marketing Section -> Cart rule .
**2.** Coupon Codes -> uses per customer and uses per coupon
**3.** They are accepting alphabets and

[2022-07-13 07:45] Sanjaybhattwebkul opened #6557 "The attributes should be selected automatically if we have only one option for select"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Visit shop
**2.** Click on any configurable product
**3.** Select the variant which has only one attribute.

**Expected result:** The **attributes** should be **selected** **automatically** if we have **only one** option for select

**Actual result:** The attributes are **not selected** **automatically** if we have **only** **one** opti

[2022-07-13 08:18] Sanjaybhattwebkul opened #6558 "The cross icon should be just before the calendar icon if the customer is trying to select the appointment date for booking the product."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Visit the shop
**2.** Click on any booking product.
**3.** Try to select the appointment date.

**Expected result:** The **cross icon** should be just **before** the **calendar** icon if the customer is trying to select the **appointment** date for **booking** the product.

**Actual result:** The cross icon is showing outside of the inp

[2022-07-13 11:13] abusayed0206 opened #6560 "Add 'Blog' feature om Bagisto CMS"
I didn’t find any simple way to add blogpost on Bagisto. There only an option to publish cms page.

[2022-07-14 06:55] Sanjaybhattwebkul commented on #6513
@papnoisanjeev
OK, allow me some time I will reverify it again and let you know.

[2022-07-15 08:18] papnoisanjeev commented on #6380
@Sanjaybhattwebkul

Followed the steps above (uploaded svg image) and getting a proper error.
https://prnt.sc/xI9ZaK2hCnle

[2022-07-16 12:50] mandar238 commented on #3973
2. Registering customer with an already registered email address,? I am facing the same issue may i know the solutions

[2022-07-18 16:24] AmooAti commented on #6370
Hi @ghermans @devansh-webkul
The last pr is (#6564) not suitable for preventing this issue
Assume that we have another method called pickup where enabled and disable free shipping and flat rate then the error will pop up

[2022-07-19 06:18] Ruixian1006 commented on #6457
Hi @Sanjaybhattwebkul , is there any updates on this issue ? I have tested previously with the [demo account](https://demo.bagisto.com/) from bagisto also having the same issue which I think the version is 1.4.2

[2022-07-19 20:12] #6427 closed

[2022-07-21 07:09] Sanjaybhattwebkul commented on #6370
@jitendra-webkul
Now, this issue is fixed. I have attached a screenshot [Here](https://prnt.sc/prKJ31ErC9hb), for future reference.

[2022-07-21 11:00] Sanjaybhattwebkul commented on #5392
@jitendra-webkul
Now, this issue is fixed. so I am closing this issue.
And I have attached a screenshot [Here](https://prnt.sc/2vGV3IylnwGq), for future reference.

[2022-07-21 11:00] #5392 closed

[2022-07-21 11:19] Sanjaybhattwebkul commented on #6388
@jitendra-webkul
Now, this issue is fixed. so I am closing this issue.
And I have attached a screenshot [Here](https://prnt.sc/zAoFnuPwJUxg), for future reference.

[2022-07-21 11:19] #6388 closed

[2022-07-21 11:58] Sanjaybhattwebkul commented on #6556
@jitendra-webkul
Now, this issue is fixed. so I am closing this issue.
And I have attached a screenshot [Here](https://prnt.sc/c4JnjLNUFEBK), for future reference.

[2022-07-21 11:58] #6556 closed

[2022-07-21 12:21] #6340 closed

[2022-07-21 12:31] Sanjaybhattwebkul commented on #6340
@jitendra-webkul
Now, this issue is fixed. And I have attached a screenshot [Here](https://prnt.sc/lVyn4qxHB5y6), for future reference.

[2022-07-22 09:29] Sanjaybhattwebkul commented on #6355
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://prnt.sc/HkcDPRFVY2Ia), for future reference.

[2022-07-22 09:29] #6355 closed

[2022-07-22 13:28] #6512 closed

[2022-07-22 13:32] Sanjaybhattwebkul commented on #4637
@digitalgriho
Hope your issue will be resolved, if you are still getting the issue, then feel free to reopen

[2022-07-22 13:32] #4637 closed

[2022-07-22 13:35] Sanjaybhattwebkul commented on #1982
@aroon9002ahmed
Hope your issue will be resolved if still, you are getting the same issue, then feel free to reopen

[2022-07-22 13:35] #1982 closed

[2022-07-23 05:06] devansh-webkul commented on #6345
No need for this issue, the existing design looks fine.

[2022-07-23 05:21] devansh-webkul commented on #6345
Considering this as an enhancement as is not breaking anything.

[2022-07-23 07:00] akathuria289 commented on #6468
@Sanjaybhattwebkul It`s working fine as you can see in the reference video - https://www.awesomescreenshot.com/video/10120075?key=873f6922ab0fe9f7cb9714067c773623

[2022-07-23 07:39] Sanjaybhattwebkul commented on #6389
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://prnt.sc/nxPuRyqZuPbF), for future reference.

[2022-07-23 07:39] #6389 closed

[2022-07-23 08:04] #6441 closed

[2022-07-23 08:46] #6365 closed

[2022-07-23 09:16] #6380 closed

[2022-07-23 09:33] Sanjaybhattwebkul commented on #6458
@jitendra-webkul
This issue is **not fixed**. please find the screenshot [Here](https://prnt.sc/Qv7J2Mfvs0IC).

@akathuria289
Please **complete the changes** on your Pull Request.

[2022-07-23 09:41] papnoisanjeev commented on #6510
@Sanjaybhattwebkul

It is not a bug as in source field you need to put image link.

[2022-07-23 10:40] devansh-webkul commented on #6510
Considering this as enhancmenet.

[2022-07-23 10:56] #6513 closed

[2022-07-23 11:15] Sanjaybhattwebkul commented on #6458
@jitendra-webkul  @devansh-webkul
**Still not fixed,** please find the screenshot [Here](https://prnt.sc/-yf91oOjf-ht)

[2022-07-23 11:15] Sanjaybhattwebkul commented on #6458
@devansh-webkul
Please try to edit the catalog rule. and follow the given steps

[2022-07-23 11:33] Sanjaybhattwebkul commented on #6554
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://www.awesomescreenshot.com/image/30532039?key=aa62162d47fb019b5d9eec1481ac696a), for future reference.

[2022-07-23 11:33] #6554 closed

[2022-07-23 11:35] Sanjaybhattwebkul commented on #6344
@jitendra-webkul
Now, this issue is fixed. so I am closing this issue.
And I have attached a screenshot [Here](https://prnt.sc/vKVzdHgTCfd9)., for future reference.

[2022-07-23 11:35] #6344 closed

[2022-07-23 11:43] Sanjaybhattwebkul commented on #6494
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://prnt.sc/bfYl4cSMndnF), for future reference.

[2022-07-23 11:43] #6494 closed

[2022-07-23 13:23] Sanjaybhattwebkul commented on #6558
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://prnt.sc/5RMmRuTaqLye), for future reference.

[2022-07-23 13:23] #6558 closed

[2022-07-23 13:50] Sanjaybhattwebkul commented on #6368
@jitendra-webkul
Now, this issue is fixed. so I am closing this issue.
And I have attached a screenshot [Here](https://www.awesomescreenshot.com/image/30534200?key=a3f86b783a92113941acec655356fe01), for future reference.

[2022-07-23 13:50] #6368 closed

[2022-07-25 05:03] #6417 closed

[2022-07-25 06:20] Sanjaybhattwebkul commented on #6468
@akathuria289
Please check with different-different order status

[2022-07-25 08:10] papnoisanjeev commented on #6400
@Sanjaybhattwebkul

As checked with **default** theme not facing this issue please let me know if it exist with any other case.
https://www.awesomescreenshot.com/video/10139237?key=537ab3bb24208cee0a6ccc76b83dfc17

[2022-07-25 08:10] Sanjaybhattwebkul commented on #6400
@papnoisanjeev
Please find the screen recording [Here](https://www.awesomescreenshot.com/video/10139663?key=7d5347a8265121d1381c105d9d631902) for reproducing the issue

[2022-07-26 08:15] Sanjaybhattwebkul commented on #6457
@Ruixian1006
We will fix this issue in our next release.

[2022-07-27 01:56] Ruixian1006 commented on #6457
Hi @Sanjaybhattwebkul,noted with thanks. May I know when will be the next release ?

[2022-07-27 11:28] Sanjaybhattwebkul commented on #6390
@jitendra-webkul
I am reopening this issue Because this **PR** will be reverted.

[2022-07-27 12:02] Sanjaybhattwebkul commented on #6390
@jitendra-webkul
As we discuss we need to raise **a new Issue** for the same, so I am closing this issue.

[2022-07-27 12:02] #6390 closed

[2022-07-27 12:04] Sanjaybhattwebkul opened #6606 "The admin should be able to upload and remove the product's image"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on catalog.
**3.** Create/edit a product
**4.** Try to upload the product's image.

**Expected result:** The admin should be able to upload and remove the product's image

**Actual result:** The admin is **not able** to upload and remove the **product's image**. Please find the screenshot [Here](https://

[2022-07-28 07:07] nguyen123 commented on #5018
I test on version 1.4.3 but still bug, please check help me

[2022-07-28 10:47] Sanjaybhattwebkul opened #6609 "The wishlist should not get empty after deleting the all product of the second-page wishlist."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as a customer.
**2.** Click add multiple products to the wishlist.
**3.**  Go to the second page on the wishlist product,
**4.** Delete all the products of the second.

**Expected result:** The wishlist should not **get empty** after deleting the all product of the second-page wishlist.

**Actual result:** The wishlist is getting

[2022-07-29 06:14] #6445 closed

[2022-07-30 04:29] papnoisanjeev commented on #6468
@Sanjaybhattwebkul

We have tested and tried it with different-2 order status still not facing this issue if any case your are still facing it please mention test case.

https://www.awesomescreenshot.com/video/10244834?key=e1ec61cc8ab82902ad224e3e7f2b9cb5

[2022-07-30 10:41] akathuria289 commented on #6331
@Sanjaybhattwebkul  Fixed

[2022-07-30 11:18] akathuria289 commented on #5801
@Sanjaybhattwebkul  Fixed  https://tinyurl.com/2aldvu3z

[2022-07-30 12:49] akathuria289 commented on #6377
Same issue raised - https://github.com/bagisto/bagisto/issues/1929

[2022-08-02 07:30] Sanjaybhattwebkul commented on #4787
@devansh-webkul
I am reopening this issue because this feature is not implemented in the default theme.Please find the screenshot [Here](https://prnt.sc/gGe6bdjs_Gjm)

[2022-08-02 07:37] Sanjaybhattwebkul commented on #4787
@devansh-webkul
As we discuss this feature is **only for the velocity theme**, so I am closing this issue

[2022-08-02 07:37] #4787 closed

[2022-08-02 09:34] #6377 closed

[2022-08-02 12:09] cavinblake commented on #4043
If you are using existing laravel project then there will be some dummy data which needs to be intially into your database otherwise you will get this type of errors. You have to populate your empty database with dummy data. The process is simple -

1. `php artisan migrate`
2. `php artisan db:seed`
3. `php artisan config:cache`

**note**: `php artisan db:seed` is important!

[2022-08-02 12:11] devansh-webkul commented on #6468
This is working fine, please mentioned all steps when you reopen this.

Closing this issue for now.

[2022-08-02 12:11] #6468 closed

[2022-08-02 13:21] Sanjaybhattwebkul commented on #6408
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://prnt.sc/3KGgtrqKgLn8), for future reference.

[2022-08-02 13:21] #6408 closed

[2022-08-02 13:40] #6331 closed

[2022-08-02 13:40] #6349 closed

[2022-08-02 13:40] #6384 closed

[2022-08-02 13:40] #6386 closed

[2022-08-02 13:40] #6429 closed

[2022-08-02 13:40] #6453 closed

[2022-08-02 13:40] #6609 closed

[2022-08-02 13:41] #5464 closed

[2022-08-02 13:41] #5584 closed

[2022-08-02 13:41] #5801 closed

[2022-08-02 13:41] #6371 closed

[2022-08-02 13:41] #6458 closed

[2022-08-02 13:41] #6555 closed

[2022-08-03 05:39] #5463 closed

[2022-08-03 06:01] #6364 closed

[2022-08-03 06:01] #6393 closed

[2022-08-03 06:03] #6484 closed

[2022-08-03 06:03] #6444 closed

[2022-08-03 06:48] #6547 closed

[2022-08-03 06:48] #6428 closed

[2022-08-03 07:59] devansh-webkul commented on #6247
- This can be done by adding multiple channels.
- Mapping the subdomain to channel.
- Then assigning the default locale to specific channel.

[2022-08-03 08:10] #6606 closed

[2022-08-04 04:35] Sanjaybhattwebkul opened #6627 "The name of the product should be shown if the customer is trying to view the shopping cart in the Arabic locale."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in a customer.
**2.** Change the app locale in arabic.
**3.** Add some items to the cart.
**4.** View the shopping cart.

**Expected result:** The **name** of the **product** should be shown if the customer is trying to view the **shopping cart** in the **Arabic locale.**

**Actual result:** The **name** of the product is **not show

[2022-08-05 07:30] dr-roshyara opened #6629 "Problem while installing"
# Bug Report
I got the following error while installing
Fatal error: Uncaught mysqli_sql_exception: Table 'bagisto.admins' doesn't exist in
\public\installer\install.php:61 Stack trace: #0
\bagisto\public\installer\install.php(61): mysqli->query('SELECT id, name...') #1
bagisto\public\index.php(19):
require('C:\\xampp\\htdocs...') #2
\bagisto\server.php(21): require_once('C:\\xampp\\htdocs...') #3

[2022-08-05 09:06] Sanjaybhattwebkul commented on #6629
Hi there,
Is it possible to **share** the **steps** which you followed for installing the **Bagisto**?

[2022-08-05 09:32] #825 closed

[2022-08-07 14:08] ghena opened #6631 "sliders not showed in admin list"
- go to bagisto demo
- /admin/slider?admin_locale=en
- create a slide  and select all locales.
- Submit
- if you change locales globallyto portoguese no sliders is showed in datagrid.
- all sliders are showed only in "EN" locales.

[2022-08-07 14:17] ghena commented on #6631
solved.

[2022-08-07 14:17] #6631 closed

[2022-08-08 05:16] #6485 closed

[2022-08-08 08:09] Sanjaybhattwebkul opened #6632 "There add to cart and the wishlist button are adjusting if the customer is trying to view any product"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Visit the shop
**2.** Click on any product.

**Expected result:** There **add to cart** and the **wishlist** button should not adjust if the customer is trying to **view any product**,

**Actual result:** There **add to cart** and the **wishlist** button are **adjusting** if the customer is trying to **view any product**, Please find th

[2022-08-08 08:15] Sanjaybhattwebkul commented on #6632
@papnoisanjeev
Getting the **same issue** on the product's **quick view**, please find the screenshot [Here](https://prnt.sc/0kuEJEA9oFKv)

[2022-08-08 13:22] Sanjaybhattwebkul commented on #6627
@papnoisanjeev
As we discuss the name of the products **should be added** for Arabic locale from the admin end then it will show in the shop,
So i am closing this issue

[2022-08-08 13:22] #6627 closed

[2022-08-08 16:52] ghena opened #6634 "Manufacturer / Brand section"
Prestashop has Manufacturer/ Brand entity able to add Manufacturer Logos, description, name.
This entity is related to product b default.

No need to create an attribute.
Brand is related to each product.

On the frontend there is a page list able to show all brands, and inside product page brand is displayed optionally.

[2022-08-09 06:21] Sanjaybhattwebkul commented on #6634
Hi there,
Now, this is feature is **not available.** you can Create a **Custom** Module for the same

[2022-08-09 06:31] Sanjaybhattwebkul opened #6635 "The page should not be redirected to the wishlist page when the customer removes any product from the wishlist."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as a customer.
**2.** Go to home page
**3.** Add any item to the wishlist
**4.** Remove the item from the wishlist.

**Expected result:** The page should not be **redirected** to the **wishlist page** when the customer **removes any product** from the wishlist.

**Actual result:** The page is **redirected** to the **wishlist page

[2022-08-09 07:15] lukasmedia opened #6636 "Product saved; product not shown in admin/catalog/products and/or website "No products available in this category""
## Issue Description

When i add a product using /admin/catalog/products/create the product is saved (green message product saved) after that a redirect to admin/catalog/products/edit/2
I fill in what is required, hit save. Again, the green box said saved. Then a redirect to admin/catalog/products; but no products.

On the public site (i added several products to main category and subcategory). Wh

[2022-08-09 11:06] Sanjaybhattwebkul commented on #6636
Hi there,
I guess the **status** of the product is **inactive** so the products are not listed in the shop.
Please **verify** it and let me know.

[2022-08-09 11:18] AmooAti commented on #6359
Hi @Sanjaybhattwebkul
regarding this issue, I think it's ok because some currencies can have up to 3 or even 4 decimals, for example, Kuwaiti Dinar and Bahraini Dinar decimal places are 3
You see currencies decimals [here](http://www.londonfx.co.uk/ccylist.html)

[2022-08-09 11:32] lukasmedia commented on #6636
I cannot edit the stored products because they are not visibile in the admin (admin/catalog/products).
Then i have to type in the address bar "admin/catalog/products/edit/1" to edit my products.
Yes, the status was grey; i changed it to blue. Saved; but still no products in admin and/or website.

[2022-08-09 11:41] Sanjaybhattwebkul commented on #6359
@AmooAti
I will **discuss** this with my **team** and will **update**

[2022-08-09 11:47] Sanjaybhattwebkul commented on #6636
@lukasmedia
Is it possible to share the screen recording for the same it will help me to reproduce the issue?

[2022-08-09 11:51] Sanjaybhattwebkul commented on #6359
@AmooAti
**Thanks** for the **report**.  I am **closing** this issue.

[2022-08-09 11:51] #6359 closed

[2022-08-09 12:55] lukasmedia commented on #6636
Not really a lot to show but here is the admin:

https://ibb.co/KGDNc3L

and here product detail (remember, i have to type "admin/catalog/products/edit/1" in address bar)

https://ibb.co/fd0L4tJ

[2022-08-09 14:06] Sanjaybhattwebkul commented on #6370
@jitendra-webkul
I am reopening this issue because I am getting the same issue with **payment method,**
@papnoisanjeev
Please **fix** the same for the **payment method.**

[2022-08-10 06:36] Sanjaybhattwebkul opened #6640 "There should not be any alert box if the admin is trying to filter the products."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on products inside the catalog section
**3.** Try to filter any product.

**Expected result:** There should not be any **alert box** if the admin is trying to **filter the products.**

**Actual result:** It is **showing** an **alert** box if the admin is trying to **filter** the **products**. Please find

[2022-08-10 15:40] lukasmedia commented on #6636
Also, database is filled with data. What do you need more? This seems like a major bug to me.

[2022-08-11 08:45] ahed666 opened #6642 "Error when you create or update a new catalog categories"
SQLSTATE[42000]: Syntax error or access violation: 1305 FUNCTION medicame_db.get_url_path_of_category does not exist (SQL: update `categories` set `categories`.`updated_at` = 2022-08-11 11:40:02 where `id` = 67)

[2022-08-12 04:05] devansh-webkul commented on #6642
Your database is missing a function due to which this error occurs. Please check the forum for this as this issue is pretty common.

[2022-08-12 04:05] #6642 closed

[2022-08-16 05:27] devansh-webkul commented on #6636
Not able to reproduce this, have you done some customization or added some modules?

[2022-08-17 04:54] Sanjaybhattwebkul opened #6644 "Trimming should be added for the search string."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on the products inside the catalog
**3.**  Try to search for any product after adding a space after the search string.

**Expected result:** **Trimming** should be added for the search string.

**Actual result:** The **search functionality** not working if there is any **space** on the searching string.

[2022-08-17 09:13] lukasmedia commented on #6636
No; clean install.

[2022-08-19 06:24] Sanjaybhattwebkul opened #6646 "The actual and special prices both should be visible if there is any special price for a configurable product."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Create a **configurable** product
**3.** Add **special price** for any **variant** for the created product.
**4.** Visit the **shop**
**5.** Try to **view** the created product.

**Expected result:** The **actual** and **special prices** both should be visible if there is any special price for a **configurable

[2022-08-19 06:27] Sanjaybhattwebkul commented on #6636
Hi there,
Please **enable** **Visible Individually**, the issue will be resolved.

[2022-08-19 06:29] Sanjaybhattwebkul commented on #6629
**Closing** this issue as **not getting** any **response** from the **last 14 days.**

**Feel free** to **reopen** if you have any queries.

[2022-08-19 06:29] #6629 closed

[2022-08-19 07:02] Sanjaybhattwebkul opened #6647 "The dark mode theme should be introduced for the shop"
**Bagisto Version:** Master

**Expected result:**  The **dark mode** theme should be introduced **for the shop.**

**Actual result:** There is **no option** for a **dark mode** theme in the **shop**.

[2022-08-19 07:06] Sanjaybhattwebkul opened #6648 "The customer should be able to set the white space between two words to standard width."
**Bagisto Version:** Master

**Expected result:** The **customer** should be able to **set the white space** between two **words** to standard width.

**Actual result:** There is **no option** to set the white **space between** two **words** to standard width.

[2022-08-21 19:00] lukasmedia commented on #6636
Hi @Sanjaybhattweb thank you; but that didnt help. There is a query error.

The source seems to be "sql_mode=only_full_group_by" so i removed "only_full_group_by" in the my.cnf from Mysql. Restarted mysql but the issue is still there.

[2022-08-22 05:52] Sanjaybhattwebkul opened #6650 "The catalog rule is not applying after updating the product."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on **promotion** inside the **marketing tab.**
**3.** Create a **catalog rule** for any **variant** of the **configurable** product.
**4.** Go to the **shop** and **view** the same configurable product.
**5.** Go to the **admin** panel and **update** the **price** of the **same** configurable product.
**

[2022-08-22 08:05] Sanjaybhattwebkul opened #6651 "There should not be any exception if the admin is creating the configurable product."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on the products inside the catalog.
**3.** Create a configurable product.

**Note: Upload image of all varients and main product.**

**Expected result:** There should not be any **exception** if the admin is **creating** the **configurable** product.

**Actual result:** There is an **exception** if the a

[2022-08-22 08:33] papnoisanjeev commented on #6651
@Sanjaybhattwebkul

Not facing this issue on my system with latest updates.

Try below solution and hope it will help.

- Try simply rebooting Or restarting your server.
- Just provide **read/write** permission to folder.
- Check **php.ini** make sure that your **upload_max_filesize** is as big as your **post_max_size**.

[2022-08-22 10:06] papnoisanjeev commented on #6650
@Sanjaybhattwebkul

We need to **re-index catalog rule** after **price** updates in product.

Please run below command:

`php artisan product:price-rule:index`

Command will automatically trigger using cron in case of production.

[2022-08-23 08:35] zielu92 opened #6653 "Bagisto on vapor file_put_contents(/tmp/storage/app/db-blade-compiler/views/92263d5a0f797): Failed to open stream: No such file or directory (View: /var/task/resources/themes/velocity/views/home/index.blade.php)"
## Issue Description
I was trying to deploy bagisto on vapor. The homepage return error:

`file_put_contents(/tmp/storage/app/db-blade-compiler/views/92263d5a0f7971979a9faaee5f4): Failed to open stream: No such file or directory (View: /var/task/resources/themes/velocity/views/home/index.blade.php)`

The admin page works correctly (there was some issue, but I found how to fix it).
I think the issu

[2022-08-23 08:37] Sanjaybhattwebkul commented on #6653
Hi there,
Which **version** of **bagisto** are you using?

[2022-08-23 08:38] zielu92 commented on #6653
1.4.3
Additionally, runtime on vapor is done via docker

[2022-08-23 08:39] Sanjaybhattwebkul commented on #6653
Hi there,
I guess this is a **permission issue**

[2022-08-23 08:39] Sanjaybhattwebkul commented on #6653
Please verify all the **permissions**.

[2022-08-23 08:42] Sanjaybhattwebkul opened #6654 "The size of the image card should be fixed. on the home page."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Visi the shop in the **default theme**
**2.** View the product which has no image.

**Expected result:** The **size** of the **image card** should be **fixed**. on the home page.

**Actual result:** The **size** of the **image** card is **not fixed** if there is **no image** for any product. on the home page. Please find the screenshot

[2022-08-23 08:58] zielu92 commented on #6653
It seems permissions are ok. Vapor runs on AWS, which makes it a bit more challenging.
Additionally, I checked the S3 drive locally for assets and this part works well. After it is deployed to ECR it seems there is an issue and it seems it is not a permission issue.

[2022-08-23 09:19] Sanjaybhattwebkul commented on #6653
Please **run** these **commands** once,
If you will get the same issue after it then **please let me know.**

**_php artisan vendor:publish_**  Then press 0

[2022-08-23 09:34] devansh-webkul commented on #6653
Your storage folder is missing with db blade compiler. Please check if have you published all the assets properly.

[2022-08-23 09:49] Sanjaybhattwebkul commented on #6418
@jitendra-webkul
As we **discuss** this is **not an issue** so I am **closing** this issue.

[2022-08-23 09:49] #6418 closed

[2022-08-23 10:38] Sanjaybhattwebkul commented on #6653
Hi there,
Please **run** this **command** the issue will be resolved:
_**php artisan bagisto:publish --force**_

[2022-08-23 11:45] Sanjaybhattwebkul commented on #6653
@zielu92
Is your issue is **resolved**?

[2022-08-23 12:04] #6650 closed

[2022-08-23 12:31] zielu92 commented on #6653
Not yet, since it is in aws and based on vapor it is serverless, executing commands like bagisto:publish or vendor:publish will end up with error because the resource directory is read-only. Only one dir is writeable it is 'tmp'. Acording to article: [https://bagisto.com/en/whats-new-in-laravel-6-x/](https://bagisto.com/en/whats-new-in-laravel-6-x/) it seems the newer version of bagisto should als

[2022-08-23 12:45] Sanjaybhattwebkul commented on #6476
@jitendra-webkul
As we discuss this is not an issue so I am closing this issue.

[2022-08-23 12:45] #6476 closed

[2022-08-24 05:53] Sanjaybhattwebkul commented on #6370
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/dOKbjOsLFrrR), for future **reference**.

[2022-08-24 05:53] #6370 closed

[2022-08-25 06:05] Sanjaybhattwebkul commented on #6654
@jitendra-webkul
Now, this **issue** is fixed. so I am **closing** this issue.

[2022-08-25 06:05] #6654 closed

[2022-08-25 07:06] Sanjaybhattwebkul commented on #6644
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://prnt.sc/IUEXllCqhSQk), for future reference.

[2022-08-25 07:06] #6644 closed

[2022-08-25 07:07] Sanjaybhattwebkul commented on #6640
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.

[2022-08-25 07:07] #6640 closed

[2022-08-25 07:10] Sanjaybhattwebkul commented on #6635
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://prnt.sc/ajs3AJAkYq5d), for future **reference**.

[2022-08-25 07:10] #6635 closed

[2022-08-25 07:18] Sanjaybhattwebkul commented on #6632
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://prnt.sc/evsUu15U-7X7), for future reference.

[2022-08-25 07:18] #6632 closed

[2022-08-25 07:20] Sanjaybhattwebkul commented on #6471
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://prnt.sc/jOO5Jp0w2Ver), for future reference.

[2022-08-25 07:20] #6471 closed

[2022-08-25 12:07] hamza-saqib opened #6660 "Issue in migration add_min_price_and_max_price using PostgreMysql"
# Bug Report

## Issue Description

## Preconditions

## Bagisto Version

- [ ] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Steps To Reproduce

## Actual Result

## Expected Result

[2022-08-25 15:32] ghena opened #6661 "product attachments"
I would to know if is possibile upload some documents to a product for example pdf or doc file.

there is already a way to solve this ?
regards.
.g

[2022-08-27 10:43] Sanjaybhattwebkul commented on #6661
Hi @ghena
**No**, we **can not upload** the pdf and doc for any product.

[2022-08-28 13:16] asifmohtesham commented on #6636
I have this same problem. +1

[2022-08-28 20:11] ghena commented on #6661
I suppose it should be easy , cloning image model and edit the product repositories ? or not ?

[2022-08-29 05:06] devansh-webkul commented on #6661
You can create a custom attribute of the type file if you want.

If the requirement is still not matched then you can customize the product as per your need.

[2022-08-29 07:38] Sanjaybhattwebkul commented on #6400
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/WN12qA5l2V9e), for future **reference**.

[2022-08-29 07:38] #6400 closed

[2022-08-29 08:08] Sanjaybhattwebkul commented on #6461
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://prnt.sc/fjCyGJQc5XUA), for future reference.

[2022-08-29 08:08] #6461 closed

[2022-08-29 08:13] Sanjaybhattwebkul commented on #6271
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://prnt.sc/ftZEbtoFM05O), for future reference.

[2022-08-29 08:13] #6271 closed

[2022-08-29 08:18] Sanjaybhattwebkul commented on #6341
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.

[2022-08-29 08:18] #6341 closed

[2022-08-29 08:23] Sanjaybhattwebkul commented on #6366
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://prnt.sc/xHO3jg_whP6u), for future reference.

[2022-08-29 10:18] papnoisanjeev commented on #6457
@Ruixian1006  @Sanjaybhattwebkul

Please verify your address (country/states) and re-check if tax applicable for the same **country/state**.
If it differs Tax will be removed when you select a different address (country/states) other than the applicable tax region.

[2022-08-29 10:18] #6457 closed

[2022-08-29 10:38] Sanjaybhattwebkul commented on #6651
@jitendra-webkul
I **restarted** my **server** and now the admin is **able** to **create** the **configurable** product with **multiple** **variants** Please find the screenshot [Here](https://prnt.sc/C74w9nXXsFoZ).so I am **closing** this issue.

[2022-08-29 10:38] #6651 closed

[2022-08-29 12:08] Sanjaybhattwebkul commented on #5595
@jitendra-webkul
As we **discuss** There is **no need t**o give an option to edit quantity in the **mini cart** and also validation message on the mini cart will look messy

[2022-08-29 12:08] #5595 closed

[2022-08-29 13:22] Gami-404 commented on #6422
edit `getCategoryProductAttribute` function that will optimize the problem covert the Many Query to sub-queries
[code]

[2022-08-29 13:47] #6312 closed

[2022-08-29 13:48] #6406 closed

[2022-08-30 05:02] #6545 closed

[2022-08-30 06:43] Sanjaybhattwebkul opened #6668 "The back button should work if the customer is adding a new address on the checkout page."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Login as a customer.
**2.** Click on any product.
**3.** Click on the buy now button.
**4.** Click on Add new billing address and click on back button

**Expected result:** The **back button** should work if the customer is adding a **new address** on the **checkout** page.

**Actual result:** The **back button** is not working when the

[2022-08-30 07:05] Sanjaybhattwebkul opened #6669 "Feedback for errors and omissions should be improved."
# Feedback for errors and omissions should like improved

Feedback for errors and omissions should be like [this](https://prnt.sc/FXy-4N1wotxJ)

[2022-08-30 11:50] Sanjaybhattwebkul opened #6671 "Form Labels should be improved"
# Form Labels should be improved.

Form **Labels** should be like **[this](https://prnt.sc/2XlWNeRyZu6W)**

[2022-08-31 05:31] #6661 closed

[2022-08-31 08:20] hamza-saqib opened #6675 "CORS Policy issue while calling register API through react."
# Bug Report
CORS Policy issue while calling register API through react. from postman its working. Bagisto Laravel is deployed on shared hosting, URL: http://bagisto.wayneincorporation.com/public/ and i am running react app on local.

## Issue Description

## Preconditions

## Bagisto Version
as per this commit
https://github.com/bagisto/bagisto/tree/521eb9b2d8f6d9294bd87c22332844be8a3c9fcf

## St

[2022-09-01 05:58] Sanjaybhattwebkul commented on #6675
Hi there,
Which **version** of **Bagisto** are you using?

[2022-09-01 08:02] hamza-saqib commented on #6675
@Sanjaybhattwebkul i'm not sure with version but i m using latest code from master branch. also i have mention the commit point in above on my question description.

[2022-09-01 08:16] Sanjaybhattwebkul opened #6678 "The captcha should work properly, on the login page."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on the **configuration / customer / captcha**
**3.** Configure credentials
**4.** Visit the shop
**5.** Try to log in as a customer.

**Expected result:** The **captcha** should work properly, on the login page.

**Actual result:** Captcha is **not working** if the customer is trying to **log in**. Pleas

[2022-09-01 08:26] Sanjaybhattwebkul opened #6679 "The admin is not able to create the catalog rule for the configurable product, with SKU condition type"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on the catalog rule inside the **Marketing / Promotion**.
**3.** Try to create a catalog rule for any variant of a configurable product.
**4.** Select **SKU** on **condition type** dropdown

**Expected result:** There should not be any **warning message** in the **condition** section if the admin creatin

[2022-09-01 09:39] Sanjaybhattwebkul opened #6680 "Cancel / Refund option should be present for admin if the Automatically invoice generate is enabled."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on **payment method** inside the **configuration/sales.**
**3.**   Enable **Automatically generate the invoice after placing an order**
**4.** Visit the shop and **place** an **order**.
**5.** Try to **cancel** the order

**Expected result:**  Cancel / Refund **option** should be **present** for admin if

[2022-09-01 12:04] akathuria289 commented on #6678
![Desktop-screenshot (1)](https://user-images.githubusercontent.com/107393273/187909500-a6adbdbd-8d23-4ff0-af1b-becbc5530e92.png)
@Sanjaybhattwebkul Recheck

[2022-09-02 05:38] papnoisanjeev commented on #6680
@Sanjaybhattwebkul

As per the issue and current flow, in case of auto invoice generation there will not be an option to cancel the invoice.
But in this case you need to create transactions for the same and after creating transaction you will be able to see **Refund** option.

[2022-09-02 06:03] #6680 closed

[2022-09-02 07:33] devansh-webkul commented on #6675
Hi @hamza-saqib,

This is not an issue. Please check your cors header policy.

[2022-09-02 08:03] Sanjaybhattwebkul commented on #6366
@jitendra-webkul
I am **reopening** this issue. because i am **getting** the same **issue** if there are **multiple image** of any **product**,
Please find the screenshot [Here](https://prnt.sc/BG8NdcevFtoh)

[2022-09-02 11:20] Sanjaybhattwebkul opened #6685 "There should be an option to filter the suspended customer. in the admin panel"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on the **customer's** tab
**3.** Try to **filter** the suspended customer.

**Expected result:** There should be an option to **filter** the **suspended** customer.

**Actual result:** There is no **option** to filter the **suspended** **customer** in the admin panel.Please find the screenshot [Here](htt

[2022-09-02 12:06] Sanjaybhattwebkul opened #6686 "The notification should be visible in the admin panel if the order status is pending payment."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on **payment settings** inside the **configurations/sales.**
**3.** Enable **auto generate invoice**
**4.** Visit the shop.
**5.** Create an order
**6.** log in as admin and try to view the notification for the created order.

**Expected result:** The **notification** should be visible in the admin panel

[2022-09-02 19:31] Wooody82 opened #6687 "Add [_token] to fillable property to allow mass assignment on [Webkul\Velocity\Models\VelocityMetadata]."
## Issue Description
Error when we try to save Velocity meta data page. I noticed there is `protected $table = 'velocity_meta_data';` but not sure why it does not help.. I tried to add and seems to work to /packages/Webkul/Velocity/src/Models/VelocityMetadata.php
[code]

## Bagisto Version
- 1.4.4

## Steps To Reproduce
Go to admin/velocity/meta-data and save the page.

## Actual Result
Error page

[2022-09-05 05:26] Sanjaybhattwebkul commented on #6687
Hi there,
**Thanks** for reporting, we will **fix** this in our **next** release.

[2022-09-05 06:47] Sanjaybhattwebkul opened #6689 "There should be a proper UI for categories in the shop if there are sub0category of any category."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on the categories inside the catalog section.
**3.** Create a sub-category of any sub-category.
4. Visit the sho and try to view the created category

**Expected result:**  There should be a proper **UI** for **categories** in the shop if there are **subcategories** of any category.

**Actual result:** T

[2022-09-05 07:12] Sanjaybhattwebkul opened #6690 "Mass update option should be available for the categories section"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on the categories inside the catalog section.
**3.** Try to **update** multiple activities by **mass action.**

**Expected result:** There should be an option for **mass-update** for the categories.

**Actual result:** The **mass update** option is not **present** for the categories section in the **admi

[2022-09-05 07:23] Sanjaybhattwebkul opened #6691 "There should be an option to give the product export permission to the user"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on **users** inside the settings tab.
**3.** Create a role and try to give **permission** to **export** products.

**Expected result:** There should be an **option** to give the product **export permission** to the user

**Actual result:** There is no **option** to give the product **export permission**

[2022-09-05 09:20] rabol opened #6692 "Composer test does not work"
# Bug Report
the command ```composer test ``` does not work

## Bagisto Version
Latest public version

## Steps To Reproduce
install bagisto
run composer test

## Actual Result
[code]

## Expected Result
Test should complete succesfully

[2022-09-05 09:35] Sanjaybhattwebkul commented on #6692
Hi there,
Which **version** of Bagsito are you using?

[2022-09-05 09:37] Sanjaybhattwebkul commented on #6692
@rabol
As I **checked** in our **latest** version and **not getting** any issues.

[2022-09-05 09:39] devansh-webkul commented on #6692
Please check your `.env` file, as its looks like the connection is refused. Please use bagisto forum as this channel is only for reporting bugs and fixes.

[2022-09-05 09:39] #6692 closed

[2022-09-06 02:28] nguyen123 commented on #1245
error can not load list notifications in admin/notifications
1/ in image Capture1111.JPG : ajax get have data but not show on page.
2/ i tested in image Capture2.JPG, "await this.$http.get(this_this.url " : this code get list notifications but when load page completed then it process this function. this function need process before load page.

please check help me. thanks
![Capture1111](https://us

[2022-09-07 11:47] Sanjaybhattwebkul opened #6697 "The add button should be hidden from view page if the user has no permission to create."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Create a new user and do not give permission to create the product.
**3.** Login as a new customer and try to create a product.

**Expected result:**   The **addProduct button** should be removed if the user has **no permission** to **create** the product.

**Actual result:** The addProduct **button** is **not

[2022-09-07 11:57] #6686 closed

[2022-09-08 04:57] Sanjaybhattwebkul opened #6699 "The sale icon should be visible if there is any special price for a configurable product."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Add a special price for any variant of a configurable product.
**3.** Visit the shop and view the same product.

**Expected result:** The **sale icon** should be **visible** if there is any **special price** for a **configurable** product.

**Actual result:** The **sale icon** is not **visible** if there is an

[2022-09-09 07:23] Sanjaybhattwebkul commented on #6345
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://prnt.sc/Y7RgWYIErS8A), for future reference.

[2022-09-09 07:27] Sanjaybhattwebkul commented on #6394
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://prnt.sc/Ff7D-K85xh6z), for future reference.

[2022-09-09 07:27] #6394 closed

[2022-09-09 07:28] #6668 closed

[2022-09-09 07:30] Sanjaybhattwebkul commented on #6679
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://prnt.sc/Fvh_M0cDAI4J), for future reference.

[2022-09-09 07:30] #6679 closed

[2022-09-09 08:26] Sanjaybhattwebkul commented on #6678
@jitendra-webkul
I am **closing** this issue because i have re **configure** the **credentials** and now it is **working fine** , please find the screenshot [Here](https://prnt.sc/lF25YzYgnmFR)

[2022-09-09 08:26] #6678 closed

[2022-09-09 09:50] #6345 closed

[2022-09-09 09:53] Sanjaybhattwebkul commented on #6366
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.

[2022-09-09 09:53] #6366 closed

[2022-09-09 10:37] ghena opened #6701 "Convert textarea to Editor Wysiwyg in product view"
There is a way to use editor instead  Wysiwyg simple textarea inside product page admin ?

Regards.
.g

[2022-09-09 10:43] Sanjaybhattwebkul commented on #6701
Hi there,
**Yes**, you can change a **Wysiwyg editor** to a simple **text area** by editing any attribute,
Please take a **reference** from [Here](https://prnt.sc/yBB8FSJq3LYO) for the same

[2022-09-09 11:09] ghena commented on #6701
Solved :)

[2022-09-09 11:39] #6701 closed

[2022-09-09 11:57] ssdarjun opened #6702 "Users can not download purchases product form customer dashboard"
## Issue Description
Order status completed and invoice status also paid but if I want to download a downloadable product from customer dashboard then show a warning message- "Warning! Payment has not been done for this download"

## Bagisto Version
- [ ] 1.4.4

[2022-09-09 12:22] ghena opened #6703 "Cms pages datagrid not diplay any rows when Change locale"
Changing env
APP_LOCALE=it
then clear cache configuration

then added a new translations for specific page: php artisan optimize:clear

The datagrid not diplay any rows
![image](https://user-images.githubusercontent.com/548424/189348505-86d49dfa-c3ea-4020-8120-9a87e5bde644.png)

this is my db for cms_page_translations
![image](https://user-images.githubusercontent.com/548424/189348335-b5f41a37-b5a

[2022-09-10 08:06] Sanjaybhattwebkul commented on #1929
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have **attached** a screenshot [Here](https://prnt.sc/2c2mtHQkjGN3), for future **reference**.

[2022-09-10 08:06] #1929 closed

[2022-09-10 08:11] Sanjaybhattwebkul commented on #6703
Hi there,
I guess you **don't add** the pages for the **IT** locale, please take a **reference** from [Here](https://prnt.sc/c-Tq2Tl0a1Kf). and the issue will be **resolved**.

[2022-09-10 08:13] Sanjaybhattwebkul commented on #6702
Hi there,
Is it **possible** to share the **screen recording** for the same because I am **not getting** this issue in our **V1.4.4?**

[2022-09-10 08:14] ssdarjun commented on #6702
Can we join in zoom/google meet?

[2022-09-10 08:25] jitendra-webkul commented on #3264
Not feasible

[2022-09-10 08:25] #3264 closed

[2022-09-10 08:27] jitendra-webkul commented on #2791
Bagisto localization system don't work that way but this can be done with customization

[2022-09-10 08:27] #2791 closed

[2022-09-10 08:28] jitendra-webkul commented on #2267
It's not possible for now but can be done with customization

[2022-09-10 08:28] #2267 closed

[2022-09-10 08:32] #3931 closed

[2022-09-10 08:35] jitendra-webkul commented on #4128
Images can be changed from the admin back office

[2022-09-10 08:35] #4128 closed

[2022-09-10 08:36] jitendra-webkul commented on #4129
Not feasible

[2022-09-10 08:36] #4129 closed

[2022-09-10 08:42] jitendra-webkul commented on #4520
This can be done with customization or we will create a module for this

[2022-09-10 08:42] #4520 closed

[2022-09-10 08:43] jitendra-webkul commented on #4556
This issue needs more information

[2022-09-10 08:43] #4556 closed

[2022-09-10 08:43] jitendra-webkul commented on #4603
This can be customized

[2022-09-10 08:43] #4603 closed

[2022-09-10 08:46] jitendra-webkul commented on #4741
Need more information

[2022-09-10 08:46] #4741 closed

[2022-09-10 08:47] #5072 closed

[2022-09-10 09:00] Sanjaybhattwebkul commented on #4640
@jitendra-webkul

As we **discuss** there is **no need** for the **next button**. so I am closing this enhancement.

[2022-09-10 09:00] #4640 closed

[2022-09-10 09:02] Sanjaybhattwebkul commented on #3454
@akathuria289

The shipping method should be **selected** if there is **only one** shipping method.

[2022-09-10 10:40] Sanjaybhattwebkul commented on #6690
@jitendra-webkul
Now, this enhancement is **done**. so I am **closing** this **enhancement**.
And I have **attached** a screenshot [Here](https://prnt.sc/HVmoZt3ssbsQ), for future **reference**.

[2022-09-10 10:40] #6690 closed

[2022-09-10 13:25] jitendra-webkul commented on #5346
Done in #6532

[2022-09-10 13:25] #5346 closed

[2022-09-10 13:41] jitendra-webkul commented on #5411
Not feasible, you can customize if you want

[2022-09-10 13:41] #5411 closed

[2022-09-10 14:08] jitendra-webkul commented on #6449
Maybe the user is thinking of adding links later after creating a product. This is not needed so closing this issue

[2022-09-10 14:08] #6449 closed

[2022-09-10 14:09] #6634 closed

[2022-09-10 14:13] jitendra-webkul commented on #6660
Can you please explain more on this issue

[2022-09-10 14:15] #6669 closed

[2022-09-10 14:15] #6648 closed

[2022-09-10 14:15] #6675 closed

[2022-09-12 05:52] Sanjaybhattwebkul opened #6705 "The filter value should be correct if the admin is trying to filter products by the status filter."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on the **catalog** inside the **products**
**3.** Filter the **products**' by the **status** filter.

**Expected result:**  The **filter value** should be **correct** if the admin is trying to **filter** **products** by the **status** filter.

**Actual result:**  The **filter value** is looking like a **

[2022-09-12 07:44] ghena commented on #6703
I did a small video.

https://drive.google.com/file/d/1ZjT9fLxSK1AWOjuAiwMhPL0QT6Rb3Zfv/view

The problem is not solved.
.g

[2022-09-12 08:48] ghena opened #6706 "Setup Date format globally by locale"
Hi guys,

there is a way to change all format data displayed in frontend - backend linked to APP_LOCALE or language ?

For example: field created_at should be rendered dynamically based on APP_LOCALE or language.

Please let me know.
Regards.
.g

[2022-09-12 09:35] ssdarjun commented on #6702
Please check this video using bellow link. I hope you will understand. If still not understand please let me know. thank you

https://drive.google.com/file/d/1M8QXGBUkpbdiyrOYJy10GgP_VRHbmSsG/view?usp=sharing

[2022-09-12 10:18] hamza-saqib opened #6707 "Class "Webkul\Core\Console\Commands\Install" does not exist"
# Bug Report
getting this error while running composer install
Class "Webkul\Core\Console\Commands\Install" does not exist

## Issue Description
Class "Webkul\Core\Console\Commands\Install" does not exist

## Preconditions
clone latest code from master branch on shared hosting. and run composer install.

## Bagisto Version

- [ ] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## St

[2022-09-12 17:52] B2rana opened #6708 "Add [_token] to fillable property to allow mass assignment on [Webkul\Velocity\Models\VelocityMetadata]"
In the latest version of Bagisto v1.4.4, $guarded property is missing from 'Webkul\Velocity\Models\VelocityMetadata' file which throw an error when the user try to save velcoty meta-data.

Current code:
[code]

Previous version code:
[code]

[2022-09-12 18:24] B2rana opened #6709 "Undefined array key "sort""
Hi,

During assigning custom permissions to a role, if the user selects only child permissions without its parent, then the system will throw an error to those users' accounts who are associated with this role.

Please see attached image for reference.

![permission-issue](https://user-images.githubusercontent.com/1181404/189728039-afb3b197-9abd-449d-aa0c-1c50c7242c3c.gif)

[2022-09-13 05:25] Sanjaybhattwebkul commented on #6709
Hi there,
Which **version** of Bagisto are you using?

[2022-09-13 05:30] Sanjaybhattwebkul commented on #6708
Hi there,
Are you asking about this issue? :  https://github.com/bagisto/bagisto/issues/6687

[2022-09-13 05:31] papnoisanjeev commented on #6708
@B2rana @Sanjaybhattwebkul

Already added:
https://github.com/bagisto/bagisto/blob/master/packages/Webkul/Velocity/src/Models/VelocityMetadata.php#L12

[2022-09-13 05:32] Sanjaybhattwebkul commented on #6707
Hi there,
Can you please **elaborate**? When you are getting the **exception**.

[2022-09-13 05:36] #6708 closed

[2022-09-13 05:38] Sanjaybhattwebkul commented on #6708
@B2rana

The issue is **fixed** in our **master** branch and it will **reflect** in our **upcoming release.**

[2022-09-13 05:40] B2rana commented on #6709
I have found this issue on v1.4.3 & v1.4.4.

Note: I have not tested this on previous versions.

[2022-09-13 05:43] B2rana commented on #6708
Got it but it will be help full for others if you update this on v1.4.4 too. This is a minor change and also you have released a new version a few days ago.

[2022-09-13 07:10] Sanjaybhattwebkul commented on #6697
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://prnt.sc/FnWT9C_wK3p9), for future reference.

[2022-09-13 07:10] #6697 closed

[2022-09-13 08:49] #6706 closed, assigned to devansh-webkul

[2022-09-13 10:00] Sanjaybhattwebkul commented on #6685
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://prnt.sc/U3bV44tXQHca), for future reference.

[2022-09-13 10:00] #6685 closed

[2022-09-13 11:55] Sanjaybhattwebkul commented on #6705
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://prnt.sc/luwPtPOvhS44), for future reference.

[2022-09-13 11:55] #6705 closed

[2022-09-14 05:41] Sanjaybhattwebkul commented on #6699
@akathuria289

Any **update**?

[2022-09-14 08:03] Sanjaybhattwebkul commented on #6636
Is it **possible** to **share** the **screen recording** for the same?

[2022-09-14 11:28] jitendra-webkul commented on #6422
Fixed in #6422

[2022-09-14 11:28] #6422 closed

[2022-09-14 11:30] jitendra-webkul commented on #4386
Fixed in #6422

[2022-09-14 11:30] #4386 closed

[2022-09-14 11:58] Sanjaybhattwebkul commented on #6689
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/_IRDnwWH7GIz), for future **reference**.

[2022-09-14 11:58] #6689 closed

[2022-09-14 16:23] ghena opened #6716 "Drag and drop rows sorting"
I'm creating a module using just 10 rows using a datagrid.
There is a way to sorting rows using drag and drop feature ?

Regards.
.g

[2022-09-14 17:39] B2rana opened #6717 "Datagrid filter not working properly"
## Issue Description
In admin section, when user try to apply filters on datagrid, it's reset the value of other filters.

## Bagisto Version

- [ ] 1.4.4
- [ ] 1.4.3

## Steps To Reproduce
1. Apply "search text" & "items per page" filters with different values.
2. Then try to change the "locale" or "channel" filter value
3. It will reset the value of step 1 filter's values
4. If you try step 2 fi

[2022-09-15 07:58] Sanjaybhattwebkul opened #6719 "The guest user is not able to checkout."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Visit the shop.
**2.** Add any item to the cart.
**3.** Try to **checkout** the order.

**Expected result:** The **guest** user is **not** able to **checkout**.

**Actual result:** The page **redirects** to the **login page** if the guest user is **trying** to checkout.

[2022-09-15 08:01] Sanjaybhattwebkul commented on #6716
Hi there,
We **will implement** this **feature** in our feature **release**.

[2022-09-15 08:11] Sanjaybhattwebkul commented on #6717
Hi there,
For **this** please raise a **ticket** [Here](https://bagisto.uvdesk.com/en/)
Here we are **handling only** the issue related to **Bagisto core.**

[2022-09-15 08:11] #6717 closed

[2022-09-15 08:39] B2rana commented on #6717
Hi, but how this is not related to Bagisto core? Most of the issues raised on GitHub are related to UI. This issue is occurring in all the sections in the admin. If you still thinking that this is not related to Bagisto core then no problem I will resolve this on my own in my projects.

Thanks & Regards

[2022-09-15 10:45] papnoisanjeev commented on #6719
@Sanjaybhattwebkul

Guest checkout toggle button was missing on product edit page due to attribute got deleted someway.
So due to this guest was not able to checkout and page was redirecting to customer login page.

Please run below command:
**php artisan db:seed**

It should work as expected.

[2022-09-15 12:56] #6719 closed

[2022-09-16 07:34] ghena opened #6723 "ui-kit route hide or block using configuration"
Hi,

http://127.0.0.1:8000/ui-kit

bagisto shows this:

![image](https://user-images.githubusercontent.com/548424/190582663-e8d6d966-79b1-431a-b4a9-1f24b6ea49c3.png)

or

http://127.0.0.1:8000/helper-classess

![image](https://user-images.githubusercontent.com/548424/190582822-a7bad585-308c-4122-b62f-f635167b5880.png)

there is a way to delete this route using configuration ?

regards.
g.

[2022-09-16 11:13] Sanjaybhattwebkul commented on #6723
Hi there,
Can you please **elaborate**?

[2022-09-16 11:17] Sanjaybhattwebkul commented on #6709
Hi there,
I have **verified** this with **our v1.4.4** but everything is **working fine**, you can verify in our demo [site](https://demo.bagisto.com/)

I **guess** you **skip** some **steps** while installing the **Bagisto**.

[2022-09-16 11:58] ghena commented on #6723
is not a issue bu a features i Suppose.

There is a way to hide or delete this troutes:

 http://127.0.0.1:8000/ui-kit
http://127.0.0.1:8000/helper-classes

using an admin configuration or using APP_ENV=production  ?

I Hope now is more clear.

.g

[2022-09-19 05:18] Sanjaybhattwebkul opened #6725 "The category should not be updated for all locales if the admin is updating the category for any specific locale."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on the category inside the catalog section.
**3.** Click on edit any category.
**4.** Change the locale and fill all required field
**5.** Try to view the same category for another locale.

**Expected result:** The category should **not** be **updated** for **all** locales if the admin is updating the ca

[2022-09-19 06:08] Sanjaybhattwebkul opened #6726 "The page should be redirected to the cart rule if the user has no permission for the catalog rule."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Create a **new use**r and **do not** give **permission** for the **catalog** rule.
**3.** Login as a created user.
**4.** Click on **promotion** inside the marketing tab.

**Expected result:** The page should be **redirected** to **the cart rule** if the user has **no permission** for the **catalog rule.**

**

[2022-09-19 06:14] Sanjaybhattwebkul commented on #6699
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have **attached** a screenshot [Here](https://prnt.sc/0JvlJ3arJiJX), for **future** reference.

[2022-09-19 06:14] #6699 closed

[2022-09-19 06:16] Sanjaybhattwebkul commented on #6646
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have **attached** a screenshot [Here](https://prnt.sc/diD_vwcpwrHU), for **future** reference.

[2022-09-19 06:16] #6646 closed

[2022-09-19 06:17] Sanjaybhattwebkul commented on #6699
Fixed by https://github.com/bagisto/bagisto/pull/6720

[2022-09-19 07:49] papnoisanjeev commented on #6725
@Sanjaybhattwebkul

As checked data is saving fine (Name, Description) as per selected locale.
You need to refresh the page at front-end if making change in category slug form admin panel.

[2022-09-19 07:50] papnoisanjeev commented on #6725
@Sanjaybhattwebkul

As checked data is saving fine (Name, Description) as per selected locale.
You need to refresh the page at front-end if making change in category slug form admin panel.

[2022-09-19 08:20] Sanjaybhattwebkul commented on #6725
@papnoisanjeev

The **category slug** should be **differnent** for all **locales**.

[2022-09-19 08:26] vivek-webkul commented on #6725
@papnoisanjeev
[Make check for the requested locale only.](https://github.com/bagisto/bagisto/blob/master/packages/Webkul/Category/src/Repositories/CategoryRepository.php#L289)

[2022-09-20 06:05] Sanjaybhattwebkul commented on #6725
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.

[2022-09-20 06:05] #6725 closed

[2022-09-20 10:22] Sanjaybhattwebkul opened #6729 "The SKU should be visible if the admin is adding any product to the bundle product."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on products inside the catalog section
**3.** Create a **bundle product**
**4.**  Search any **variant** of configurable product for **adding** to **bundle** product.

**Expected result:** The **SKU** should be **visible** if the admin is **adding** any product to the **bundle** product.

**Actual result

[2022-09-20 11:57] Sanjaybhattwebkul opened #6732 "Getting exception if the customer is trying to move product from cart to wishlist"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an customer.
**2.** Add any product into the cart.
**3.** View the shopping cart.
**4.** Move product to the wishlist.

**Expected result:** The admin should be able to **move** the product to the **wishlist**.

**Actual result:** Getting **exception** if the customer is trying to **move** product from **cart** to **wishlist**

[2022-09-21 07:24] Sanjaybhattwebkul opened #6735 "In Mobile product showing only on click"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Open shop on mobile view

**Expected result:** The products should be visible **without clicking** on the screen on mobile.

**Actual result:** In Mobile product showing only on click

[2022-09-21 08:21] Sanjaybhattwebkul commented on #6732
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://prnt.sc/v2GRYzEaKhbU), for future reference.

[2022-09-21 08:21] #6732 closed

[2022-09-22 05:16] Sanjaybhattwebkul commented on #6709
Hi there,
**Thanks for reporting** we will **fix** this issue in our **next release.**

[2022-09-22 05:40] Sanjaybhattwebkul opened #6737 "The admin is able to create a bundle of products without adding products to the bundle products."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on products inside the catalog section.
**3.** Create a bundle product.
**4.** Do not add any product to this bundled product.
**5.** Visit the shop.
**6.** Try to add to the cart the created product.

**Expected result:** The **bundle items** field should be **required** if the admin is creating the bun

[2022-09-22 05:44] Sanjaybhattwebkul opened #6738 "The advertisement images should be clickable on the home page."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Visit the shop
**2.** Try to click on the advertisement images.

**Expected result:** The **advertisement** images should be **clickable** on the home page.

**Actual result:** The advertisement images **are not clickable** on the home page. Please find the screenshot [Here](https://prnt.sc/WeLPU5Ox1i70)

[2022-09-22 09:09] Sanjaybhattwebkul opened #6739 "There should not be any translation issue when the admin is creating the product."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on the product inside the catalog section.
**3.** Create a new product.

**Expected result:** There should **not be** any **translation** **issue** when the admin is **creating** the **product**.

**Actual result:** There is a **translation issue** when the admin is **creating** the **product**. Please f

[2022-09-23 05:24] Sanjaybhattwebkul opened #6743 "The blank dropdown is showing on the shop by category section if there are no categories for any locale"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Create some **categories** only in English.
**3.** Visit on shop and **mouse over** on shop by category section.

**Expected result:**  The blank dropdown should not be visible if there is no category for any specific locale.

**Actual result:** The **blank dropdown** is showing on the **shop by category** sec

[2022-09-23 05:48] Sanjaybhattwebkul opened #6744 "There should be a mouse-hover effect for the admin submenu in the dark theme."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an **admin** in the dark theme
**2.** Mouse over and menu and submenu in the sidebar.

**Expected result:** There should be a **mouse-over** effect for the admin **submenu** in the **dark theme.**

**Actual result:** There is **no mouse-over** effect for **submenus** in the **admin panel.** Please find the screenshot [Here](ht

[2022-09-23 06:10] Sanjaybhattwebkul opened #6745 "The admin should be able to Approve/disapprove the guest customers review."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Visi the shop.
**2.** Click on any product.
**3.** Review any product.
**4.** Login as an admin
**5.** Try to approve the guest customer's review.

**Note: The comment on the review should be at least 50 words.**

**Expected result:** The admin should be able to **Approve/disapprove** the **guest customers** review.

**Actual result:**

[2022-09-23 06:26] Sanjaybhattwebkul opened #6747 "There is a translation issue if the customer is creating/editing the address."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as a customer with the Arabic locale.
**2.** Click on the address inside the profile section.
**3.** Try to create / Delete any address.
**4.** Try to click save as the default address.

**Expected result:** There should not be any translation issue in the customer address section.

**Actual result:** There is a **translation** i

[2022-09-23 11:05] Sanjaybhattwebkul commented on #6702
Hi there,
**Thanks** for reporting, we will **fix** this issue in our **next release.**

[2022-09-23 11:16] Sanjaybhattwebkul commented on #6702
Actually, the transaction is not created for the order so the customer is getting the warning message.

[2022-09-23 11:20] akathuria289 opened #6749 "On Customer end other locale PDF is not translated properly"
Bagisto Version: Master

Steps To Reproduce--

1. Log in as a customer with the Arabic locale.
2. Click on the orders inside the profile section.
3. Click on the Action icon and then the invoice section.
4. Then print the invoice
5. Then Translate ( by Google translator ) the text that is in Arabic

Expected result: There should not be any translation issue in the PDF

[2022-09-24 09:42] kb-s commented on #6744
hey @Sanjaybhattwebkul, I guess It should be mouse-hover effect if I'm not wrong!

[2022-09-26 05:17] Sanjaybhattwebkul opened #6750 "The cart summary should be on the left side of the product's details."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as a customer
**2.** Change app locale to Arabic locale.
**3.** Add some items to the cart.
**4.** Go to the shopping cart.

**Expected result:** The cart **summary** should be on the **left side** of the product's **details**.

**Actual result:** The cart **summary** is **below** of the product's **details** on the **cart page**

[2022-09-26 09:10] #6745 closed

[2022-09-26 10:37] Sanjaybhattwebkul opened #6753 "The cart summary should be on the left side of the order summary on the checkout page."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as a customer.
**2.** Change app locale to Arabic.
**3.** Add any item to the cart.
**4.**  Process for checkout.

**Expected result:** The **cart summary** should be on the **left side** of the **order** summary on the **checkout** page.

**Actual result:** The **cart summary** is below the **order** summary on the **checkout**

[2022-09-26 12:30] Sanjaybhattwebkul opened #6755 "There should not be any warning if the admin is creating the catalog rule with the product's name."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on **catalog rules** inside the promotions.
**3.** Create a new catalog rule.
**4.** Select the **Name** from the **condition** dropdown.

**Expected result:** There should not be any **warning** if the admin is creating the **catalog** rule with the **product's name.**

**Actual result:** There is a **w

[2022-09-27 04:53] JunaidJaved248 commented on #6738
@Sanjaybhattwebkul Please assign this issue to me. Thanks

[2022-09-27 04:55] JunaidJaved248 commented on #6753
Hi @Sanjaybhattwebkul If you have not started working on it, Please assign it to me. I will work on it

[2022-09-27 05:02] JunaidJaved248 commented on #6747
@Sanjaybhattwebkul Assign it to me if you have not started working on it

[2022-09-27 05:05] JunaidJaved248 commented on #6755
@Sanjaybhattwebkul I want to work on this issue also. Assign it to me.
I want to clarify one thing that when user select name is equal to then no warning should be shown Right? As you mentioned in screenshot..

[2022-09-27 05:57] Sanjaybhattwebkul opened #6756 "The customer should not be able to view the product if the Visible Individually is disabled."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on products inside the catalog
**3.** Edit any product and disable **Visible Individually**
**4.** Try to view the updated product.

**Expected result:** The customer should not be able to **view** the **product** if the **Visible Individually** is **disabled**.

**Actual result:** The admin/ customer is

[2022-09-27 06:28] Sanjaybhattwebkul opened #6757 "The footer middle content should be visible on the velocity theme."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on velocity inside the settings.
**3.** Add footer middle content.
**4.** Try to view the added content on the velocity footer section.

**Expected result:** The **footer middle content** should be **visible** on the **velocity** theme.

**Actual result:** The **footer middle content** is not **visible**

[2022-09-27 06:40] Sanjaybhattwebkul opened #6758 "Translation issue with paypal standard payment method on the checkout page"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in a customer.
**2.** Add any product to the cart.
**3.** Process for checkout of the order.
**4.** Try to select the Paypal standard payment method.

**Expected result:** There should not any **translation** issue with **paypal standard** payment method on the **checkout** page

**Actual result:** There is a **Translation** issue w

[2022-09-27 07:07] Sanjaybhattwebkul opened #6759 "The filters are not working on the shop by category page"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an **admin**
**2.** Create a product and set the **Customer Group** price
**3.** Login as a customer.
**4.** Try to **shop by category.**
**5.** Filter the products by the **cheapest first**  filter

**Expected result:** The **filters** should be **working** properly on the **shop by category** page.

**Actual result:** The fi

[2022-09-27 09:34] JunaidJaved248 commented on #6757
@Sanjaybhattwebkul Assign it to me.

[2022-09-27 09:35] JunaidJaved248 commented on #6759
@Sanjaybhattwebkul Assign it to me.

[2022-09-27 10:07] ashishkumar-webkul opened #6760 "We are able to save the old dates which are already passed.while adding special price for any product"
## Issue Description
When we are applying Special Price in the Product from the Admin end, there when we fill the Start Date and End Date, there when we fill the old dates which are already passed and then when we save the Product. We are able to save the Product.

## Bagisto Version
**MASTER**

## Steps To Reproduce
**1.** Go to Admin -> Catalog -> Products -> Create/Edit -> Price -> Special Pric

[2022-09-27 10:20] Sanjaybhattwebkul opened #6761 "Order table blank on customer's panel. If the currency is deleted by the admin in which the order is created."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as a customer.
**2.** Create an order with **EURO** currency.
**3.** log in as an admin.
**4.** Delete the **EURO**  currency.
**5.** Go to the customer panel
**6.** Try to view the created order.

**Expected result:** The customer should be able to **view** the **orders**. If the currency is **deleted** by the admin in which the

[2022-09-27 13:41] ilyas-yaqoob opened #6765 "Cart item image have issue when child image not uploaded."
# Bug Report

## Issue Description

## Preconditions

## Bagisto Version

- [x] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Steps To Reproduce

packages/Webkul/Product/src/Type/Configurable.php
Line# 804
 public function getBaseImage($item)
    {
        if ($item instanceof \Webkul\Customer\Contracts\Wishlist) {
            if (isset($item->additional['selected_configurable_

[2022-09-27 13:43] ilyas-yaqoob commented on #6765
Replace the function with

    public function getBaseImage($item)
    {
        if ($item instanceof \Webkul\Customer\Contracts\Wishlist) {
            if (isset($item->additional['selected_configurable_option'])) {
                $product = $this->productRepository->find($item->additional['selected_configurable_option']);
            } else {
                $product = $item->product;

[2022-09-27 14:11] ghena commented on #6703
I investigate further and:

Request URL: http://127.0.0.1:8000/admin/cms?v=1&page=1
Request Method: GET
Status Code: 500 Internal Server Error
Remote Address: 127.0.0.1:8000
Referrer Policy: no-referrer-when-downgrade
Missing required parameter for [Route: shop.cms.page] [URI: page/{slug}] [Missing parameter: slug].

Please help.

[2022-09-28 05:23] Sanjaybhattwebkul commented on #6765
@ilyas-yaqoob

As I **checked** on our **latest versio**n this is **working** fine, please find the screenshot [Here](https://tinyurl.com/2pqzgor6
)

![one](https://user-images.githubusercontent.com/86394952/192694285-b99d4a05-e30e-4528-a62e-e5e26df66bd1.png)

![two](https://user-images.githubusercontent.com/86394952/192694318-a0346ea3-caf8-4098-ac9f-6065de8b7ad9.png)

[2022-09-28 05:35] #6744 closed

[2022-09-28 05:36] #6750 closed

[2022-09-28 06:25] ilyas-yaqoob commented on #6765
@Sanjaybhattwebkul I'm using master branch.

Let me share you the screen short one child have image and one dont have.
<img width="1263" alt="Screen Shot 2022-09-28 at 10 21 53 AM" src="https://user-images.githubusercontent.com/61551102/192703480-7a8e62fc-7961-4f95-9e72-fb83d213a676.png">
<img width="555" alt="Screen Shot 2022-09-28 at 10 22 51 AM" src="https://user-images.githubusercontent.com/61

[2022-09-28 06:56] Sanjaybhattwebkul commented on #6765
@ilyas-yaqoob
**Thanks** for **reproting**, we will **fix** this issue in our **next** release.

[2022-09-28 07:32] Sanjaybhattwebkul opened #6767 "The address sequence should be correct on the checkout page"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as acustomer.
**2.** Add any item to the cart.
**3.** Process for checkout.
**4.** Add a new billing address.

**Expected result:** The address **sequence** should be correct on the **checkout page**. please take a **reference** from the below screenshot.

**Actual result:** The address **sequence** is not in the **correct** form

[2022-09-28 10:19] Sanjaybhattwebkul opened #6769 "The quantity box is not visible for bundle products if the select type is a checkbox for bundle items."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an **admin**.
**2.** Create a **bundle** product.
**3.** Click on **add option** inside the **bundle** item.
**4.** Select the **checkbox** on the **input type** dropdown.

**Expected result:** The **quantity box** should be **visible** for bundle **products** for all **select types** of bundle items.

**Actual result:** The *

[2022-09-28 11:07] Sanjaybhattwebkul opened #6770 "The inactive and out-of-stock products are also visible on the search result if the admin is adding products on group and bundle product."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an **admin**.
**2.** Click on products inside the catalog tab.
**3.** Create a **bundle** product.
**4.** Try to add any inactive or **out-of-stock** product to **bundle** items.

**Expected result:** The **inactive** and **out-of-stock** products should **not** be **visible** on the **search** result if the admin is adding pr

[2022-09-28 11:51] Sanjaybhattwebkul commented on #6769
@jitendra-webkul
As we **discuss** this is not an issue, so I am **closing** this issue.

[2022-09-28 11:51] #6769 closed

[2022-09-29 05:38] Sanjaybhattwebkul opened #6771 "The page should be redirected to the product-view page after clicking on the product's name"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on the products inside the **catalog**.
**3.**  Edit any **group/bundle** product.
4. Try to **click** on the product's name inside **Grouped Products** section.

**Expected result:** The page should be **redirected** to the **product-view** page after clicking on the **product's name**

**Actual result:

[2022-09-29 06:34] Sanjaybhattwebkul opened #6772 "There should not be any translation issue on the checkout page."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as a customer.
**2.** Change app locale to Arabic.
**3.** Add any item to the cart.
**4.** process for checkout.
**5.** Try to select the shipping method.

**Expected result:** There should not be any translation issue on the **checkout** page.

**Actual result:** There is a **translation** issue on the **checkout** page if the c

[2022-09-29 11:45] papnoisanjeev commented on #6757
@Sanjaybhattwebkul

Please check: https://github.com/bagisto/bagisto/pull/6420
No need to add as previously removed by team as per request (SEO).

[2022-09-30 05:30] Sanjaybhattwebkul opened #6775 "The cart summary should be on the left side of the billing address on the checkout page."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as a **customer**.
**2.** Change the app locale to **Arabic**.
**3.** Add any items to the cart.
**4.** Process for **checkout** page.
**5.** Select the **billing** address.

**Expected result:** The **cart summary** should be on the **left side** of the billing **address** on the **checkout** page.

**Actual result:** The cart s

[2022-09-30 06:10] Sanjaybhattwebkul opened #6776 "Translation issue with per Page filter on the customer's order page"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as a customer.
**2.** Click on orders inside the profile section.
**3.**  Try to filter the orders with the **per page** filter.

**Expected result:** There should not be any **translation** issue on the **customer** orders page.

**Actual result:** Translation issue with **per Page** filter on the customer's **order** page. Plea

[2022-09-30 06:19] Sanjaybhattwebkul opened #6777 "The placeholder is overriding the search icon in the search box on the customer orders page"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as a customer.
**2.** Change App locale to **Arabic**.
**3.** Click on orders inside the profile section.
**4.** Try to search any order.

**Expected result:** The **placeholder** should be in the **center** of the **search box** on the customer **orders** page.

**Actual result:** The **placeholder** is **overriding** the **sear

[2022-09-30 06:28] Sanjaybhattwebkul opened #6778 "Clear all text should be in the center of the filter liable if the customer is trying to filter the orders."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in a customer.
**2.** Change app locale to **Arabic**.
**3.** Click on **orders** inside the **profile** section.
**4.** Apply **filter** on **orders**.
**5.** Try to **remove** all applied **filters**.

**Expected result:**  **_Clear all_** text should be in the center of the **filter liable** if the customer is trying to filter th

[2022-09-30 06:48] Sanjaybhattwebkul opened #6779 "UI issue on the trash and wishlist icons on the cart page in mobile view"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in a customer on mobile
**2.** Add some items to the cart.
**3.** View the shopping cart.
**4.** Try to remove the item from the cart.

**Expected result:** The **trash** and **wishlist** icons should be on a single row on the **mobile** view.

Device name:  **iPhone SE**

**Actual result:**  UI issue on the **trash** and **wishlist

[2022-09-30 06:58] Sanjaybhattwebkul opened #6780 "The checkbox should be just below the input box on the checkout page."
**Bagisto Version:** Master

**Steps To Reproduce**--

**1.** Log in a customer on mobile
**2.** Change the app locale to Arabic.
**3.** Add some items to the cart.
**4.** Process for checkout.
**5.** Add a new billing address.

**Expected result:** The **checkbox** should be just **below** the **input** box on the **checkout** page.

**Device name:** iPhone SE

**Actual result:** The **Checkboxes

[2022-09-30 07:15] Sanjaybhattwebkul opened #6781 "The filters are not visible in the shop by category section.in mobile view"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as a customer in the **mobile** view.
**2.** Shop by selecting any **category**.
**3.** Try to apply **per page** filter.

**Expected result:** The **filters** should be **visible** in the **shop by category** section in the **mobile** view.

**Actual result:** The **filters** are **not visible** in the **shop by category** secti

[2022-09-30 07:20] Sanjaybhattwebkul commented on #6778
The **mouse** **property** should a be **pointer** for the **clear all** text.

[2022-09-30 07:37] Sanjaybhattwebkul opened #6782 "Remove unnecessary labels while shoring the table in the admin panel."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on orders inside the catalog section.
**3.** Try to short the table.

**Expected result:** Remove **unnecessary** labels while shoring the **table** in the admin panel.

**Actual result:**  The **Extra** labels are **visible** after applying **shorting** on the **table** in the admin panel.Please find th

[2022-09-30 09:16] Sanjaybhattwebkul commented on #6760
@jitendra-webkul
As we **discuss** this is not an issue so I am **closing** this issue.

[2022-09-30 09:16] #6760 closed

[2022-09-30 12:09] Sanjaybhattwebkul opened #6785 "option to adding a configuration field in admin panel."
### Expected result:

**Should be an option to adding a configuration field. please find the screenshot [Here](https://prnt.sc/v3J6cMHB0JE5)**

[2022-09-30 12:54] Sanjaybhattwebkul opened #6786 "The total price of each product should be visible on the cart page."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as a customer in the **default theme.**
**2.**Add any item to the cart. with multiple quantities.
**3.** View the shopping cart.

**Expected result:** The **total price** of each product **should** be **visible** on the cart page.

**Actual result:** The **total price** of **each** product is **not visible** on the cart page.Plea

[2022-09-30 18:30] JunaidJaved248 commented on #6786
@Sanjaybhattwebkul Assign it to me. Please I am working on it.

[2022-10-01 04:56] uzerjamal commented on #6782
I can work on it and fix it

[2022-10-01 05:01] aniketh-varma commented on #6775
Hi @Sanjaybhattwebkul, I would like to take up this issue.

[2022-10-01 11:07] asi309 commented on #6770
I can work on this fix. Please assign it to me

[2022-10-01 11:09] asi309 commented on #6759
I can work on this issue

[2022-10-01 14:03] saurabh042 commented on #6738
@Sanjaybhattwebkul could you please assign this to me if its not already assigned?

[2022-10-01 15:42] kazimsayed954 commented on #6779
assign this issue to me i will help you out with this issue

[2022-10-01 16:56] rsarthak commented on #6780
please assign this to me...

[2022-10-01 18:06] saimaheshtaduri commented on #6786
I am ready to take up this issue, please assign it to me. @Sanjaybhattwebkul

[2022-10-01 18:07] saimaheshtaduri commented on #6778
I can work on this. Assign it to me. @Sanjaybhattwebkul

[2022-10-02 08:04] nooras commented on #6781
Hi I wanted to work on this. Can you please assign me ? Thanks

[2022-10-02 08:09] nooras commented on #6776
Hi I wanted to work on this issue. Can you please assign it to me @Sanjaybhattwebkul  ? Thanks

[2022-10-02 15:36] Aniket-508 commented on #6781
Hi, I wanted to work on this issue. Can you please assign me @Sanjaybhattwebkul ?

[2022-10-02 18:43] iamakhileshmishra commented on #6738
@Sanjaybhattwebkul Could you please assign this issue to me? I would love to solve this issue

[2022-10-03 05:01] Sanjaybhattwebkul commented on #6772
@jitendra-webkul
I am **closing** this issue because we need to add the shipping method from the **admin** panel. please find the screenshot [Here](https://prnt.sc/BomI-DxCg_Bq).

[2022-10-03 05:01] #6772 closed

[2022-10-03 05:42] #6785 closed

[2022-10-03 05:44] #6786 closed

[2022-10-03 05:45] Sanjaybhattwebkul commented on #6786
@jitendra-webkul
As we discuss this is not in our design, so I am closing this issue.

[2022-10-03 05:58] Sanjaybhattwebkul opened #6793 "There should be a proper space between the cross and wishlist icon on the compare product's page."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as a **customer**
**2.** Add any product to the compare.
**3.** Click on **compare** icon in the top right corner.

**Expected result:** There should be a proper **space** between the **cross** and **wishlist** icon on the **compare product's** page.

**Actual result:** The **space** between the **cross** and **wishlist** **icon*

[2022-10-03 06:01] imanpalsingh commented on #6793
Hey can I pick this up?

[2022-10-03 09:52] Sanjaybhattwebkul opened #6796 "There should be a default image of the product on the product review page if no actual image for that product."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Create a **configurable product.**
**3.** Do **not** upload **images** for the parent product.
**4.** Visit the **shop**.
**5.** Try to review the created product.

**Expected result:** There should be a d**efault image** of the product on the product **review page** if no actual image for that product.

**Act

[2022-10-03 10:17] Sanjaybhattwebkul opened #6797 "Translation issue on footer section in default there,"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Visit the shop in the **default theme.**
**2.** Change app locale to **Arabic**.
**3.** Go to the **footer section.**
**4.** View the **categories**.

**Expected result:**  Should not be  any  **translation** issue on **footer** section in **default there,**

**Actual result:**  There is a translation issue on **footer section** in defa

[2022-10-03 10:32] Sanjaybhattwebkul opened #6799 "The warning message should be meaningful if the inactive user is trying to place an order."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in a customer. and add any **item** to the **cart**.
**2.** Process for checkout.
**3.** Goto admin panel and **inactive** the **same user.**
**4.** Again come to the **shop**.
**5.** Continue the **checkout** process.

**Expected result:** The warning **message** should be **meaningful** if the **inactive** user is trying to **plac

[2022-10-03 10:46] GergoKormoczy opened #6800 "All categories return 404 on server"
# Bug Report

localhost is fine but after deployment for ubuntu server the categories return 404
product page is working but when I search for product "not found" - still working on localhost

APP_URL=https://dirrdurr.karmaxi.dev - set && off course set hostname on default channel: https://dirrdurr.karmaxi.dev.

## Issue Description

## Preconditions

## Bagisto Version

- [x] 1.4.3

## Steps To R

[2022-10-03 10:47] Hermes179 commented on #6796
Hey, @Sanjaybhattwebkul  I can give it a go can you assign this issue to me?

[2022-10-03 10:52] GergoKormoczy commented on #6800
Yes, sure.

![screencapture-dirrdurr-karmaxi-dev-admin-catalog-products-2022-10-03-12_51_44](https://user-images.githubusercontent.com/84326426/193560250-d3b2c4d3-e6ef-4798-bf12-423e9f3e6e98.jpg)

[2022-10-03 10:53] Sanjaybhattwebkul commented on #6800
@GergoKormoczy
I guess you don't created the category for the selected locale.

[2022-10-03 10:58] GergoKormoczy commented on #6800
I created my categories after set the language but now I created a new one same issue, not working. I cannot delete English, or how can I resolve this?

[2022-10-03 11:04] Sanjaybhattwebkul commented on #6800
Hi there,
Please take a **reference** from [Here](https://prnt.sc/5LRQBT0EXP8R)

[2022-10-03 11:07] GergoKormoczy commented on #6800
I already done before open this issue as you can see this image.

![screencapture-dirrdurr-karmaxi-dev-admin-catalog-categories-edit-4-2022-10-03-13_06_26](https://user-images.githubusercontent.com/84326426/193562715-bbad5e5d-0e9d-443e-8fcf-dac199f8d518.jpg)

[2022-10-03 11:14] FaithKovi commented on #6799
Hello, @Sanjaybhattwebkul I want to help with this issue. Please assign

[2022-10-03 11:59] shubh-mehrotra commented on #6753
This issue should get fixed by this PR - https://github.com/bagisto/bagisto/pull/6805

[2022-10-03 18:07] JunaidJaved248 commented on #6799
@Sanjaybhattwebkul Issue Fixed. You can test it also

[2022-10-03 20:04] IAmTamal opened #6810 "Updates : New issue templates using .yml instead of .md 🛠"
## What i am suggesting to update ?

I am suggesting to update the Issue templates , currently we are using `.md` files instead of the brand new issue forms with `.yml` files which makes it more easier to fill in the data and raise an issue !

## Why to update it ?

Adding an issue Template allows you to organize the issues made by folks in a much better way.
 - We can know if someone wants to wri

[2022-10-03 21:43] Miyuru-Bhashitha-amarasiri commented on #6759
Dear @Sanjaybhattwebkul. Please assign me to this.

[2022-10-03 22:56] Gbemi-m commented on #6779
I'd like to be assigned to work on this

[2022-10-04 05:07] Sanjaybhattwebkul commented on #6800
Hi there,
Please **select** the **category** of the **products** inside the categories section, and the **issue** will be **resolved**.
Please take a **reference** from [Here](https://prnt.sc/ai4g6-6XHx-D)

[2022-10-04 05:29] Sanjaybhattwebkul commented on #6810
Hi @IAmTamal
**Thanks** for reporting. you can **contribute** to this.

[2022-10-04 05:33] Sanjaybhattwebkul opened #6813 "There is a translation issue on the product's view page. if tax includes any product."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Visit the shop.
**2.** Change the app locale to Arabic.
**3.** Click on any product which includes the tax.

**Expected result:** There should not be any  **translation** issue on the product's **view** page. if **tax** **includes** any product.

**Actual result:** There is a **translation** issue on the product's **view** page. if **ta

[2022-10-04 05:35] ashishkumar-webkul opened #6814 "Mobile View -> Product Special Price Default Text and Calendar Icon UI Issue."
## Issue Description
When creating a **new Product** and **Editing** a Product, while inspecting in **Mobile View**, the price section is having UI Issue. The **Default text** and **Calendar and cross icon** is not in proper position.

## Bagisto Version
**MASTER**

## Steps To Reproduce
**1.** Create or Edit a product -> Price Section -> Inspect in Mobile View.
**2.** There see the **Default Text

[2022-10-04 05:43] JunaidJaved248 commented on #6814
@Sanjaybhattwebkul @ashishkumar-webkul can you please assign it to me. I can fix it

[2022-10-04 06:12] Ishika414 commented on #6814
I would like to work on this issue. Please assign it to me

[2022-10-04 06:50] IAmTamal commented on #6810
@Sanjaybhattwebkul Made the PR for the respective issue : #6818
Do let me know if something more needs to be changed.

[2022-10-04 06:50] ashishkumar-webkul opened #6820 "UI Issue -> Mobile Inspect View -> Customer Group Price adding details in price section is having less Space."
## Issue Description
When **creating** a Product or **Updating**, there in **price section** we add **Customer group Price**, inspect the detail in **mobile view** and there we can see the UI issue. **Customer Group, QTY and Price** is having **less space** and at the cross icon, we can see **unused space**. This can be used for Spacing for a better UI.

## Bagisto Version
**MASTER**

## Steps To

[2022-10-04 06:51] Sanjaybhattwebkul opened #6821 "The add page button should be slightly right side in the mobile view."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin on mobile.
**2.** Click on pages inside the **CMS tab.**
**3.** Try to add a new page.

Device name: **iPhone SE**

**Expected result:** The **add page** button should be **slightly** **right** side in the **mobile view.**

**Actual result:** The **add page** and **export** buttons are overlapping in the mobile view.

[2022-10-04 10:23] gagandeepp commented on #6821
@Sanjaybhattwebkul  please assign

[2022-10-04 10:26] ashishkumar-webkul opened #6822 "The invoice table should be responsive in customer panel on mobile view."
## Issue Description
In customer profile, when we check the order section, there in invoice when we inspect the details in mobile view, we cannot see the scroll bar below the table content. Entire page is responsive.

## Bagisto Version
**MASTER**

## Steps To Reproduce
**1.** Go to Customer Profile -> Orders Section -> View Order -> Invoice -> Inspect in mobile view -> Check the table -> Scroll B

[2022-10-04 10:42] ashishkumar-webkul opened #6823 "The product's image is cropped in mobile view in wishlist page."
## Issue Description
After adding the product to the wishlist and then inspecting the details in mobile view we can see the images are not appearing properly.

## Bagisto Version
**MASTER**

## Steps To Reproduce
Store Front -> Add Product to wishlist -> Go to wishlist -> Inspect the details in mobile view.

## Actual Result
Please check the screenshot for a better understanding of the issue.

![W

[2022-10-04 10:53] Anikalp1 opened #6824 "Will be adding a scroll to top button."
**Website does not contains a scroll to top button, which leads to more and more scrolling by user while surfing, and ultimately leads to lack of focus.**

1. [ ] **_I will be adding a scroll to top button._**

SCREENSHOT:
![Screenshot (89)](https://user-images.githubusercontent.com/96365444/193801417-84f3c54e-677e-4a2e-81cd-429ceadc7b25.png)

[2022-10-04 11:31] #6824 closed

[2022-10-04 12:13] Gbemi-m commented on #6822
I'd like to be assigned to this issue

[2022-10-04 12:20] Gbemi-m commented on #6821
I'd like to work on this issue

[2022-10-04 12:21] Gbemi-m commented on #6820
I'd like to work on this issue

[2022-10-04 13:36] foreverabhi2002 commented on #6821
Hey @Sanjaybhattwebkul assign this to me I'd like to work on this issue

[2022-10-04 16:46] JunaidJaved248 commented on #6821
@Sanjaybhattwebkul This Issue Fixed in #6827 PR. Please check it out
Thanks

[2022-10-04 17:32] tobiasrieper040147 commented on #6767
can I work on this?

[2022-10-04 17:40] JunaidJaved248 commented on #6821
![image](https://user-images.githubusercontent.com/42333336/193888767-c4c40ebb-5e36-4815-8204-59b5cd74a067.png)

[2022-10-05 09:05] GergoKormoczy commented on #6800
already configured, anyway I really appreciate your help. I don't know why but maybe damaged my db (deleted English language?) I deleted, reinstall bagisto migration, configured again (most carefully) and now it is working same as expected.

[2022-10-05 09:05] #6800 closed

[2022-10-05 12:33] nooras commented on #6781
Hi @Sanjaybhattwebkul
I made changes for filters can you please confirm it?
Before:
![image](https://user-images.githubusercontent.com/30138146/194060952-6c988c58-d1cf-4267-9c0f-b4aa3a8236c0.png)
After
![image](https://user-images.githubusercontent.com/30138146/194053649-2883bdf1-5e24-49e2-a48c-63f9919302e1.png)

Let me know if any changes are required.

[2022-10-05 12:37] the-kaushal-agrawal commented on #6767
pls assign this issue to me

[2022-10-05 12:37] the-kaushal-agrawal commented on #6743
pls assign this issue to me

[2022-10-05 16:59] forMedusa commented on #6823
I want to work on this, if it isn't resolved yet. If not this, then anything else related to development

[2022-10-05 17:02] forMedusa commented on #6820
I want to work on this.

[2022-10-05 19:00] tahiryasin commented on #6494
@Sanjaybhattwebkul could you please share the details of the fix, which file is affected?

[2022-10-05 19:45] JunaidJaved248 commented on #6822
@Sanjaybhattwebkul @ashishkumar-webkul Issue Fixed in #6831 `Fix Proposed`

[2022-10-06 00:03] Gbemi-m commented on #6823
@Sanjaybhattwebkul @ashishkumar-webkul  issue fixed #6832

[2022-10-06 01:56] shikhar13012001 commented on #6778
I would like to work on this. Can you assign this to me? @Sanjaybhattwebkul

[2022-10-06 03:17] adicoder95 commented on #6820
I am willing to work on this issue

[2022-10-06 06:28] Sanjaybhattwebkul opened #6835 "The discount information should be visible properly on the order information page."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as a customer.
**2.** Create an order after applying the coupon code.
**3.** View the created order.

**Expected result:** The **discount** information should be **visible** properly on the order **information page.**

**Actual result:** The **coupon** information is not  **visible** properly on the order **information page.** Pl

[2022-10-06 09:45] Sanjaybhattwebkul opened #6837 "Getting Exception, while the customer is trying to view all reviews of any product."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as a customer.
**2.** Click on any product.
**3.** Try to view all reviews of the same products.

**Expected result:** There should not be any **Exception**, while the customer is trying to **view all reviews** of any product.

**Actual result:** **Exception**, while the customer is trying to **view all reviews** of any product.

[2022-10-06 09:51] Sanjaybhattwebkul opened #6838 "Invoice design can be enhanced."
### Invoice design can be enhanced

![invoice](https://user-images.githubusercontent.com/86394952/194283106-8c1d3e81-c057-4ec8-8189-e505a1d62135.png)

[2022-10-06 09:58] Sanjaybhattwebkul commented on #6838
@kaustav202
Yes, sure you can contribute.

[2022-10-06 10:38] papnoisanjeev commented on #6837
@Sanjaybhattwebkul

As checked by giving some reviews to a product and approval from admin.
Not facing such issue in case there is some case please mention it here.
https://prnt.sc/XP3Bu1ERqpQP

[2022-10-07 03:18] VoidCupboard commented on #1166
Is this still still up for Hacktoberfest 2022? If so I would love to work on it

[2022-10-07 04:48] JunaidJaved248 commented on #6822
@Sanjaybhattwebkul Please check this #6839. I have closed existing due to merging issue. Surely This PR Fixed this Issue.

[2022-10-07 05:43] papnoisanjeev commented on #6837
@Sanjaybhattwebkul

As discussed and checked try to fetch latest updates using **(git fetch --all)** then reset your project using master branch, after publishing updates check again.

[2022-10-07 06:17] ashishkumar-webkul opened #6840 "Need Space in Product details in Category List View."
## Issue Description
In Category Section when we check the products in list and Grid view, we can see the product details appear more clear in Grid view as compared to List View.
In list view we need Proper Space in Product Name, Price, Review and Add to Cart Options.

## Bagisto Version
**MASTER**

## Steps To Reproduce
**1.** Go to Store Front -> Shop by Category -> Select Any Category -> View t

[2022-10-07 06:27] sutirthverma commented on #6840
Hey, I can work on this issue. Can you please assign it to me.

[2022-10-07 06:30] ashishkumar-webkul commented on #6840
Same Issue is found in the Wishlist Page. Please check the screenshot for the same.

**Screenshot**
![Wishlist](https://user-images.githubusercontent.com/92721837/194482374-15e3e86d-3553-420b-b609-6352aff3886f.png)

[2022-10-07 06:45] sreekuttykabmate commented on #3342
hi

[2022-10-07 06:46] ashishkumar-webkul opened #6841 "Product price should be bold in Compare Similar Items page"
## Issue Description
In **Compare Product Page**, the **Price** (Current Price without Discount or Special Price) should be **Bold** and **Highlighted**.

## Bagisto Version
**MASTER**

## Steps To Reproduce
**1.** Go to Store Front -> Add Products to Compare list -> Now go to Compare Product Page -> Check the Price Detail.

**NOTE - ADD BOTH SPECIAL PRICE PRODUCT AND NORMAL PRICE PRODUCT**

## Ac

[2022-10-07 07:43] Sanjaybhattwebkul opened #6844 "The orders status should be highlighted on the customer's Downloadable Products."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as a customer.
**2.** Add any downloadable to the cart.
**3.** Process for checkout.
**4.** View the ordered product.

**Expected result:** The **order status** should be **highlighted** on the customer's **Downloadable** Products.

**Actual result:**  The*order status** is not **highlighted** on the customer's **Downloadable** P

[2022-10-07 08:50] sutirthverma commented on #6840
Can you please tell me the source file in which I have to make changes

[2022-10-07 10:11] sutirthverma commented on #6840
Hey, can you share the source path of the stylesheet file in which I have to make changes

[2022-10-07 10:30] #6822 closed

[2022-10-07 12:57] Sanjaybhattwebkul opened #6847 "Actual image of the product is not showing on the product view page."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Visit the shop
**2.** Click on any product.

**Expected result:** Actual image of the product **should** be **visible** on the product **view page.**

**Actual result:**  Actual image of the product is **not showing** on the product **view page** Please find the screenshot [Here](https://prnt.sc/fCXGAK-fj8WY)

[2022-10-07 13:41] Sanjaybhattwebkul opened #6848 "There is a UI issue on the product's view page if the customer is trying to select the booking slot."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Visit the shop.
**2.** Click on any rental booking product.
**3.** Try to select the booking slot.

**Expected result:** There should not be any **UI issue** on the product's **view page** if the customer is trying to select the **booking slot**.

**Actual result:** There is a UI issue on the product's view page if the customer is tryin

[2022-10-07 13:54] Sanjaybhattwebkul opened #6849 "UI issue on shop by category page in Arabic locale."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Visit the shop on mobile.
**2.** Change app locale to Arabic.
**3.** Click on any category in the top left corner.
**4.** Try to filter by price.

**Expected result:**  There should not be any **UI issue** on the **shop by category** page in the **Arabic** locale.

**Actual result:** UI issue on shop by category page in Arabic locale. P

[2022-10-07 15:46] TheZal opened #6850 "Add the Italian translation"
I've seen that in the lang folder there isn't an Italian translation for the file.
I can add it if you want, just assign this issue to me and I'll do asap

[2022-10-07 23:39] Gbemi-m commented on #6820
@Sanjaybhattwebkul @ashishkumar-webkul  fixed this issue

[2022-10-08 02:51] shagun2405 commented on #6849
@Sanjaybhattwebkul assign this issue to me

[2022-10-08 02:51] shagun2405 commented on #6848
@Sanjaybhattwebkul assign this issue to me

[2022-10-08 08:41] nooras commented on #6781
ANY UPDATED @Sanjaybhattwebkul @saurav-webkul

[2022-10-09 09:59] KaminskiDaniell opened #6858 "Can I make polish translation?"
Hi, I would like to create a translation for your repository as part of the hacktoberfest action. Can I?

[2022-10-09 17:54] avijain09 commented on #6848
Please assign this issue to me @Sanjaybhattwebkul

[2022-10-09 17:54] avijain09 commented on #6840
Please assign this issue to me @ashishkumar-webkul

[2022-10-10 04:46] Sanjaybhattwebkul commented on #6850
Hi there,
the **Italian** translation is already added: https://github.com/bagisto/bagisto/tree/master/packages/Webkul/Velocity/src/Resources/lang/it

[2022-10-10 05:06] Sanjaybhattwebkul commented on #6858
Hi there,
The **Polish** translation is **already added:** https://github.com/bagisto/bagisto/blob/master/packages/Webkul/Shop/src/Resources/lang/pl/app.php

[2022-10-10 05:10] Sanjaybhattwebkul commented on #6838
@kaustav202
Any update?

[2022-10-10 05:39] Sanjaybhattwebkul commented on #6780
@jitendra-webkul
I am **closing** this issue because this issue is **fixed** by [This PR](https://github.com/bagisto/bagisto/pull/6808/), please find the **screenshot** [Here](https://prnt.sc/j5vQt0MUMtEQ)

[2022-10-10 05:39] #6780 closed

[2022-10-10 06:10] JunaidJaved248 commented on #6838
@Sanjaybhattwebkul If its not done or pending yet? Then Assign it to me.
And If you can provide any prefer design or required changes reference then  it will be good for this enhancement.

[2022-10-10 06:28] TheZal commented on #6850
I didn't see it! There are few errors, can I fix them?

[2022-10-10 06:55] jitendra-webkul commented on #6850
@TheZal sure would be appreciated

Please have a look at the following translations too:

https://github.com/bagisto/bagisto/tree/master/packages/Webkul/Admin/src/Resources/lang

https://github.com/bagisto/bagisto/tree/master/packages/Webkul/Core/src/Resources/lang/it

https://github.com/bagisto/bagisto/tree/master/packages/Webkul/Shop/src/Resources/lang/it

https://github.com/bagisto/bagisto/tree

[2022-10-10 06:59] TheZal commented on #6850
There are things that need to be fixed! Gonna do several prs for them! :)

[2022-10-10 07:03] Sanjaybhattwebkul commented on #6850
@TheZal,
**thanks** for reporting, you can create a **PR** for the same.

[2022-10-10 07:06] TheZal commented on #6850
Do you prefer a unique pr or multiple?

[2022-10-10 07:08] jitendra-webkul commented on #6850
You can create a single PR for the translations

[2022-10-10 07:15] Sanjaybhattwebkul commented on #6858
@KaminskiDaniell

Please have a look at the **following** translations too and If you want to do any **corrections** then you can, it would be **appreciated**

https://github.com/bagisto/bagisto/tree/master/packages/Webkul/Admin/src/Resources/lang/pl

https://github.com/bagisto/bagisto/tree/master/packages/Webkul/Core/src/Resources/lang/pl

https://github.com/bagisto/bagisto/tree/master/packages/W

[2022-10-10 07:31] Sanjaybhattwebkul opened #6860 "The product's weight can not be in a negative value"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Create a **configurable** product.
**3.** Add a negative value on the weight input field of any variant.

**Expected result:** The product's **weight** can not be in a **negative value**

**Actual result:** weight input box is taking a **negative value** if the admin is creating **configurable** products. plea

[2022-10-10 07:32] the-coder-asif commented on #6860
assign this to me

[2022-10-10 10:04] AshwinSatyawan opened #6861 "Grammer issue / Spelling mistakes in readme.md"
# Bug Report

## Issue Description
Grammer and spelling mistakes present on readme

## Preconditions

## Bagisto Version

- [x] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Steps To Reproduce
go to readme.md
*observe the spelling customisation in the headless commerce section (it should be customization)
*observe Commerce For Every Needs section there should be comma present a

[2022-10-10 10:06] AshwinSatyawan commented on #6861
assign to me

[2022-10-10 11:05] #6821 closed

[2022-10-10 12:15] Sanjaybhattwebkul commented on #6861
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.

[2022-10-10 12:15] #6861 closed

[2022-10-10 12:17] Sanjaybhattwebkul opened #6864 "The Refund, cancel and ship buttons should be slightly down of order id on the invoice page on in mobile view"
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click orders inside the **sales** tab.
**3.** Open any order and click on the **invoice** tab.

**Expected result:** The **Refund**, **cancel** and **ship** buttons should be slightly **down** of **order id** on the **invoice** page on  in **mobile** view

**Actual result:** The **Refund**, **cancel** and **sh

[2022-10-11 05:30] JunaidJaved248 commented on #6860
@Sanjaybhattwebkul Its Fixed with this #6866. Check it out

[2022-10-11 07:54] KarimQaderi opened #6867 "Convert date"
Hello
In bagisto, we need a possibility to convert the date to the date of our country

I want to do this and replace dates with core()->formatDate()

And put an event in formatDate

![image](https://user-images.githubusercontent.com/32425175/195028363-380737c7-732f-47cb-8d70-9150fa964de5.png)

![image](https://user-images.githubusercontent.com/32425175/195029666-dbd4e2a6-4a1b-43d9-bfe7-1d4e8d5918

[2022-10-11 09:11] jitendra-webkul commented on #6867
You can override the Core.php class and Bind your class to the Facace

[2022-10-11 09:28] KarimQaderi commented on #6867
Tnx
It is necessary to edit the blade files and add formatDate to the datagrid section

[2022-10-11 09:44] Sanjaybhattwebkul commented on #6838
@JunaidJaved248
This is in **Progress**, @papnoisanjeev  is working on this issue.

[2022-10-11 09:59] JunaidJaved248 commented on #6838
@Sanjaybhattwebkul Okay Right!!

[2022-10-11 12:24] Sanjaybhattwebkul opened #6873 "The product should not be out of stock if the quantity is available in the product inventory."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Create a product. with 0 quantity.
**3.** Update the product's quantity from the [product table](https://prnt.sc/4e8a-b84blg1).
**4.** Visit the shop and try to add to the cart the same product.

**Expected result:** The product should not be **out of stock** if the quantity is **available** in the product **i

[2022-10-11 17:39] Sambhav250703 commented on #6840
Can I work on this issue?

[2022-10-11 20:52] GergoKormoczy opened #6879 "shop.js kills my custom js files and throw error"
# Bug Report

Please clarify what I should do so if I don't want to use shop.js. I read the shop.js.license and put exactly the same packages in the code, but no matter what I do, if shop.js is not in use, the vue components not show up, but if I use it, everything else breaks (like filter.js, etc) and has this error.

Uncaught (in promise) TypeError: Cannot read properties of undefined (reading '

[2022-10-12 05:20] Sanjaybhattwebkul commented on #6879
Hi there,
If you don't want to use the **shop.js** file then you can **replace** the shop.js file with your **custom js** file in the **blade** file. And make **sure** all the **components** should be **imported** in your **custom js** file which is imparted in **shop.js.**

[2022-10-12 05:56] Sanjaybhattwebkul opened #6880 "The product's name should be visible properly in quick view."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Create a new product with a name **like Men's.**
**3.** Visit the shop.
**4.** Search the created product.
**5.** Try to **quick view** the product.

**Expected result:** The product's **name** should be visible properly in **quick view.**

**Actual result:** The product's **name** is not **visible** properly

[2022-10-12 06:00] JunaidJaved248 commented on #6880
@Sanjaybhattwebkul Can I work on it?

[2022-10-12 06:08] papnoisanjeev commented on #6880
@JunaidJaved248

Working on it.

[2022-10-12 06:42] JunaidJaved248 opened #6882 "Want to Add Urdu Translation"
`#Enhancement`
I checked the Lang folder, I didn't saw any Urdu translation file.
So, I want to add it, Can You assign this enhancement to me. I will add it.

[2022-10-12 06:44] JunaidJaved248 commented on #6882
@Sanjaybhattwebkul

[2022-10-12 08:22] Sanjaybhattwebkul commented on #6882
@JunaidJaved248
You can create a **Pull Request**, it would be **appreciated**.

[2022-10-12 08:35] nooras commented on #6781
Hi @Sanjaybhattwebkul can you please guide me in this scenario ?

[2022-10-12 09:42] Sanjaybhattwebkul opened #6884 "The countries are not listed in the country dropdown while the customer is adding the billing address on the checkout page."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Visi the shop
**2.** Add any item to the cart.
**3.** Process for **checkout**.
**4.** Add new billing **address**.
**5.** Try to select the **country**.

**Expected result:** The **countries** should be **visible** on the country **dropdown** while the customer is adding the billing **address** on the **checkout** page.

**Actual resul

[2022-10-12 10:19] #6820 closed

[2022-10-12 11:41] JunaidJaved248 commented on #6884
@Sanjaybhattwebkul Please Assign this issue to me

[2022-10-12 11:54] GergoKormoczy commented on #6879
Please check the video it is more simple way for tell you what is my problem: https://watch.screencastify.com/v/boSPfvpIO6NKioA0yGhs

I don't know what packages need for this component for working without custom.js.

<img width="815" alt="Képernyőfotó 2022-10-12 - 13 51 30" src="https://user-images.githubusercontent.com/84326426/195335600-de97971c-86e2-46c9-bdbc-90200419ce26.png">

I already check

[2022-10-12 11:59] Sanjaybhattwebkul opened #6886 "The locale dropdown should be just the right side of the channel's dropdown on the product's page in mobile view."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin on mobile.
**2.** Click on products inside the catalog tab.
**3.** Try to change the app locale.

**Expected result:** The **locale** dropdown should be just the right side of the **channel's** **dropdown** on the product's page in the **mobile** view.

**Actual result:** The locale and channel **dropdowns** are **ove

[2022-10-12 12:00] jsvigneshkanna commented on #6886
Please assign me this issue

[2022-10-12 13:41] ashishkumar-webkul opened #6889 "Russian Language Translation Issue - Main Cart - Remove All Items"
## Issue Description
In Russian Language when we check the Main Cart Page there we can see the Translation issue in Remove all Items button.

## Bagisto Version
**MASTER**

## Steps To Reproduce
**1.** Set the Store Page to russian Language
**2.** Add product to cart -> Check the main cart

## Actual Result
Please check the image for the same

![Translation Russian](https://user-images.githubuserc

[2022-10-12 14:40] GergoKormoczy commented on #6879
Short, I would like to use some defaults vue.component like (layered-navigation, filter-attribute-item) but are only working when I use <script type="text/javascript" src="{{ bagisto_asset('js/shop.js') }}" ></script> in my master.blade.php.

BUT I don't want to use because has too many unnecessary js for me (and breaks my template js). I would like to use just necessary js (vue, vue-class-compone

[2022-10-12 17:15] JunaidJaved248 commented on #6886
@Sanjaybhattwebkul Fixed Proposed with this PR #6887

[2022-10-12 19:47] daniloff200 opened #6892 "Couple of missed translations in RU localisation for Shop app"
# Bug Report
I've checked the RU localisation and found couple of translations, that are still in English, for example:

[code]
I also, as a native Russian speaker, want to double-check the whole RU file, perhaps, there are some typos or other issues

## Actual Result

## Expected Result
All file with localisation translated in Russian

[2022-10-12 19:49] daniloff200 opened #6893 ":ukraine: Ukrainian localisation does not exist"
Just a proposal.
I do see RU localisation, however, the Ukrainian :ukraine:  one is missed.

I was born and live and Ukraine and a Ukrainian native speaker, so, can do that, if that can be a good addition and good idea for the Bagisto app!

Please let me know, if that can be useful!
Thanks!

[2022-10-12 20:20] daniloff200 opened #6895 ":ru: Localisation of Admin app does not exist"
I see, that ru folder exists, and there's a file with the translations, but, all of them are still in English.

I can translate the whole file and make a PR with the reworks if that can be a useful and meaningful contribution

[2022-10-12 20:22] daniloff200 opened #6896 ":ru: localisation of Booking product doesn't exist"
I see, that ru folder exists, and there's a file with the translations, but, all of them are still in English.

I can translate the whole file and make a PR with the reworks, if that can be useful and meaningful contribution

[2022-10-13 04:26] JunaidJaved248 commented on #6884
@Sanjaybhattwebkul I checked it, Countries are showing in countries dropdown in billing address.
![image](https://user-images.githubusercontent.com/42333336/195501277-26d0c22f-1c9d-4113-a92f-5ecca4683ec6.png)

[2022-10-13 04:34] #6864 closed

[2022-10-13 04:46] Sanjaybhattwebkul commented on #6893
Hi there,
You **can** create a **PULL REQUEST** for **Ukrainian** translation, it would be **appreciated.**

[2022-10-13 04:50] Sanjaybhattwebkul commented on #6895
Hi there,

Please have a look at the following translations and If you want to do any **corrections** then you **can**, it would be **appreciated**

https://github.com/bagisto/bagisto/tree/master/packages/Webkul/Admin/src/Resources/lang/ru

https://github.com/bagisto/bagisto/tree/master/packages/Webkul/Core/src/Resources/lang/ru

https://github.com/bagisto/bagisto/tree/master/packages/Webkul/Shop/

[2022-10-13 04:52] Sanjaybhattwebkul commented on #6896
Hi there,

If you want to do any **corrections** then **you can**, it would be **appreciated**

[2022-10-13 05:04] Sanjaybhattwebkul commented on #6759
@asi309
Are you working on this issue?

[2022-10-13 05:10] Sanjaybhattwebkul commented on #6886
@JunaidJaved248
**Thanks** for your contribution.

[2022-10-13 05:11] Sanjaybhattwebkul commented on #6892
@daniloff200
**Thanks** for your contribution.

[2022-10-13 05:22] ashishkumar-webkul opened #6898 "Record per page option is not visible in mobile, if the customer is trying to shop by category."
## Issue Description
When inspecting the Category Page in mobile view, there we can see that the show number of products filter is missing.

## Bagisto Version
**MASTER**

## Steps To Reproduce
**1.** Go to Store Front -> Show By Category -> Select any category -> Inspect in mobile view.
**2.** Refresh the Page in mobile view.

## Actual Result
Please check the video and screenshot for a better un

[2022-10-13 05:26] Sanjaybhattwebkul opened #6900 "Not able to update product quantity from the products table."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on the product inside the catalog.
**3.** Click on quantity and enter a number like 010
**4.** Click on the save button.

**Expected result:** The admin should be able to **update** product **quantity** from the **products table.**

**Actual result:** Not able to **update** product **quantity** from the

[2022-10-13 05:41] JunaidJaved248 commented on #6898
@Sanjaybhattwebkul Assign it to me.

[2022-10-13 07:24] KarimQaderi opened #6903 "City dropdown like state"
Iran's cities are dropdown and I want to add this feature to the system

I have two solutions for this problem

1- The city section should be a separate file and can be replaced like the country and sate

2- Or add directly to the system such as city and state to have this capability from the beginning

Or if do you have a better solution that I can add this feature to the system as a separate mod

[2022-10-13 07:53] Sanjaybhattwebkul commented on #6884
@JunaidJaved248
Please check with the **fresh database.**

[2022-10-13 08:00] JunaidJaved248 commented on #6884
@Sanjaybhattwebkul Okay Let me check

[2022-10-13 08:04] Sanjaybhattwebkul opened #6905 "The warning message should be visible if the admin is trying to create shipping with an invalid product's quantity."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click on orders inside the sale.
**3.** View any pending order.
**4.** Try to create shipping with an empty quantity field.
**5.** Click on the save create shipping button

**Expected result:** The **warning message** should be **visible** if the admin is trying to create shipping with an **invalid** product's

[2022-10-13 09:48] Sanjaybhattwebkul opened #6907 "The customer order's view page is not responsive in mobile view."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as a customer. on mobile
**2.** Click on orders inside the profile section.
**3.** View any order.

**Expected result:** The customer **order's** view **page**  should be **responsive** in **mobile** view.

**Actual result:** The customer **order's view** page is not **responsive** in **mobile** view. Please find the screenshot [

[2022-10-13 10:11] ashishkumar-webkul opened #6908 "Guest welcome message translation missing in mobile view."
## Issue Description
In mobile view when we check the Welcome guest, where we can see the Sign In and Sign Up details, there we can see the Guest Translation is missing for some languages like Hindi, Arabic etc.

## Bagisto Version
**MASTER**

## Steps To Reproduce
**1.** Inspect the details of a storefront in mobile view -> Check the sidebar for Welcome Guest.
**2.** Change the Locale Translation

[2022-10-13 10:23] nextdoorpanda opened #6909 "Missing Greek (EL) Translation"
Missing Greek (EL) Translation #6909

[2022-10-13 10:38] JunaidJaved248 commented on #6898
@vivek-webkul Okay Thanks

[2022-10-13 10:56] ashishkumar-webkul opened #6913 "There should be default image for the Locale in the store front."
## Issue Description
If we create a locale from the admin and there we do not add the locale image, then a default image should be set.

## Bagisto Version
**MASTER**

## Steps To Reproduce
**1.**  Go to Admin -> Settings -> Locale -> Create a new Locale without the image.
**2.** After the locale is set check the store front.

## Actual Result
Please check the Screenshot for the same.

**Screensho

[2022-10-13 11:07] Sanjaybhattwebkul opened #6914 "The CMS Pages section is not responsive in mobile view."
**Bagisto Version:** Master

**Steps To reproduce**--

**1.** Log in as an admin.
**2.** Click pages inside the **CMS** tab
**3.** Try to **add** or **edit** any CMS page.

**Expected result:** The **CMS Pages** section should be responsive in **mobile** view.

**Actual result:**  The CMS **Pages** section is not **responsive** in **mobile** view. Please find the **screenshot** [Here](https://prnt

[2022-10-13 11:41] #6810 closed

[2022-10-13 11:51] Sanjaybhattwebkul commented on #6737
@jitendra-webkul
As we discuss this is not an issue so I am closing this issue.

[2022-10-13 11:51] #6737 closed

[2022-10-13 12:35] #6889 closed

[2022-10-13 13:38] Nikitajoshi39 opened #6917 "Translation issue on the shopping cart page in the hindi locale"
### Terms

- [X] Before you opening this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

Master

### Issue Description

Remove translation is not meaningful in the Hindi locale on the cart page, Please find the screenshot [Here](https://prnt.sc/L2IYnuaRLDJG)

### Preconditions

Setup Bagisto from Master repository

### Steps to reproduce

1. Visit th

[2022-10-13 15:13] art6573 commented on #6903
@Sanjaybhattwebkul hi there, I'm interested in working on this. issue As I understand your project participates in Hacktoberfest 22 and I can get special swag from you? Do you send swag outside India?

[2022-10-14 04:49] JunaidJaved248 commented on #6884
@Sanjaybhattwebkul I checked with latest code pull & fresh tables migration but countries listing in dropdown.

[2022-10-14 06:14] ashishkumar-webkul opened #6922 "The Edit Category Page is not responsive in mobile view."
### Terms

- [ ] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

When we check  the **Categories** in the **Admin Section**, there when we edit any **category** and **inspecting** the details in **Mobile view**, we can see the UI issue and data is overlapping.

### Preconditions

For checking th

[2022-10-14 06:28] #6873 closed

[2022-10-14 06:42] #6434 closed

[2022-10-14 06:48] JunaidJaved248 commented on #6922
@ashishkumar-webkul this PR #6924 Resolved this Issue.

[2022-10-14 06:49] Sanjaybhattwebkul commented on #6922
@JunaidJaved248
**Thanks** for your **contribution**.

[2022-10-14 07:14] ashishkumar-webkul opened #6926 "Alignment of the Table Heading is not appropriate in Catalog Section."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

When we check the Admin panel, there in the catalog section, the product, Categories, Attribute and Attribute Family Tables have the alignment issue. table Heading is slightly on the right side. It should be in same line with table

[2022-10-14 07:17] ashishkumar-webkul commented on #6926
Same concern can be seen in the Sales Section, Customer Section, CMS Page Section, and Settings Section.

[2022-10-14 07:21] #6814 closed

[2022-10-14 08:27] GergoKormoczy commented on #6879
up.

[2022-10-14 08:30] manula2004 opened #6927 "Add Sinhalese localization"
### Is your feature request related to a problem? Please describe.

Add translation for Sinhalese, the primarily spoken language in Sri Lanka . I believe it will help attract a whole new userbase.

### Describe the solution you'd like

I would love to contribute to localize the project, but I'm not sure how start a localization for a new language. So, a little help would be much appreciated :)

##

[2022-10-14 10:00] Sanjaybhattwebkul commented on #6927
Hi there,
If you want to create a **Pull Request** for the **Sinhalese** translation, then you can it would be **appreciated**.

[2022-10-14 10:07] manula2004 commented on #6927
@Sanjaybhattwebkul Where do I start from?

should I create a directory in https://github.com/bagisto/bagisto/tree/master/packages/Webkul/Core/src/Resources/lang
and make a copy of the app.php & then translate all the strings?

[2022-10-14 10:09] Sanjaybhattwebkul commented on #6927
@manula2004

You **need** to **add** translation for **following** packages.

https://github.com/bagisto/bagisto/tree/master/packages/Webkul/Admin/src/Resources/lang/it

https://github.com/bagisto/bagisto/tree/master/packages/Webkul/Core/src/Resources/lang/it

https://github.com/bagisto/bagisto/tree/master/packages/Webkul/Shop/src/Resources/lang/it

https://github.com/bagisto/bagisto/tree/master/p

[2022-10-14 10:36] vivek-webkul commented on #6738
@Sanjaybhattwebkul

If you want to provide the link for each category under the category-with-custom-option template, you just need to provide the link in the Velocity theme header option, like:

For Link with category image:
@include('shop::home.category-with-custom-option', ['category' => [ 'men-collection' => '/page/refund-policy', 'kids' => '/page/privacy-policy', 'women-apparel' => '/page/shi

[2022-10-14 10:55] #6867 closed

[2022-10-14 11:16] manula2004 commented on #6927
alright thanks

[2022-10-14 11:20] Sanjaybhattwebkul commented on #6903
@art6573

**Sure**,  if you will create **four  acceptable** PRs then We **will send** swag outside of India

[2022-10-14 11:38] #6892 closed

[2022-10-14 14:32] #6884 closed

[2022-10-16 10:29] erezson opened #6942 "Smartarget Whatsapp plugin"
### Is your feature request related to a problem? Please describe.

We created our [WhatsApp module](https://bagisto.com/en/extensions/laravel-ecommerce-whatsapp-contact/) for Bagisto (https://gitlab.com/erezson/smartarget-bagisto-whatsapp-contact-us), but many of you customers are non-technical, so they need our help all the time to install the module.

Unlike other platforms, extenstions cannot

[2022-10-16 10:47] vivek-webkul commented on #6942
Hi @erezson
Thanks for your suggestion, and we always welcome our contributors for their submissions!

Actually, we already have our OpenSource [Bagisto Whatsapp Connect Extension](https://bagisto.com/en/extensions/laravel-ecommerce-whatsapp-contact/) which allows the customers to contact and communicate with the store admin via WhatsApp. You can also check the functionality of the same.

[2022-10-16 10:51] erezson commented on #6942
Hi @vivek-webkul

This is our extension :) We contributed it after Bagisto contacted us and asked to bring our Whatsapp plugin to your platform too.

The problem is that the extension can be installed only by people with development skills. That cause many non-tech Bagisto users to contact us and request that we will install it for them.

Therefore we submit this request to include the extension i

[2022-10-16 10:57] Shrey-Nahar commented on #6882
@JunaidJaved248 are you working in the issue?? or i would like to work on this ..

[2022-10-16 10:58] vivek-webkul commented on #6942
@erezson
Ohh!! My mistake.

I have one question, does [bagisto-whatsapp-contact-us v1.0](https://packagist.org/packages/smartarget/bagisto-whatsapp-contact-us#1.0) compatible with [Bagisto Master ](https://github.com/bagisto/bagisto)or [v1.4.5](https://github.com/bagisto/bagisto/tree/v1.4.5)?

[2022-10-16 11:02] Shrey-Nahar opened #6944 "Adding " Tamil Translation""
### Is your feature request related to a problem? Please describe.

#enhancement
I checked lang folder there is no translation in Tamil language.

### Describe the solution you'd like

I would like to add translation in tamil language

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-10-16 11:03] Shrey-Nahar commented on #6944
@Sanjaybhattwebkul i would like to add tamil translations

[2022-10-16 11:20] Sanjaybhattwebkul commented on #6944
@Shrey-Nahar
You can create a **Pull Request** for **Tamil** Translation, it would be **appreciated**.

[2022-10-16 11:35] erezson commented on #6942
@vivek-webkul yes, it is

[2022-10-16 13:41] erezson commented on #6942
@vivek-webkul All good :) We're just trying to make things better for the Bagisto community.

It's compatible with Bagisto Master. Is that OK?

[2022-10-16 17:02] JunaidJaved248 commented on #6882
@Shrey-Nahar I am working on it.

[2022-10-16 17:03] JunaidJaved248 commented on #6882
@Sanjaybhattwebkul Please add In Progress label in this issue, Working is in process. Thanks

[2022-10-16 17:34] Shrey-Nahar commented on #6944
@Sanjaybhattwebkul
what all should be updated apart from
1. auth.php
2. pagination.php
3. passwords.php
4. validation.php

what other files should I update after doing changes in the above files.

[2022-10-17 00:55] dicka88 opened #6947 "Add the 🇮🇩 Indonesia translation"
### Is your feature request related to a problem? Please describe.

I have looked in the lang folder but didn't see the Indonesia translation file.
if you want I can add it, please to be honest assign it to me and I will do it ASAP.

before I do it, which files should be translated?

### Describe the solution you'd like

Add several Indonesian translated files, don't worry about my translation. be

[2022-10-17 04:50] Sanjaybhattwebkul commented on #6947
Hi there,
You **can** create a **pull request** for the **Indonesia** translation, it would be **appreciated**.

[2022-10-17 04:51] Sanjaybhattwebkul commented on #6947
@dicka88

Please **add** the translation for the **following** packages.

https://github.com/bagisto/bagisto/tree/master/packages/Webkul/Admin/src/Resources/lang/

https://github.com/bagisto/bagisto/tree/master/packages/Webkul/Core/src/Resources/lang/

https://github.com/bagisto/bagisto/tree/master/packages/Webkul/Shop/src/Resources/lang/

https://github.com/bagisto/bagisto/tree/master/packages/We

[2022-10-17 08:08] seths10 commented on #6796
please has this issue been solved?

[2022-10-17 08:16] Sanjaybhattwebkul opened #6953 "The add to cart should be disabled if the Bundle product is out of stock."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

master

### Issue Description

The **Add to cart** button is not **disabled** if all simple products of a bundle product are **out-of-stock.**

### Preconditions

**1.** simple products should be created.
**2.** Bundle products should be created with created sim

[2022-10-17 09:08] #6755 closed

[2022-10-17 09:13] #6761 closed

[2022-10-17 09:14] #6738 closed

[2022-10-17 09:20] GergoKormoczy opened #6954 "Core bagisto Vue.components can't work."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

1.4.3

### Issue Description

What should I do to make the bagisto core vue components like

[code]

work without include `<script type="text/javascript" src="{{ bagisto_asset('js/shop.js') }}" ></script>` because this bundle has much unnecessary js which I don'

[2022-10-17 11:46] Sanjaybhattwebkul opened #6955 "The validation error should be just below of forget password in mobile view."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

Master

### Issue Description

Getting the **UI issue** if the customer is trying login into **mobile**. The **validation** error is appearing in between **forgot password** and **show password.**

### Preconditions

The customer **should not be logged in.**

##

[2022-10-17 11:59] Nikitajoshi39 opened #6957 "Translation issue on the customers order section in the arabic locale"
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

Master

### Issue Description

Order  translation is missing in the Arabic locale

### Preconditions

Setup Bagisto from the Master Repository

### Steps to reproduce

1. Visit the admin end
2. Change the app locale to Arabic.
3. Go to the customers -> select or

[2022-10-17 14:09] Sanjaybhattwebkul commented on #6957
@jitendra-webkul
Now, this **issue** is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/7pHIBYoLp306), for future reference.

[2022-10-17 14:09] #6957 closed

[2022-10-17 18:24] codersrepo commented on #6908
Can you assign this issue to me?

[2022-10-18 05:32] Sanjaybhattwebkul opened #6959 "Translation issue on the export model box in the admin panel in Arabic locale"
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

Mater

### Issue Description

Getting Translation issue When the admin is trying to export the product's

### Preconditions

**1.** Admin should be login
**2.** Login users should have permission to export the products
**3.** Some products should be created.

##

[2022-10-18 05:34] Nikitajoshi39 commented on #6959
Please assign me this issue @Sanjaybhattwebkul

[2022-10-18 06:00] Sanjaybhattwebkul commented on #6953
@akathuria289
I am **getting** the **same** issue with **grouped** products also.

[2022-10-18 06:03] Sanjaybhattwebkul commented on #6926
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/wNJdg7N1ZMlt), for future reference.

[2022-10-18 06:08] Sanjaybhattwebkul commented on #6922
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/u6aQU4nmXQpv), for **future** reference.

[2022-10-18 06:08] #6922 closed

[2022-10-18 06:12] Sanjaybhattwebkul commented on #6917
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/TnJ4FmxrWgu2), for **future** reference.

[2022-10-18 06:12] #6917 closed

[2022-10-18 06:20] Sanjaybhattwebkul commented on #6914
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a screenshot [Here](https://prnt.sc/hWS4Ud22HVWP), for future reference.

[2022-10-18 06:20] #6914 closed

[2022-10-18 06:35] Sanjaybhattwebkul commented on #6908
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/f8-KcQPbT_qm), for **future** reference.

[2022-10-18 06:35] #6908 closed

[2022-10-18 06:46] Sanjaybhattwebkul commented on #6907
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/uu-aiKJF_O_J), for **future** reference.

[2022-10-18 06:46] #6907 closed

[2022-10-18 07:00] Sanjaybhattwebkul commented on #6905
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/TZgvIBw95CDW), for **future** reference.

[2022-10-18 07:00] #6905 closed

[2022-10-18 07:04] #6900 closed

[2022-10-18 07:06] #6896 closed

[2022-10-18 07:10] Sanjaybhattwebkul commented on #6844
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/4KFt1MauX1LW), for **future** reference.

[2022-10-18 07:10] #6844 closed

[2022-10-18 07:14] Sanjaybhattwebkul commented on #6835
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/kX527CHQdNq7), for **future** reference.

[2022-10-18 07:14] #6835 closed

[2022-10-18 07:20] Sanjaybhattwebkul commented on #6813
@jitendra-webkul
Now, this issue is fixed. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/VBE22WcSIylB), for **future** reference.

[2022-10-18 07:20] #6813 closed

[2022-10-18 07:22] Sanjaybhattwebkul commented on #6944
Hi there,

Please add the **translation** for the **following** packages.

https://github.com/bagisto/bagisto/tree/master/packages/Webkul/Admin/src/Resources/lang/

https://github.com/bagisto/bagisto/tree/master/packages/Webkul/Core/src/Resources/lang/

https://github.com/bagisto/bagisto/tree/master/packages/Webkul/Shop/src/Resources/lang/

https://github.com/bagisto/bagisto/tree/master/packages/W

[2022-10-18 07:31] JunaidJaved248 commented on #6959
@Sanjaybhattwebkul Check this PR #6960 , Issue fixed

[2022-10-18 07:31] Sanjaybhattwebkul commented on #6793
@papnoisanjeev
Please **fix** this issue for the **Dutch** locale **also**, this issue is **not fox for the Dutch** locale please find the **screenshot** [Here](https://prnt.sc/TpKIR-I5-I0K)

[2022-10-18 08:18] #6886 closed

[2022-10-18 08:19] #6880 closed

[2022-10-18 09:22] #6898 closed

[2022-10-18 11:56] Sanjaybhattwebkul commented on #6955
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/K2dNoYhInIeJ), for **future** reference.

[2022-10-18 11:56] #6955 closed

[2022-10-19 05:54] Sanjaybhattwebkul commented on #6747
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/vAL1fx_STw1m), for **future** reference.

[2022-10-19 05:54] #6747 closed

[2022-10-19 05:57] Sanjaybhattwebkul commented on #6749
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.

[2022-10-19 05:57] #6749 closed

[2022-10-19 06:00] Sanjaybhattwebkul commented on #6729
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/GQ4StuLASlU_), for **future** reference.

[2022-10-19 06:00] #6729 closed

[2022-10-19 06:03] Sanjaybhattwebkul commented on #6753
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/onZXZ5f50H8_), for **future** reference.

[2022-10-19 06:03] #6753 closed

[2022-10-19 06:07] Sanjaybhattwebkul commented on #6756
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.

[2022-10-19 06:09] Sanjaybhattwebkul commented on #6757
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/IncQiqJ0ENff), for **future** reference.

[2022-10-19 06:09] #6757 closed

[2022-10-19 06:18] Sanjaybhattwebkul commented on #6758
@jitendra-webkul
I am **closing** this issue, because if the **admin** will **add** the **payment** and **shipping** method for the **Arabic** locale then it **will** be **reflected** on the front **otherwise** this will **reflect** with the **default locale**. Please find the **screenshot** [Here](https://prnt.sc/7RqOrKx38qBN )

[2022-10-19 06:18] #6758 closed

[2022-10-19 06:33] Shrey-Nahar commented on #6944
working on it ,do add "in progress" label.

[2022-10-19 06:58] Sanjaybhattwebkul commented on #6770
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.

[2022-10-19 06:58] #6770 closed

[2022-10-19 07:07] Sanjaybhattwebkul commented on #6775
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/7k5G7mubat0U), for **future** reference.

[2022-10-19 07:07] #6775 closed

[2022-10-19 07:09] Sanjaybhattwebkul commented on #6776
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/bQXjBRLCPEzg), for **future** reference.

[2022-10-19 07:09] #6776 closed

[2022-10-19 07:11] Sanjaybhattwebkul commented on #6777
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/lTYYmt09gH6d), for **future** reference.

[2022-10-19 07:11] #6777 closed

[2022-10-19 07:12] Sanjaybhattwebkul commented on #6778
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/fNL5zHcDmxHt), for **future** reference.

[2022-10-19 07:12] #6778 closed

[2022-10-19 07:15] Sanjaybhattwebkul commented on #6779
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/tuuFvsipVHdE), for **future** reference.

[2022-10-19 07:15] #6779 closed

[2022-10-19 07:16] Sanjaybhattwebkul commented on #6782
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/gWgJat7j_LQe), for **future** reference.

[2022-10-19 07:16] #6782 closed

[2022-10-19 09:31] #6841 closed

[2022-10-19 10:36] JunaidJaved248 commented on #6882
@Sanjaybhattwebkul Add "In Progress" in it.

[2022-10-19 12:24] #6847 closed, assigned to papnoisanjeev

[2022-10-19 12:28] #6837 closed

[2022-10-19 12:58] #6959 closed

[2022-10-19 13:32] Sanjaybhattwebkul opened #6972 "Compare product page can be enhanced"
### Is your feature request related to a problem? Please describe.

The **add to cart** button is **breaking** into two lines in the **dutch** locale. Please find the screenshot [Here](https://prnt.sc/tXVMtiO9YUr7)

### Describe the solution you'd like

The **remove** and **wishlist** icons should be just **below** of **add to cart** button on compare page. Please take a **reference** from th**e b

[2022-10-19 14:24] Sanjaybhattwebkul commented on #6797
@papnoisanjeev
The footer **content** is not visible in **default theme**, Please find the screenshot  [Here](https://prnt.sc/xOCwAp14P-l7)

[2022-10-20 05:04] papnoisanjeev commented on #6367
Due to multiple updates with function name and calculation this PR will no longer work so closing it.
Will create a new one for the same.

[2022-10-20 05:07] Sanjaybhattwebkul commented on #6797
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/Qr2Hm2EBnmTv), for **future** reference.

[2022-10-20 05:07] #6797 closed

[2022-10-20 05:57] Sanjaybhattwebkul opened #6976 "The configurable product is showing Out of stock if all the variants are available."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

Master

### Issue Description

If the admin is **creating** any **configurable product**, then the customer is **not able** to **select** any **variant** of the **configurable** product
product is showing **Out of stock** if all the variants are available.

###

[2022-10-20 07:21] Sanjaybhattwebkul commented on #6793
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/nhlX7QhUqXhT), for **future** reference.

[2022-10-20 07:21] #6793 closed

[2022-10-20 08:01] #6765 closed, assigned to papnoisanjeev, Sanjaybhattwebkul

[2022-10-20 10:28] Sanjaybhattwebkul commented on #6976
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/-PIUuNRW4W3x), for **future** reference.

[2022-10-20 10:28] #6976 closed

[2022-10-21 04:18] Sanjaybhattwebkul opened #6985 "Getting the UI issue if admin is trying to view bookings"
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

Master

### Issue Description

The calendar icon is overlapping the filters, If the admin s trying to view the orders of booking products in mobile view

### Preconditions

Admin should be logged in
Some orders of booking products should be created by the custom

[2022-10-21 04:40] ashishkumar-webkul opened #6987 "Add tool tip on calendar and table icons on bookings in admin panel."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

In **Admin End**, **Sales section**, there we have an option to see the **Booking product** in list and calendar view, there we can add **tool tips** for the **notification.**

### Preconditions

It should be **noted** that there s

[2022-10-21 04:52] ashishkumar-webkul opened #6989 "No Events details are overlapping at bookings in admin panel."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

When we check the **Sales Section Bookings** information and there when we check the information in **calendar view**, after inspecting the details in **mobile view** it was found that the **No Events** text is **overlapping**.

##

[2022-10-21 05:27] ashishkumar-webkul opened #6990 "Details are unresponsive in bookings in Admin Panel when inspecting in mobile view."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

When we check the **bookings** information at the **admin end** in calendar view, there when we see the bookings information, when we take the **cursor** to the **booking information** it **automatically pops out with details.**
No

[2022-10-21 06:43] ashishkumar-webkul opened #6991 "Mobile view UI issue in booking product creating and editing them. Same slots all days, slot details."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

When we **create** or **edit** a **booking product**, there we can see the options of **Same Slots all days,** **inspecting** the details in **mobile view** we will be able to see the UI **issue** in the slots.

**THIS ISSUE IS APP

[2022-10-21 06:55] Sanjaybhattwebkul opened #6992 "Export icon is overriding to order text in mobile view."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

Master

### Issue Description

The export icon is overriding to order text If the admin is trying to view orders in mobile view.

### Preconditions

Admin should be logged in
Some orders should be created by the customers

### Steps to reproduce

**1.** Go to 't

[2022-10-21 06:59] ashishkumar-webkul opened #6993 "Add scroll bar in Tickets section, if the admin is creating the event booking"
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

When checking the details related to the **Event Booking**, while inspecting the details in **mobile view**, the  tickets section UI is not proper, infact the whole page is **responsive**. It would be better if a **scroll bar** can

[2022-10-21 11:12] Nikitajoshi39 opened #6994 "There should be a cancel order option for the guest user"
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

Master

### Issue Description

There is no option for the guest user to cancel the order.

### Preconditions

Setup Bagisto from the Master Repository

### Steps to reproduce

Visit the shop in the velocity theme.
1. As a **guest** user
2. Add to the cart the pr

[2022-10-21 12:10] Nikitajoshi39 opened #6995 "Guest users should be able to view their order list through their order id and email"
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

Master

### Issue Description

There is no option for a guest user to view their order  list

### Preconditions

Setup Bagisto from the Master Repository

### Steps to reproduce

1. Visit the shop in the velocity theme.
2. As a guest user
3. Add to the cart the

[2022-10-21 12:56] rupalgohel opened #6997 "Admin on save invoice gives Undefined index: txn_id"
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

1.3.3

### Issue Description

While saving invoice for paypal_standard it gives undefined index txn_id in packages\Webkul\Paypal\src\Listeners\Transaction.php

[code]
so im not able to save invoice.

### Preconditions

paypal  > paypal_standard

### Steps to rep

[2022-10-21 13:26] ghena opened #6998 "Create a page able to display only product with promotions or price discount"
### Is your feature request related to a problem? Please describe.

I'm not able to find a method able to return all discounted products in a specific period.

### Describe the solution you'd like

Create a specific page , and methods to show the promo products.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-10-22 05:40] sarequl commented on #6858
Can I translate this to Bangla (bn-BD)?

[2022-10-22 05:48] JunaidJaved248 commented on #6993
@ashishkumar-webkul Issue Fixed with this PR #7035

[2022-10-22 05:49] JunaidJaved248 commented on #6991
@ashishkumar-webkul Issue Fixed with this PR #7036

[2022-10-23 13:28] SR-16 opened #7037 "Language"
### Is your feature request related to a problem? Please describe.

there is no marathi lnguage in the lang folder.

### Describe the solution you'd like

needed a marathi language description of all the common entries.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-10-23 13:31] Shivansh2030 commented on #7037
I can add the marathi lang to this.

[2022-10-23 14:34] SR-16 opened #7040 "french language"
### Is your feature request related to a problem? Please describe.

I checked the repo and there is no translation for french language.

### Describe the solution you'd like

I would like to add the french language the folders.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-10-27 19:58] GergoKormoczy opened #7048 "When category has parent category then 404"
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

1.4.3

### Issue Description

https://watch.screencastify.com/v/SHaAav3Rw34yifRrj6HN

### Preconditions

https://watch.screencastify.com/v/SHaAav3Rw34yifRrj6HN

### Steps to reproduce

https://watch.screencastify.com/v/SHaAav3Rw34yifRrj6HN

### Expected Result

[2022-10-27 20:11] #7048 closed

[2022-10-28 18:28] hereje opened #7051 "i18n: (spanish) Update missing translations"
### Is your feature request related to a problem? Please describe.

18n: (spanish) Missing translation

### Describe the solution you'd like

Update missing translations for the following files:

- [x] `packages/Webkul/Tax/src/Resources/lang/es/app.php` - update translation
- [x] `packages/Webkul/Ui/src/Resources/lang/es/app.php` - update translation
- [x] `packages/Webkul/Admin/src/Resources/lang

[2022-10-30 06:36] rahulanand77 opened #7060 "All category url's are updating to "1" on category update"
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

1.3.x, 1.4.5

### Issue Description

After adding a category into English locale, all other locale URLs are inserted as "1". Once category is added into English, if you try to update it for any other language, it will change all locales url's to "1"

### Precond

[2022-10-30 06:56] rahulanand77 commented on #7060
@vivek-webkul  got the fix on this issue https://github.com/bagisto/bagisto/pull/6728

[2022-10-30 06:56] #7060 closed

[2022-10-30 21:33] temamawelu opened #7062 "Please add a Ethiopian payment method"
### Is your feature request related to a problem? Please describe.

PHP Laravel by Kidus Yared » https://github.com/Chapa-Et/chapa-laravel
https://developer.chapa.co/docs/

### Describe the solution you'd like

to pay locally using chapa payment gateway,it has both and international payment method please add the Chapa payment to your  bagisto project

### Describe alternatives you've considered

p

[2022-10-31 07:31] Sanjaybhattwebkul commented on #7051
@hereje
Can you please create a single pr for this issue.?

[2022-10-31 13:09] Sanjaybhattwebkul opened #7067 "Getting exception after run composer update."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

Master

### Issue Description

Getting exceptions when I am running the composer update after installing Bagisto using composer.

### Preconditions

The project should be installed by using composer [ composer create-project bagisto/bagisto ]

### Steps to repro

[2022-10-31 18:51] hereje commented on #7051
Done!

[2022-11-01 04:39] Sanjaybhattwebkul commented on #6781
Hi there,
**Please**  follow the given **steps** to push the changes
**1.** Fork the [Bagisto repository](https://github.com/bagisto/bagisto).
**2.** clone the Bagisto from **your** repository
**3.** Create a new branch [ _**git checkout -b branchName**_ ]
**4.** Do the changes
**5.** _git add ._
**6.** _git commit -m "issue #ID fixed"_
**7.** _git push -u origin_ **branchName**
**8.** Go to your

[2022-11-01 06:48] Sanjaybhattwebkul commented on #6838
@papnoisanjeev
Please **improve** the invoice **design** and take a **reference** from the below **screenshot**.

![Bagisto-Invoice](https://user-images.githubusercontent.com/86394952/199175500-eb79d5eb-352d-484c-acb3-275694551bf2.png)

[2022-11-02 08:16] simokassab commented on #7067
Dears,

Any update about this issue ?

[2022-11-02 08:20] Sanjaybhattwebkul commented on #7067
Hi there,
@papnoisanjeev  is working on this issue, we will update you once this will fixed.

[2022-11-03 05:01] ashishkumar-webkul opened #7072 "Dark Mode Name should be used."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

In Admin End, there when we change the Dark Mode Toggle button, there we can see the name is **Mode**.
It should be **Dark Mode**

### Preconditions

**Bagisto** Should be **installed** and the **Admin Panel** should be checked for

[2022-11-03 05:21] ashishkumar-webkul opened #7073 "Alignment page Header should be in centre."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

The Alignment at  the page header should be in centre. When we create a new product, Category etc. there we can see the Add contents box should be shifted in centre.

### Preconditions

**Bagisto** should be installed and **Admin p

[2022-11-03 11:01] Sanjaybhattwebkul opened #7074 "There should be a country dropdown instead of Locale Logo if the admin is creating a new locale."
### Is your feature request related to a problem? Please describe.

The country's flag should be visible By using the flag API.

### Describe the solution you'd like

The admin will **select** the **country** for the locale, and we will [display the flag](https://flagicons.lipis.dev/) of the selected country by using the [API](https://www.countryflagsapi.com/), for that locale.

### Describe alter

[2022-11-03 13:19] #6993 closed

[2022-11-03 13:34] ashishkumar-webkul opened #7075 "Customer Review Images should pop-up and should be clearly visible with review."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

When a customer Review a product with images, We should be able  to see the image clearly, after the approval of the Review from Admin End. We are unable to click the review image.

### Preconditions

**1.** The **Product** should

[2022-11-03 14:01] #7051 closed

[2022-11-03 19:33] JunaidJaved248 commented on #7073
@ashishkumar-webkul Issue Fixed

[2022-11-04 06:22] Sanjaybhattwebkul commented on #6985
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/xUec2SNY-DAu), for future **reference**.

[2022-11-04 06:22] #6985 closed

[2022-11-04 06:25] Sanjaybhattwebkul commented on #6913
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/ASvMINGQTi9X), for **future** reference.

[2022-11-04 06:25] #6913 closed

[2022-11-04 06:26] ashishkumar-webkul opened #7079 "QTY check should be applied on the simple product which are added in Group Product."
### Terms

- [x] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

When we add a **simple product** to the **group product**, there we are able to **save** any qty,  even if the **simple product** qty is **less**.

Example.

**Simple Product QTY - 1000**

In Group Product when we add the same simp

[2022-11-04 06:29] ashishkumar-webkul commented on #7079
This issue is appearing for the Bundle Product as well. Please fix the issue for the bundle product also.

[2022-11-04 06:40] ashishkumar-webkul opened #7080 "Add Option button should shift downward for adding a new option in Bundle Product."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

When we create a **bundle product,** there we can see **Add option Button**, Once we add Options and we need to create a new Option, there we need to **scroll up** and then we select the add option button. It would be **better** if

[2022-11-04 08:08] lalitawagh commented on #7067
Hello Team,

Any update about this issue ?Because we are facing issue on live instance through github

[2022-11-04 09:55] devansh-webkul commented on #7067
This is because of the DB Blade compiler dependency, as their version is not updated with the latest laravel version,
https://github.com/Flynsarmy/laravel-db-blade-compiler/issues/58

Either we need to check the alternative or we should wait for them to fix it.

[2022-11-04 10:25] devansh-webkul commented on #7067
It is not recommended to composer update unless and until you know what you are doing.

I am closing this issue, we will fix this when we upgrade our Laravel version and all other dependencies.

[2022-11-04 10:41] harounbest commented on #7067
i am facing the same problem, after having installed a fresh bagisto installation

[2022-11-04 10:54] devansh-webkul commented on #7067
If this is in a fresh instance then it must be an issue. In that case, we need to lock the Laravel version till the DBView compiler fixing.

@Sanjaybhattwebkul,
Can you verify this on a fresh instance?

[2022-11-04 12:09] Sanjaybhattwebkul commented on #7067
@harounbest
Is it possible to share the steps which you followed for installing the Bagisto? Because I am not getting this issue while installing the Bagisto

[2022-11-04 13:12] harounbest commented on #7067
@Sanjaybhattwebkul I used the composer installation process,
1- I downloaded the bajisto store from repos
2- I set the .env file
3- I run the "php artisan key:generate command
5-i created the database, and I run the "php artisan migrate" followed by the "php artisan db:seed"
4-i run the command "php artisan vendor:publish" and linked the storage directory
after that, I run the command "php artisan

[2022-11-04 13:22] Sanjaybhattwebkul commented on #7067
Hi there,
Please follow the below **steps** for installing the **Bagisto**.

**1.**  _composer create-project bagisto/bagisto_
**2.** _cd bagisto_
**3.** Configure the database details on the  **_.env_** file.
**4.** _php artisan bagisto:install_

[2022-11-04 13:23] Sanjaybhattwebkul commented on #7067
@harounbest
If still you are getting the same issue. then please let me know.

[2022-11-04 13:32] harounbest commented on #7067
@Sanjaybhattwebkul  unfortunately yes, I am still getting the same issue.

[2022-11-04 13:33] harounbest commented on #7067
@Sanjaybhattwebkul  unfortunately yes, I am still getting the same issue.

[2022-11-04 13:42] Sanjaybhattwebkul commented on #7067
Hi there,
Please raise a **ticket**  [here](https://bagisto.uvdesk.com/en/customer/create-ticket/), i **need** to check  on your system.

[2022-11-04 19:23] JunaidJaved248 commented on #7080
@ashishkumar-webkul Issue Fixed with this PR #7084

[2022-11-05 03:45] heysagnik opened #7085 "Change the language code of bengali"
### Terms

- [x] Before you openning this issue, i have checked if the issue has already been reported.

### Issue Description

I found in the Webkul package that the bengali language code is `ben` but actually it should be `bn`

[2022-11-05 08:34] nooras commented on #6781
Thanks @Sanjaybhattwebkul

I forked & cloned latest project.

In local for me all filters showing are working fine in mobile view.
![image](https://user-images.githubusercontent.com/30138146/200111033-b4b1b1f2-6056-42d3-a0ef-b1249901bca2.png)

Is there any changes are required in this filters - mobile view ? @Sanjaybhattwebkul @saurav-webkul

[2022-11-07 08:35] devansh-webkul commented on #7067
Hi @harounbest,

Please check this,
https://github.com/Flynsarmy/laravel-db-blade-compiler/issues/58#issuecomment-1288522289

I am sure this will help you.

Rest we are tracking this also. We will fix this when we update all of our dependencies.

[2022-11-08 05:28] Sanjaybhattwebkul commented on #7085
@heysagnik
I have **fix** this **issue**, Can you please **verify** this: https://github.com/bagisto/bagisto/pull/7088

[2022-11-08 05:59] heysagnik commented on #7085
Here it's not [changed](https://github.com/bagisto/bagisto/tree/change-bengali-locale-code/packages/Webkul/Customer/src/Resources/lang/ben)

[2022-11-08 06:29] Sanjaybhattwebkul commented on #7085
@heysagnik
Changes **done** for customer package.

[2022-11-08 07:04] ashishkumar-webkul opened #7091 "Allignment should be in straight line in Bundle Product Name text."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

When we create a bundle product and then we add options, there after adding simple product, after adding the simple product, there we can see the name text is a bit on upper side, which actually should be in proper line.

### Preco

[2022-11-08 09:16] Jodaille commented on #5185
@pneves001 thank you ! :)

[2022-11-08 09:21] JunaidJaved248 commented on #7091
@ashishkumar-webkul Issue Fixed with this PR #7092

[2022-11-08 19:32] JunaidJaved248 commented on #7079
@ashishkumar-webkul Issue Fixed with this PR #7094
I have Fixed this Soln for Grouped product, please check it first then I will implement on that bundle product also. Thanks

[2022-11-09 20:56] erezson commented on #6942
Hey guys, any update about this? anything I can support you to fix the fail of the PR?

[2022-11-10 08:16] gh-darvishani opened #7096 "add decimal to currency"
### Is your feature request related to a problem? Please describe.

in some of currency we have not any decimal for example in iranian currency (toman and rial) we have not some thing like this
125.22 irt
so we need to add decima to curreny that I aleardy did it

### Describe the solution you'd like

please review my PR :
https://github.com/bagisto/bagisto/pull/7095

### Describe alternatives you'

[2022-11-10 08:34] Sanjaybhattwebkul opened #7097 "Getting exception while the customer is trying to reset password"
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

Master

### Issue Description

When the customer is trying to reset the password, then gets the [exception.](https://prnt.sc/Mwp9Xy8yVQy9), while clicking the reset password link

### Preconditions

The **email** should be **registered** in which the customer wa

[2022-11-11 09:52] Sanjaybhattwebkul opened #7099 "Translation issue on shop by category Page"
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

Master

### Issue Description

Getting the **translation** issue while the customer is trying to **filter** the products by **price filter** on the products **list** page.

### Preconditions

Some categories should be **created** and products should be **assigne

[2022-11-11 10:53] Sanjaybhattwebkul opened #7100 "The count of selected items should be visible if the user is performing the mass action."
### Is your feature request related to a problem? Please describe.

If the user is performing any mass action then the user doesn't know how many items are selected for the mass action

### Describe the solution you'd like

We can **show** the **count** of **selected** items for mass action, please take a reference from [Here](https://prnt.sc/7wYHBdqRBvyf)

### Describe alternatives you've conside

[2022-11-13 13:29] JakeOcean opened #7103 "Admin Dash has way too many queries"
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

1.4.5

### Issue Description

The main Admin Dashboard, within DashboardController@Index creates way too many queries to sum the total sales for each day.

It creates 3x queries per day selected, so if you view 90 days you are getting way too many queries -- the

[2022-11-14 07:10] Sanjaybhattwebkul opened #7104 "The products is visible in all channels if assigned for only one channel"
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

Master

### Issue Description

The products are visible on  all channels if assigned to only one channel

### Preconditions

Admin has multiple channels
The product should be assigned for only one channelto

### Steps to reproduce

**1.** Go to the 'admin' panel

[2022-11-15 06:11] Sanjaybhattwebkul commented on #6767
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/o72MSuhe8Qnj), for **future** reference.

[2022-11-15 06:11] #6767 closed

[2022-11-15 06:16] Sanjaybhattwebkul commented on #6840
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/rka7MzsGPWu8), for **future** reference.

[2022-11-15 06:16] #6840 closed

[2022-11-16 05:17] ashishkumar-webkul opened #7105 "In Arabic Translation, RTL view, table content should also be in RTL."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

When we check the Arabic Translation and there we can see that the table content, there we can still see the details in the LTR view.
It should also be seen in RTL.

### Preconditions

Bagisto should be installed and all the necess

[2022-11-18 07:11] Sanjaybhattwebkul opened #7113 "Special price is visible on shop after expired"
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

Master

### Issue Description

The special price is visible on the shop after expiration and before apply date.

For Example: if we are applying the special price from tomorrow and the special price is visible  on the shop today also

### Preconditions

Admin sh

[2022-11-18 07:25] Sanjaybhattwebkul opened #7114 "The special price should be visible if the special price is less than the catalog rule price of a"
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

Master

### Issue Description

If the _special price_ is less than the _catalog rule price_ then the _catalog rule price_ is visible in the shop.

### Preconditions

**1.** Admin should be login
**2.** A product should be created with a special price.
**3.** The

[2022-11-18 11:27] prabhatkumaroc082 commented on #7114
@Sanjaybhattwebkul
Here is the test case that i applied but special price is showing
[back-end product page](https://user-images.githubusercontent.com/50438561/202694441-b461f1e4-5fd7-42b5-8263-caa1dc5bc492.png)
[catalog rule](https://user-images.githubusercontent.com/50438561/202694498-ca1d22a0-33c2-4c2c-9216-2835c3436443.png)
[front-end product page](https://user-images.githubusercontent.com/504

[2022-11-21 05:32] #7114 closed

[2022-11-21 08:12] ashishkumar-webkul opened #7117 "Overlapping of cross icon in Search bar in customer profile."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

After login to the customer profile, there when we search any details where we can see the search bar, when we fill the details in the search bar we can see that the cross icon is overlapping.

### Preconditions

Login to the custo

[2022-11-21 11:05] Sanjaybhattwebkul opened #7119 "Translation issue on sitemap in admin panel"
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

master

### Issue Description

Getting the Hindi translation issue on the sitemap in the admin panel.

### Preconditions

The admin should be logged in
APP_LOCALE should be hindi

### Steps to reproduce

1. log in as admin in the Hindi locale.
2. Click on the si

[2022-11-22 05:10] #7091 closed

[2022-11-22 06:00] Sanjaybhattwebkul opened #7122 "The products are not visible on the channel for which channel updated by the admin."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

Master

### Issue Description

If we have two channels Channe-A and Channel-B, and 1 product is created for Channel-B, then that product is visible on only Channel-A

### Preconditions

Admin should be logged in
There should be multiple channels. 1. Channel-A an

[2022-11-22 11:13] Sanjaybhattwebkul commented on #7119
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/Bq_kI6nEpxrG), for future **reference**.

[2022-11-22 11:13] #7119 closed

[2022-11-22 11:16] Sanjaybhattwebkul commented on #7117
@papnoisanjeev
Now not working please look into it.

[2022-11-22 11:44] papnoisanjeev commented on #7117
@Sanjaybhattwebkul

First fetch all latest master updates (If bagisto master branch added as remote i.e upstream)

 **git fetch --all**

**git reset hard upstream/master**

Finally run publish command and clear project cache and make a try.

[2022-11-22 11:50] Sanjaybhattwebkul commented on #7117
@jitendra-webkul
Now, this issue is fixed. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/QOS3PuR2MFgG), for **future** reference.

[2022-11-22 11:50] #7117 closed

[2022-11-22 11:52] #7099 closed

[2022-11-23 05:17] Sanjaybhattwebkul commented on #7104
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/YBqq625jdiYO), for future **reference**.

[2022-11-23 05:17] #7104 closed

[2022-11-23 05:23] Sanjaybhattwebkul commented on #7097
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/H_2tc4ePf0bG), for future **reference**.

[2022-11-23 05:23] #7097 closed

[2022-11-23 05:24] Sanjaybhattwebkul commented on #7085
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.

[2022-11-23 05:24] #7085 closed

[2022-11-23 05:27] Sanjaybhattwebkul commented on #6739
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/HeHAPZZf9Znx), for future **reference**.

[2022-11-23 05:27] #6739 closed

[2022-11-23 09:52] Sanjaybhattwebkul commented on #6756
@jitendra-webkul
I am reopening this issue because the user is able to view the product by **URL directly.**
Add the product's name in the site URL, to reproduce this issue

@papnoisanjeev
Please look into it.

[2022-11-23 09:52] ashishkumar-webkul opened #7128 "Event Product UI issue in the ticket description."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

When we check the Event Product in the store front, there we can see that the tickets description is not in proper UI. Please fix the issue.

### Preconditions

1. Create a Event Booking Product from the admin end.
2. Make sure all

[2022-11-23 10:31] papnoisanjeev commented on #6756
@Sanjaybhattwebkul

Please check now, If product individual view is disable then customer will not able to see product on front end (if pasting direct slug in URl).

[2022-11-24 05:13] ashishkumar-webkul opened #7130 "Validation message should appear in Event Booking Product tickets End Date Section."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

When we create a Event Booking  product and  then we set the Start Date and End Date of the Event. After that when we create the Tickets, in tickets when we add Special Price and in special price Valid from and Valid til, there in

[2022-11-24 05:54] papnoisanjeev commented on #7128
@Sanjaybhattwebkul

Here with this PR have fixed **ticket description** position, now if we shift quantity box down it will collapse with description so no need to change quantity box position here.

[2022-11-24 06:03] ashishkumar-webkul opened #7132 "We are able to save Event Booking Product with tickets valid till more then the event end date."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

When we create a Event Booking product and then we set the Start Date and End Date of the Event. After that when we create the Tickets, in tickets when we add Special Price and in special price Valid from and Valid til.
Make sure V

[2022-11-24 06:20] ashishkumar-webkul opened #7133 "UI issue in the Event Booking Product Tickets section after validation message appears."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

When we create a Event Booking product and then we set the Start Date and End Date of the Event. After that when we create the Tickets, in tickets when we add Special Price and in special price Valid from and Valid till make sure w

[2022-11-24 07:14] ashishkumar-webkul opened #7135 "UI issue in downloadable product, download information section."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

After creating the downloadable product, there when we add the downloadable product information, there we can see the UI issue appearing.
The information box should be in same line and the add option other information should come b

[2022-11-24 08:09] ashishkumar-webkul opened #7136 "UI issue in mobile inspect and Desktop view -> Configurable product variants add section."
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

MASTER

### Issue Description

When we create a Configurable product and add  variant details, there we can see the UI issue in the Add image section. weather we add a single  image or multiple image we can see that the UI issue is still appearing. Checked the i

[2022-11-24 09:37] Sanjaybhattwebkul opened #7137 "There should be warning message if the user is trying add the product to cart for which Visible Individually is disabled"
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

Master

### Issue Description

If Visible Individually is disabled by the admin then there is no warning message while the user is trying to add the product to the cart, wishlist, or compare.

### Preconditions

The Customer should be on the product's view page.

[2022-11-24 09:38] Sanjaybhattwebkul commented on #7137
@papnoisanjeev
We need to validate all the actions for the same case.

[2022-11-24 11:47] devansh-webkul commented on #6879
Have you loaded Vue JS, as for running the component you needed to load up the Vue JS which `shop.js` is doing,
https://github.com/bagisto/bagisto/blob/master/packages/Webkul/Shop/src/Resources/assets/js/app.js#L2

May be some dependency got broken as yu are doing customization. So please check.

[2022-11-24 13:35] Sanjaybhattwebkul commented on #7113
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/N8uRzMy0SvZQ), for future **reference**.

[2022-11-24 13:35] #7113 closed

[2022-11-24 14:19] tahiryasin commented on #4869
I have provided both api keys in `.env`
[code]

But still getting the error

![image](https://user-images.githubusercontent.com/2690391/203806262-2409420a-0d42-4216-8228-78a36158edff.png)

[2022-11-25 08:19] shagun2405 commented on #6972
@Sanjaybhattwebkul assign this issue to me

[2022-11-25 09:50] gh-darvishani opened #7139 "add customer loging to the admin panel"
### Is your feature request related to a problem? Please describe.

no

### Describe the solution you'd like

we can add a new link to the admin customer grid and after clicking on it we should be able to login as a customer.
this feature is essential because sometime admin needs to check customer panel

### Describe alternatives you've considered

_No response_

### Additional context

_No respon

[2022-11-25 12:47] prabhatkumaroc082 opened #7142 "vue-cal calendar view issue"
### Terms

- [X] Before you openning this issue, i have checked if the issue has already been reported.

### Bagisto Version(s) affected

Master

### Issue Description

Calendar view of booking orders are not visible, facing console error and untranslated  day, month, etc labels

### Preconditions

place any booking order
compile by command `npm run watch`

### Steps to reproduce

1. Login to admi

[2022-11-25 12:49] prabhatkumaroc082 commented on #6990
found calendar view bug - https://github.com/bagisto/bagisto/issues/7142

[2022-11-26 05:25] akhtarkhan1 commented on #6796
@Sanjaybhattwebkul
Not able to reproduce the issue. Click [Here](https://prnt.sc/RvKb_P1XgmFl)

[2022-11-26 06:40] prabhatkumaroc082 commented on #6990
@ashishkumar-webkul
it will auto-managed as per event date and time. already hover event is there to view full length content.

height will be adjusted as per slot time so can't set 100% height or display in other slot.

In above video, 11-11:40 slot could be availed by multiple users, similarly nearby slots i.e., 12:00-1:00, etc could be filled by different events so can't display single event in

[2022-11-26 07:09] #6992 closed

[2022-11-26 07:10] akhtarkhan1 commented on #7130
@ashishkumar-webkul
I have checked the issue, This issue is not valid.

[2022-11-26 07:36] Sanjaybhattwebkul commented on #7128
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.
And I have attached a **screenshot** [Here](https://prnt.sc/PfbaHbA0MpwE), for future **reference**.

[2022-11-26 07:36] #7128 closed

[2022-11-26 08:21] Sanjaybhattwebkul commented on #6987
@jitendra-webkul
Now, this issue is **fixed**. so I am **closing** this issue.

[2022-11-26 08:21] #6987 closed

[2022-11-26 08:22] devansh-webkul commented on #6716
This can't be implemented as a datagrid as this will create too much complexity. There can be some other way where you can make a component for dragging the limited content.

As datagrid can have 1 million rows also.

This can be good for a small amount of limited content.

[2022-11-26 08:22] devansh-webkul commented on #6716
My suggestion would be, if you have 10 rows then you can simply make a draggable component for that.

[2022-11-26 08:24] #6716 closed

[2022-11-26 08:35] devansh-webkul commented on #6848
Not getting an issue.

[2022-11-26 08:36] #6848 closed

[2022-11-26 08:42] devansh-webkul commented on #7096
PR is merged,
https://github.com/bagisto/bagisto/pull/7095

[2022-11-26 08:42] #7096 closed

[2022-11-26 08:42] devansh-webkul commented on #7096
Hi @gh-darvishani,

Thank you for your contribution. :rocket:

[2022-11-26 08:44] prabhatkumaroc082 commented on #7132
found something that these dates are not in use.

[2022-11-26 08:46] akhtarkhan1 commented on #7073
@ashishkumar-webkul
Not able to reproduce the issue. Click [Here](https://prnt.sc/P0hkv8QR9Uvy)

[2022-11-26 09:56] Sanjaybhattwebkul commented on #6781
Issue fixed:  https://prnt.sc/6k55-YhXMwcc

[2022-11-26 09:56] #6781 closed

[2022-11-26 10:08] Sanjaybhattwebkul commented on #6759
@jitendra-webkul
This issue is **fixed** by **this** Pull Request: https://github.com/bagisto/bagisto/pull/7127
So **closing** this issue.

[2022-11-26 10:08] #6759 closed

[2022-11-26 10:15] #7132 closed

[2022-11-26 10:16] #7130 closed

[2022-11-26 11:02] prabhatkumaroc082 commented on #7136
added changes for images responsive [here](https://github.com/bagisto/bagisto/pull/7149).

other input fields are adjusted above as per content, it is set in all data grid to middle the vertical alignment, you must face the same in each grid. no need to apply any fixation for this.

[2022-11-26 11:06] prabhatkumaroc082 commented on #7135
explained here - https://github.com/bagisto/bagisto/issues/7136#issuecomment-1328025349

[2022-11-26 11:17] Sanjaybhattwebkul commented on #6954
Hi there,
Please take a reference from [Here](https://github.com/bagisto/bagisto/issues/6879#issuecomment-1326341604),

[2022-11-26 11:17] #6954 closed

[2022-11-26 11:19] Sanjaybhattwebkul commented on #6954
If **still** you have any **queries** then please raise a **support** ticket [here](https://bagisto.uvdesk.com/en/customer/create-ticket/)

[2022-11-26 11:19] #6879 closed

[2022-11-26 11:26] gh-darvishani opened #7150 "add default value to the attributes"
### Is your feature request related to a problem? Please describe.

no

### Describe the solution you'd like

When we define an attribute sometimes we need to define a default value for it.
we just need to a box on attribute creation page to save default value

i'm working on it

### Describe alternatives you've considered

_No response_

### Additional context

_No response_