[2021-06-21 11:36] devansh-webkul commented on #4926
Hi @ghermans,

I have started working on this.

[2021-06-21 11:46] jovicacosmic opened #4952 "Duplicated queries on Cart"
# Bug report

### Issue Description
When we add/remove/update product to Cart, there are too many duplicated queries

#### Bagisto version
- [ ] master branch
- [x] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce
1. Click add to cart button
2. Update quantity on cart item
3. Remove item from cart
4. Apply/remove coupon

### Expected result
No duplicate queries

### Actual result
400+ duplica

[2021-06-21 11:53] devansh-webkul commented on #4952
Hi @jovicacosmic,

In carts and checkout pages mostly considered a fresh value that's why it looks like a duplicate. Even though debug bar itself causes slowness in the project.

But i will check and let you know what best can be done on this. I am marking this as optimization.

[2021-06-21 13:37] AliRazaLilani commented on #3343
is there any possibility where we can save address in bagisto database before leaving for paypal ? and then we change status if payment is made with paypal .

[2021-06-21 15:16] #4947 closed

[2021-06-21 15:35] vaishaliwebkul opened #4954 "cart rule for free delivery applying on all cart items instead of condition based items"
# Bug report

### Issue Description
cart rule for free delivery applying on all cart items instead of condition based items

#### Bagisto version
- [X] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. create cart rule for free shipping based on product condition
2. add multiple item in cart, one should be match with condition and other shouldn't
3. go to checkout and s

[2021-06-22 00:53] ruan11223344 commented on #4946
yes it work ! i rewrite this file
![image](https://user-images.githubusercontent.com/5679023/122845898-49d09300-d337-11eb-8bb9-1c3492bca4ec.png)

[2021-06-22 00:53] #4946 closed

[2021-06-22 03:39] gwachhamit commented on #4954
waiting for the solution for this issue.

[2021-06-22 12:23] devansh-webkul commented on #4926
Hi @ghermans,

I just want to confirm should we go with the second point also, as this will change the auto incrementer of the column. As this is an only one-time use case, auto incrementer can be set from MySQL also.

If we give this admin should also need to consider that id should not conflict with the previous one.

[2021-06-22 18:21] rahulanand77 opened #4957 "SQLSTATE[42000] for type json on old mysql"
Hi,

When I tried to install Bagisto 1.3.1 on the Hostgator shared hosting, I got an error attached for the "json" type for MySQL while running migrate command. As the majority of the shared hosting companies are using older MySQL versions, they don't support the "json" type. I would request if this issue can be addressed, it would be good.

The reason is, majority of the people are not using bagi

[2021-06-23 04:05] devansh-webkul commented on #4957
Hi @rahulanand77,

If you check the Laravel, Laravel also not made for shared hosting, still, a large audience is trying to do some hack to run it on the shared hosting until this situation is not met.

I also contact many times with many shared hosting but they will not provide any latest support to MySQL and this is the main drawback of shared hosting.

And we have not planned for dropping any s

[2021-06-23 04:05] #4957 closed

[2021-06-23 04:13] devansh-webkul commented on #4927
Hi @ghermans,

I have started working on this.

[2021-06-23 04:23] ghermans commented on #4957
We are also setting up our own multi-region hosting environment to meet the requirements of most users at acceptable prices. more info about this service will become available very soon.

[2021-06-23 12:50] vaishaliwebkul opened #4959 "getting exception when merge guest cart with customer cart with configurable item"
# Bug report

### Issue Description
Getting error when guest cart is going to added in login customer cart.

#### Bagisto version
- [X] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. Login as customer and add configurable item in cart
2. Logout and add same item as guest user
3. Login again with same user

### Expected result
guest user cart item should be added in c

[2021-06-23 12:55] #4911 closed

[2021-06-23 16:01] ghermans opened #4960 "The invoice date is missing on invoices"
When generating a invoice the order date is displayed on the invoice, we should update this with the invoice date instead.

[2021-06-24 05:32] devansh-webkul commented on #4925
Hi @vaishaliwebkul and @ghermans,

Multiple coupons feature is not available in Bagisto Core. If someone really wants that it will be available through customization.

[2021-06-24 05:32] #4925 closed

[2021-06-24 06:57] devansh-webkul opened #4962 "Able to access downloadable product even i have not purchased"
# Bug report

While writing the docs came to know downloadable links can be achieved without purchasing also. The downloadable links are present in the `storage/public` folder which is publically symlinked.

### Issue Description
- Downloadable links can be accessed without purchasing also.

### Preconditions

#### Bagisto version
- [x] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps

[2021-06-24 07:22] devansh-webkul opened #4963 "French locale translations are missing"
# Bug report

### Issue Description
French is in the list of default Bagisto's locale but translations are missing.

### Preconditions

#### Bagisto version
- [x] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce
1. Just try with french translations.

### Expected result
1. French locale folder should be present.

### Actual result
1. French locale folder is not present.

[2021-06-24 07:27] devansh-webkul opened #4964 "Search icon is missing in velocity theme datagrid"
# Bug report

### Issue Description
- Search icon is missing in the velocity theme datagrid.

### Preconditions

#### Bagisto version
- [x] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Expected result
- Search icon is should be present.

### Actual result
- Search icon is missing in the velocity theme datagrid.

    ![Screenshot](https://user-images.githubusercontent.com/68321766/1232206

[2021-06-24 07:38] devansh-webkul opened #4965 "Filter labels in datagrids are not translated"
# Bug report

### Issue Description
Filter labels in datagrids are not translated.

### Preconditions

#### Bagisto version
- [x] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce
1. Filter by search, channel, locale, and customer group.

### Expected result
- Labels should be translated.

### Actual result
- Labels are not translated.

    ![Screenshot(1)](https://user-ima

[2021-06-24 14:29] devansh-webkul commented on #4632
Hi @ghermans,

I just discussed this with the team. This feature will be in the 1.3.2 release. I am changing the milestone.

[2021-06-24 16:10] #3453 closed

[2021-06-24 16:51] #4964 closed

[2021-06-25 05:59] #4951 closed

[2021-06-25 06:01] devansh-webkul commented on #4632
Hi @ghermans,

I have started working on this.

[2021-06-25 09:49] vaishaliwebkul opened #4969 "muliselect attribute options ID should not visible in compare product"
# Bug report

### Issue Description
muliselect attribute options ID should not visible in compare product

#### Bagisto version
- [ ] master branch
- [X] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. Add multi select attribute in product family
2. Add the product in compare list

### Expected result
Instead of ID, value should be visible in compare attribute

### Actual result
![Screen

[2021-06-25 13:41] #4926 closed

[2021-06-25 16:05] vaishaliwebkul opened #4971 "Refund should not allowed if invoice state is set to pending payment"
# Bug report

### Issue Description
Refund should not be allowed if the invoice state is set to pending payment

#### Bagisto version
- [X] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. Sales -> COD Payment
2. Set invoice state/order state to "Pending Payment"
3. Allow true to Automatically Invoice creation after placing an order
3. Place order
4. View order as admi

[2021-06-26 01:11] #4965 closed

[2021-06-26 01:20] #4960 closed

[2021-06-26 01:21] #4927 closed

[2021-06-26 01:22] #4962 closed

[2021-06-26 01:43] ghermans opened #4972 "Merchant details are missing on invoices"
# Bug report

### Issue Description
On the invoice only customer data is displayed while all information about the merchant is missing.

### Preconditions

#### Bagisto version
- [X] master branch

### Steps to reproduce

1.Create a new invoice
2. print the invoice
3. Open the pdf file, as you can see there is no information about the company/merchant

[2021-06-26 03:03] #4972 closed

[2021-06-27 11:22] JoysticK1337 opened #4974 "Can't run "npm run dev/watch etc.""
/closed

[2021-06-27 11:28] dejavuejs commented on #4974
Which package are you compiling?

[2021-06-27 11:58] JoysticK1337 commented on #4974
This: Webkul/Velocity

[2021-06-27 12:02] JoysticK1337 commented on #4974
![image](https://user-images.githubusercontent.com/20798838/123543729-a0373a80-d758-11eb-9152-6be64e794f08.png)
Now i'm on this error :/

[2021-06-27 12:12] dejavuejs commented on #4974
Reinstall node dependencies.

[2021-06-27 12:13] JoysticK1337 commented on #4974
![image](https://user-images.githubusercontent.com/20798838/123544055-2607b580-d75a-11eb-9157-fdae02d767c9.png)
![image](https://user-images.githubusercontent.com/20798838/123544065-2dc75a00-d75a-11eb-9f8a-b19a5f607c4f.png)

[2021-06-27 13:03] #4974 closed

[2021-06-28 10:42] #4963 closed

[2021-06-28 16:01] vaishaliwebkul opened #4977 "configurable product are not visible in category page if allow out of stock is disabled"
# Bug report

### Issue Description
configurable product are not visible in category page if allow out of stock is disabled

#### Bagisto version
- [X] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. Add configurable to category
2. go to configuration-> disable out of stock product
3. go to shop-> click on category

### Expected result
configurable item should be visi

[2021-06-28 16:04] #4971 closed

[2021-06-28 18:03] amrh910 opened #4978 "Weight is not actually displaying the unit in product details -- Request for multiple units"
When you allow weight to be displayed on the product information page, it just displays the number without the actual unit. This can be very confusing for customers. It should be displayed.

Also, I think there should be the ability to use multiple units. For example, there should be the option to specify the weight of one product in lbs but the weight of another product in oz. It would be very co

[2021-06-28 18:51] farsh1d opened #4979 "i want to contribute to bagitso, can i add RTL language support and jalali date?"
Hi,
My name is  farshid, im a Laravel developer with 4 years experience in business projects.
I will be happy if I can add RTL languages support and Jalali date  (Solar Calendar) without major changing structure to project.
because 100 millions Persian speaking people can use this free and open source awesome software for sell their products and services, that's amazing
I will be happy to know you

[2021-06-28 19:05] ghermans commented on #4979
Hi, thank you for your interest to crontibute to Bagisto you can follow our contribution guide https://github.com/bagisto/bagisto/blob/master/.github/CONTRIBUTING.md for more info.

[2021-06-28 19:13] #4979 closed

[2021-06-29 01:28] croeber commented on #3683
Yall should at least tell the user to use a better browser, how would I accomplish this in the bagisto framework.

[2021-06-29 06:49] devansh-webkul commented on #4779
Need to reopen this,
Ref: https://github.com/bagisto/bagisto/issues/4977

[2021-06-29 10:15] ghermans commented on #3683
We actually don't have to do anything.. and certainly not supporting software that is end of life.
The fact that you continue to use internet explorer is not our responsibility.

[2021-06-29 10:30] ghermans commented on #4324
an extension for Whatsapp is available https://bagisto.com/en/extensions/laravel-ecommerce-whatsapp-contact/
for Facebook messenger you can follow https://developers.facebook.com/docs/messenger-platform/discovery/facebook-chat-plugin/

[2021-06-29 10:30] #4324 closed

[2021-06-29 11:15] devansh-webkul commented on #4952
Hi @jovicacosmic,

As already one issue is open on this i.e.,
https://github.com/bagisto/bagisto/issues/4680

I am closing this one. Keep a track on the mentioned issue.

[2021-06-29 11:15] #4952 closed

[2021-06-29 12:14] farsh1d opened #4984 "Add RTL language support and jalali date"
Hi,
My name is farshid, im a Laravel developer with 4 years experience in business projects.
I will be happy if I can add RTL languages support and Jalali date (Solar Calendar) without major changing structure to project.
because 100 millions Persian speaking people can use this free and open source awesome software for sell their products and services, that's amazing
I will be happy to know your

[2021-06-29 12:20] devansh-webkul commented on #4984
Hi @farsh1d,

Thanks for your interest, we already reverted you here,
https://github.com/bagisto/bagisto/issues/4979#issuecomment-869945775

If you want to contribute, you just need to follow the contribution guide.

I am closing this.

[2021-06-29 12:20] #4984 closed

[2021-06-29 15:22] #4943 closed

[2021-06-29 17:41] #4977 closed

[2021-06-29 23:16] Defrothew opened #4985 "ProductAttributeValue model doesn't contain the database schema for "channel_id""
# Bug report

### Issue Description
I was reviewing the code for ProductAttributeValue model and I found out that it has an attribute "channel_id" and a relationship to Channel model but upon checking the database migration for product_attribute_values related table modifications, I didn't find any.

### Preconditions
None

#### Bagisto version
- [x] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2

[2021-06-30 04:26] devansh-webkul commented on #4985
Hi @Defrothew,

Yes, some fixes needed there.

![Selection_001](https://user-images.githubusercontent.com/68321766/123901764-35207a80-d989-11eb-99f2-16a0dca45754.png)

- First, `https://github.com/bagisto/bagisto/blob/8858ed64ffdb07c70652549a8b467b57cf5757eb/packages/Webkul/Product/src/Models/ProductAttributeValue.php#L7` this imported class is not present which causes the error.
- Second due to n

[2021-06-30 07:55] #4779 closed

[2021-06-30 07:56] #4969 closed

[2021-06-30 07:56] #4985 closed

[2021-07-01 08:56] rahulanand77 opened #4987 "Core Concord is removing all other custom moduleproviders - vendor:publish --all --force"
# Bug report

### Issue Description
All the custom moduleProviders are removed after vendor:publish command with --all. As it is publishing core/config/concord.php file onto the root file without verifying all the custom module entries.

### Preconditions
Create any custom module to add ModuleServiceProvider in your Concord.php file.

1.3.1

### Steps to reproduce

1. Install any custom module pac

[2021-07-01 09:44] devansh-webkul commented on #4987
Hi @rahulanand77,

This is the default behavior, the `--all` tag is not recommended especially when you are making modules. Instead, just use the specific provider which you want to publish.

`---all` is used only in starting phase to setup Bagisto. After that, if you have created any modules you need to use the `--provider=<your-provider>` tag .

[2021-07-01 11:37] #4987 closed

[2021-07-02 04:46] harmonizerblinks commented on #3119
When using Localhost:8000 everything works fyn but when using virtual host or uploaded to a server and map a domain to application, it doesn't show product images.

[2021-07-02 04:58] stevechai opened #4988 "Target class [Webkul\Shipping\Helper\Rate] does not exist"
Hi,

Is the index.php file inside Webkul/Shop/src/Resources/views required?

I got the error Target class [Webkul\Shipping\Helper\Rate] does not exist after install spatie/laravel-cookie-consent package. The error goes away once i remove the index.php from resources/themes/default/views.

[2021-07-02 06:01] devansh-webkul commented on #4988
Hi, this seems to be a problem with your integration.

Just verify if classes are autoloaded or not.

Please use the forum for any queries. This channel is only for reporting issues.

https://forums.bagisto.com/

[2021-07-02 06:01] #4988 closed

[2021-07-02 07:13] stevechai commented on #4988
Hi,

I found that the file /Webkul/Shipping/src/Helpers/Rate.php was removed since Sep 20, 2018, could I safely remove the /Webkul/Shop/src/Resources/views/index.php file?

[2021-07-02 07:18] devansh-webkul commented on #4988
Which version are you using?

[2021-07-02 07:24] stevechai commented on #4988
I'm using the master branch

[2021-07-02 07:35] devansh-webkul commented on #4988
If you are using the master branch, then this should not happen. Either you have recently moved from some version to the master branch. In that case, just republish your package (if you have not customized anything).

[2021-07-02 07:43] stevechai commented on #4988
I reinstalled from scratch using master branch, still facing the same issue.

[2021-07-02 08:11] devansh-webkul commented on #3119
Hi,

I want to mention that if someone is using the instance just make sure you install the GD extension as mentioned in the docs because in Bagisto we are using the Laravel intervention package which optimizes the image.

Whether you try to optimize, autoload, publish, etc it won't impact unless and until the required dependencies are installed.

https://devdocs.bagisto.com/1.x/introduction/requi

[2021-07-02 08:13] devansh-webkul commented on #4988
There is something wrong with your instance, I am using the Bagisto master and I am not facing any issue.

[2021-07-02 08:36] stevechai commented on #4988
From fresh installed Bagisto master, composer require spatie/laravel-cookie-consent, after following the installation instructions from https://github.com/spatie/laravel-cookie-consent, either by adding @include('cookie-consent::index') to Velocity theme's master.blade.php or adding \Spatie\CookieConsent\CookieConsentMiddleware::class, to Kernel.php. The error appear after refresh.

[2021-07-02 09:46] devansh-webkul commented on #4988
This is some customization which you are trying. If you want some support you can contact webkul for that.

[2021-07-02 09:52] stevechai commented on #4988
Thanks @devansh-webkul

[2021-07-02 11:08] swatikmr2103 opened #4989 "In Sales module Create refund Subtotal is showing different"
# Bug report

### Issue Description
In Bagisto sales module check any of the products and create a refund for that product, in creating a refund, you will find section products ordered there you will have subtotals at two different places at both the places value of subtotal is showing different.

### Preconditions

#### Bagisto version
- [x] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

###

[2021-07-02 12:20] devansh-webkul commented on #4989
Hi @vaishaliwebkul,

I think its a name issue,

`sub total` -> `price
`
`grand total` -> `sub total`

[2021-07-02 12:25] swatikmr2103 commented on #4989
Hello,

No, you can check in order information sub total -> Sub totals
![image](https://user-images.githubusercontent.com/76533488/124274227-9fd6df00-db5e-11eb-8246-279ea92ae9ea.png)
 it's not priced anywhere.

[2021-07-02 12:29] #4632 closed

[2021-07-02 15:06] vaishaliwebkul commented on #4978
@amrh910
We can consider this as an enhancement and will be great if you could contribute for this feature.

[2021-07-02 15:23] vaishaliwebkul opened #4990 "Automatic scroller should be added to focus on required field while user trying to save catalog details"
# Bug report

### Issue Description
Let users know when they submit the form without filling in required details with the help of an automatic scroll the window in required place.

#### Bagisto version
- [X] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. Go to admin-> catalog -> products -> click on submit without filling required fields

### Expected result
automati

[2021-07-02 15:35] vaishaliwebkul opened #4991 "getting error on webinstaller when setup admin credential with default email and password"
# Bug report

### Issue Description
getting error on web installer when setup admin credential with default email and password

#### Bagisto version
- [X] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. - setup bagisto using web installer
2. - add admin default credentials (admin@example.com/admin123)

### Expected result
Should proceed further without any error

###

[2021-07-02 15:51] vaishaliwebkul opened #4992 "Products image are getting stretch on search page"
# Bug report

### Issue Description
Products image are getting stretch on search page

#### Bagisto version
- [x] master branch
- [X] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1.  Add 2- 3 product on category having smiliar name
2. Go to search page

### Expected result
image should be not stretch on search page

### Actual result

![Screenshot_13](https://user-images.githubuserconten

[2021-07-03 05:00] Defrothew opened #4993 ""parent_id" attribute is non-existent on shipment_items but there is an existing relationship in ShipmentItem model"
# Bug report

### Issue Description
"parent_id" attribute is non-existent on shipment_items but there is an existing relationship in ShipmentItem model

### Preconditions
None.

#### Bagisto version
- [x] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

https://github.com/bagisto/bagisto/blob/master/packages/Webkul/Sales/src/Models/ShipmentItem.php
https://github.com/bagi

[2021-07-04 06:12] harmonizerblinks commented on #3119
I'm using https://www.cloudways.com for hosting, everything is already installed.
here is the live site link https://sparkonlineshop.com

[2021-07-05 03:58] devansh-webkul commented on #3119
Hi @harmonizerblinks,

The images in the mentioned sites are the default placeholder, images are not optimized yet, try this,
https://github.com/bagisto/bagisto/issues/4843#issuecomment-831668608

[2021-07-05 04:13] devansh-webkul commented on #4991
Hi @vaishaliwebkul,

This seems like you are trying to do in the existing database. If this error occurs then all test cases should be failing also.

[2021-07-05 05:34] #4991 closed

[2021-07-05 22:06] xalexslx commented on #4744
Sorry for hijacking this thread as I'm just getting introduced to Bagisto. What are the differences between bagisto/bagisto-standard and bagisto/bagisto?

[2021-07-05 22:08] xalexslx commented on #4762
May I suggest to be able to use category as prefix instead of each product having their direct slug as URL? I know there is SEO issues and that, but turning it configurable should help with some specific user cases.

[2021-07-06 04:05] devansh-webkul commented on #4762
Yes if we add a prefix, this will create SEO issues. Well if you want you can customize your project. The point of this discussion is about whether should we handle category names via database trigger or project itself.

Because by database, user needs a root previlidge atleast one time at the time of installation.

[2021-07-06 04:09] devansh-webkul commented on #4744
Bagisto standard is for the one-click update. Let say if a new version is released then the user doesn't need to do it manually (unless and until some major customization done).

Whereas Bagisto is the main core portion.

[2021-07-06 04:27] #4992 closed

[2021-07-07 03:56] #4989 closed

[2021-07-07 04:08] swatikmr2103 commented on #4989
Hello,

As we had a discussion the other day if your team will find this was a bug
you are going to give me a reward.

Please make a response.

Regards
Swati Kumari

On Wed, Jul 7, 2021, 9:26 AM Devansh ***@***.***> wrote:

[2021-07-07 11:08] harmonizerblinks commented on #3119
the Optimized Images are there but not displaying and the fallback is the placeholder on error.

[2021-07-07 11:15] harmonizerblinks commented on #3119
Everything works fyn when using Localhost:8000 url. only when it's deployed or using a visual host url locally it doesn't display.

[2021-07-07 14:14] harmonizerblinks commented on #4843
Pls can u share links to install these on a cloud server?

[2021-07-07 17:08] ghermans commented on #4989
Hi @swatikmr2103, Bagisto is a open source project, this means that it is kinda normal that the community (people who are using Bagisto) report issues or contribute to the project with fixes or enhancements, we don't directly see any reason to work with some reward system for these contributions

[2021-07-07 17:13] swatikmr2103 commented on #4989
Okay @ghermans.

[2021-07-08 04:24] devansh-webkul commented on #3119
I just checked by uploading an image in your instance. In the admin panel, it's showing an image that means your intervention package is not working.

Please install all dependencies.

And also please use the forum for discussions, don't reply on the closed issues,
https://forums.bagisto.com/

[2021-07-08 04:25] devansh-webkul commented on #4843
I already mentioned these dependencies vary according to OS.

Please use the forum for discussions, don't reply on the closed issues,
https://forums.bagisto.com/

[2021-07-08 09:56] Arsivpro opened #4999 "address and review are not deleted"
the incoming update also redirects the delete buttons to the 404 page and does not delete the review, the address is not deleted

[2021-07-08 09:59] devansh-webkul commented on #4999
Hi @Arsivpro,

This is because the route method has been changed and your changes are cached. Just try to clear your routes cache,

[2021-07-08 10:16] Arsivpro commented on #4999
clear cache and reinstall artisan route:cache same problem persists

[2021-07-08 10:50] Arsivpro commented on #4999
It works as I want when I get the route address and delete the route made in the review.

[2021-07-08 10:55] ghermans commented on #4999
What version are you using?

[2021-07-08 10:58] Arsivpro commented on #4999
@ghermans latest version

[2021-07-08 11:01] ghermans commented on #4999
Do you mean 1.3.1 from composer , or did you cloned the master branch?

[2021-07-08 11:02] Arsivpro commented on #4999
@ghermans I am using bagisto 1.3.

[2021-07-08 11:31] devansh-webkul commented on #4999
Hi @Arsivpro,

If you have taken the latest clone, then make sure you check the views also. Because implementation is also done in the view portion also.

So if you have not customized then make sure you run `vendor:publish` command or else do it manually.

[2021-07-09 04:05] devansh-webkul commented on #4999
@Arsivpro and @ghermans,

I am closing this as this is not reproducible in the master branch. There is some implementation missing by @Arsivpro.

[2021-07-09 04:05] #4999 closed

[2021-07-09 17:44] #1198 closed

[2021-07-09 18:23] EgyptianM commented on #4012
I have the same issue after installing on local host
I'm following this link

https://webkul.com/blog/laravel-ecommerce-website/

I did all steps without any issues and the front end is working but dashboard isn't

it gives me

Error
Class 'NumberFormatter' not found

![image](https://user-images.githubusercontent.com/12565380/125120973-88b26700-e0f3-11eb-983b-5b130ba4cafe.png)

[2021-07-09 19:23] EgyptianM opened #5000 "Locale selection issues"
# Bug report

### Issue Description
Local selector not working on the front end
in add product page I can't find any locals except English in the dropdown menu

https://bagisto.gostore.pro/public/
use default credentials
### Preconditions
 Downloaded latest version from github and installed it via composer
everything is working fine tell now except language selector

#### Bagisto version

- [x]  l

[2021-07-09 19:54] #5000 closed

[2021-07-09 22:14] EgyptianM commented on #2308
I don't think that there is a single word in any script that can be used in different countries that doesn't need a translation.

Please provide a way to translate everything in the framework because we need this and it's necessary.

Thank you in advance

[2021-07-10 11:36] ghermans commented on #2308
@EgyptianM @michael-arif Sorry for the silence around this feature request, we will discuss this internally with the team and get back to you later.

[2021-07-10 12:40] ghermans opened #5001 "Display total unpaid invoices on the dashboard"
1. To have a quick overview of unpaid invoices add a new statistic box
![unpaid](https://user-images.githubusercontent.com/1594411/125163242-8b14cf80-e18c-11eb-9019-c7c12e02483f.PNG)

2. Add a card and list the unpaid invoices

[2021-07-10 14:48] muhgad opened #5002 "can't install using composer "InvalidArgumentException""
# Bug report
can't install Bagisto using the composer command line
### Issue Description
Error when installing new project using the composer command line  "composer create-project bagisto/bagisto"

php version 7.3

### Preconditions

#### Bagisto version
- [x] 1.3.1

### Steps to reproduce

1.create new project with command "composer create-project bagisto/bagisto"

### Actual result

[InvalidArg

[2021-07-11 16:43] EgyptianM commented on #2308
@ghermans Thank you very much

[2021-07-11 23:21] ghermans commented on #5002
It seems that your environment doesn't matches the requirements to run Bagisto.
Please verify https://devdocs.bagisto.com/1.x/introduction/requirements.html

[2021-07-12 04:15] devansh-webkul commented on #4012
Hi @EgyptianM,

Make sure your project is having all the required extensions,
https://devdocs.bagisto.com/1.x/introduction/requirements.html#php-extensions

[2021-07-12 08:56] muhgad commented on #5002
All requirements are satisfy
PHP version 7.4
MariaDB: 10.5.10
laravel/homestead' version '11.3.0

[2021-07-12 13:58] ghermans commented on #5002
@vaishaliwebkul can you please verify this ?

[2021-07-12 15:40] vaishaliwebkul commented on #5002
@muhgad
can you please mention your composer version ??

[2021-07-13 05:55] gwachhamit commented on #4954
any progress on this task?

[2021-07-13 09:48] stevechai opened #5004 "Velocity checkout page changing address doesn't update select shipping method section"
# Bug report

### Issue Description

On velocity theme checkout page, if client has multiple addresses, the options for "Select Shipping Method" should be updated every time the client select a different address.

### Preconditions

I have created a shipping method package to retrieve shipping rate from my courier service provider. For unsupported destinations, I set the shipping method to return

[2021-07-13 10:30] Arsivpro opened #5005 "Ability to edit Bagisto product stock management without editing"
Hello, in the bagisto admin panel, you should be able to easily fix the product stocks without entering the product edit page, how can you do this? As seen in the picture, a different platform has done this, so we can gain both convenience and time.
I have indicated in the red area in the picture!

![1](https://user-images.githubusercontent.com/65822345/125437117-34856856-8e0e-4d8e-8423-2f960534a6

[2021-07-13 22:17] akashthakur05 opened #5006 "Issue with Installation of Bagisto Locally"
Server version: 10.4.16-MariaDB
PHP
PHP 7.4.12 (cli) (built: Oct 27 2020 17:18:47) ( ZTS Visual C++ 2017 x64 )
Copyright (c) The PHP Group

This installation not moving from this point.
![12](https://user-images.githubusercontent.com/29923859/125532221-b76515f7-900f-4d2c-9888-2c139f60ecd2.JPG)

[2021-07-14 04:48] devansh-webkul commented on #5006
Hi @akashthakur05,

Can you just share the error log?

-- OR --

Just type the command in terminal `php artisan bagisto:install` and share whats the error there.

[2021-07-14 15:44] akashthakur05 commented on #5006
@devansh-webkul Thanks for the help its working with the terminal . Not in the browser

[2021-07-14 15:44] #5006 closed

[2021-07-15 06:52] zulqarnain07 opened #5007 "Product editing issue"
Hi, When  we try to edit item I get this message.
![image](https://user-images.githubusercontent.com/86829369/125742331-038f189b-5c48-40b3-bb12-dfdd551068a9.png)

[2021-07-15 07:17] devansh-webkul commented on #5007
Hi @zulqarnain07,

Please fill up the full issue format. And provide all the details.

[2021-07-15 07:26] zulqarnain07 commented on #5007
When I click edit icon

![image](https://user-images.githubusercontent.com/86829369/125746732-7ac48b8d-c590-4904-be1c-3ce5d2c57cce.png)

page redirected to above attached screenshot.

[2021-07-15 10:16] #5007 closed

[2021-07-15 11:11] zulqarnain07 opened #5008 "Image upload option with editor"
Provide image upload option in tinymce editor

[2021-07-15 15:21] vaishaliwebkul commented on #5004
@stevechai
Yes, while switching b/w addresses then shipping rates are not updated in my case also.

We will fix this soon.

[2021-07-15 17:17] vaishaliwebkul commented on #5002
@muhgad
Environment is fine based on the requirement, kindly try to setup by installing the Bagisto zip once from here https://bagisto.com/en/download/ and after unzip file, run **composer install** inside the bagisto directory.

[2021-07-15 19:37] ghermans commented on #5002
I just verified this on a windows & linux machine  to ensure it is not a bug and couldn't reproduce this issue.
Please use the forum https://forums.bagisto.com for further support regarding this issue

[2021-07-15 19:37] #5002 closed

[2021-07-16 07:25] zulqarnain07 opened #5009 "Need to optimize product attribute options"
# Bug report

### Issue Description

Product attribute edit page stuck If product attribute have options more than 100 options.
### Preconditions

#### Bagisto version
- [x] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1.
2.

### Expected result

### Actual result

I have attribute name authors having more than 250 authors list in option when I open this attribute to

[2021-07-18 10:23] zulqarnain07 opened #5010 "Child categories item should display in parent category"
# Bug report

### Issue Description

child category items not display in parent category if we did not select parent category in item but I think child categories items should display in parent categories also like magneto
### Preconditions

#### Bagisto version
- [x] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1.
2.

### Expected result

### Actual result

[2021-07-19 09:57] vaishaliwebkul opened #5011 "admin filter options are not working in Safari"
# Bug report

### Issue Description
admin filter options are not working in Safari

### Preconditions

Safari 12
Mac 10.14

#### Bagisto version
- [x] master branch
- [X] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. login to admin
2. filter grid based on available option in dropdown

### Expected result
filter option should be working

### Actual result
https://www.loom.com/share/614f

[2021-07-19 16:05] vaishaliwebkul commented on #5010
@zulqarnain07
This is up to the user's requirement whether they want to show the child item under the parent category or not if the parent's child is selected only so that the user can customize it.

[2021-07-20 05:27] vaishaliwebkul opened #5012 "configuration section is not visible when admin locale is french"
# Bug report

### Issue Description
configuration section is not visible when admin locale is french

#### Bagisto version
- [x] master branch
- [X] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. set admin locale as FR
2. go to admin-> configuration

### Expected result
configuration section should be visible in fr locale

### Actual result
![Screenshot_15](https://user-images.githubuse

[2021-07-20 08:06] vaishaliwebkul opened #5013 "No warning visible when user password doesn't match on reset password page"
# Bug report

### Issue Description
No warning is visible when user password doesn't match on reset password page

#### Bagisto version
- [X] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. Click on forgot password link from customer login
2. Click on reset password link received on registered mail
3. Add password & confirm password which is not matched

### Expected

[2021-07-20 12:15] devansh-webkul commented on #5010
I am closing this as this is not an issue, for further discussion you can use the forums,
https://forums.bagisto.com/

[2021-07-20 12:15] #5010 closed

[2021-07-20 13:55] devansh-webkul commented on #5011
Hi, @ghermans and @vaishaliwebkul,

This is probably a bug with Safari not with the project. Sometimes click event won't work in the safari browser and a bunch of issues has been opened related to this.

[2021-07-21 09:58] chiendv commented on #2152
Hi,
I get stuck in this error when running Bagisto with nginx and reserve-proxy (client -> proxy -> nginx (bagisto) )

Nginx is running at port 83 and root is point to bagisto public directory.

APP_URL=http://domain.com

php artisan storage:link said
The [/var/www/html/xxx/public/storage] link has been connected to [/var/www/html/xxx/storage/app/public].

images are good in admin but not show in

[2021-07-21 10:10] devansh-webkul commented on #2152
Hi @chiendv,

There are possibly only two reasons,

- First, either your `APP_URL` is not correct in `.env` file. Just change that and run `php artisan optimize`.
- Second, the GD extension maybe not be installed as mentioned in the docs because in Bagisto we are using the Laravel intervention package which optimizes the image.
https://devdocs.bagisto.com/1.x/introduction/requirements.html#php-ext

[2021-07-21 10:18] devansh-webkul commented on #4680
I am closing this as the remaining duplicate query is for the cart items only and this can't be possible right now because tax calculations, catalog rules, and cart rules also rely on them.

For making it faster I already suggested changes in the merged PR, developers can plan according to their needs,
https://github.com/bagisto/bagisto/pull/5014#issue-693347059

[2021-07-21 10:18] #4680 closed

[2021-07-21 10:42] chiendv commented on #2152
Hi @devansh-webkul,
Thanks for you quick response.

I has resolved it by check config of nginx and comment out config lines for cache static files
[code]
Hope it can help other people with this kind of issue.

[2021-07-21 11:44] #5013 closed

[2021-07-21 11:46] #5012 closed

[2021-07-21 12:15] vaishaliwebkul commented on #5011
@devansh-webkul can you share the reference here related to this issue with Safari?

[2021-07-21 12:51] devansh-webkul commented on #5011
@vaishaliwebkul,

https://github.com/vuejs/vue/issues/11014
https://github.com/vuejs/vue/issues/11272
https://stackoverflow.com/questions/68132512/vue-2-6-not-working-correctly-on-safari-ios

I am updating the vue js for admin package also. As they have fixes more in their patch numbers.

[2021-07-21 13:06] vaishaliwebkul opened #5018 "Invoice ID is not recognized in Transaction when invoice id contains custom prefix/suffix"
# Bug report

### Issue Description
Invoice ID is not recognized in Transaction when invoice id contains custom prefix/suffix

#### Bagisto version
- [X] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. Set invoice settings from the configuration
2. generate invoice
3. generate transaction

### Expected result
In transaction, invoice ID should be recognized

### Actual

[2021-07-22 07:46] Arefalhaj commented on #4225
like me

[2021-07-22 10:45] vaishaliwebkul opened #5021 "campaigns mails are not working for guest user"
# Bug report

### Issue Description
if admin wants to send a notification to the guest user then by setting customer group "guest" inside the campaign the mails are not sent.

#### Bagisto version
- [X] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. add email marketing->campaign for guest user
2. process the campaigns

### Expected result
the guest user should receiv

[2021-07-22 11:00] vaishaliwebkul opened #5022 "Header content status update feature required on mass action"
# Bug report

### Issue Description
Header content status update feature required on mass action

#### Bagisto version
- [X] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. add velocity -> header contents
2. try to mass update header content status

### Expected result
status update option should be available

### Actual result

![Screenshot_20](https://user-images.gi

[2021-07-23 23:42] EgyptianM commented on #4012
@devansh-webkul it worked fine on Ampps but not on xampp
I think it's extensions issue as you mentioned

Thank you

[2021-07-24 14:08] aboeldhab74 opened #5025 "Set Multi Channel based on country"
Hi guys,
I'm trying to use multi channel based on country. how i can redirect to hostname based on user country.
Can you help me ?
Thanks!

[2021-07-25 16:28] aboeldhab74 opened #5026 "multi channel price"
Hi,
iam created two channels. when creating a product the price is fixed for two channels.
thank you

[2021-07-26 04:18] devansh-webkul commented on #5025
Hi @aboeldhab74,

You already asked here,
https://forums.bagisto.com/topic/2564/set-multi-channel-based-on-country

Please use forums for discussion. This channel is only for reporting bugs and enhancement.

[2021-07-26 04:18] #5025 closed

[2021-07-26 04:27] devansh-webkul commented on #5026
Hi @aboeldhab74,

Price is not channel-based.

[2021-07-26 04:35] #5018 closed

[2021-07-26 07:57] vaishaliwebkul opened #5027 "Fix customer account menu visibility in safari browser"
# Bug report

### Issue Description
Fix customer account menu visibility in safari browser

#### Bagisto version
- [X] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce
1.
2.

### Actual result
![Screenshot_26](https://user-images.githubusercontent.com/43210406/126953716-16fc8007-1fc5-43d4-8e64-76a9a45c8263.png)

[2021-07-26 09:00] vaishaliwebkul opened #5029 "header menu content list layout need to fix"
# Bug report

### Issue Description
header menu content list layout need to fix

#### Bagisto version
- [X] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. add more than 20 header contents

### Expected result

### Actual result
![Screenshot_27](https://user-images.githubusercontent.com/43210406/126962736-6335076c-0cd9-4e47-afec-601ca6280526.png)

[2021-07-26 10:44] aboeldhab74 opened #5031 "payment method based on channels"
Hi,
I have two multi channels.
i need to use cache on delivery payment method on default channel only.
Please let me know.
Thanks

[2021-07-26 14:28] #5027 closed

[2021-07-26 15:53] vaishaliwebkul commented on #5031
@aboeldhab74
go to configuration-> sales -> payment method and select Default channel from the dropdown as shown here https://prnt.sc/1g7g1ti and keep enable only Cash on Delivery.

[2021-07-26 15:53] aboeldhab74 opened #5032 "redirect to another subdomain"
Hi,
I have two channels and two subdomains.  how can i redirect from one subdomain  to another
Please let me know.
Thanks

[2021-07-26 15:59] #5029 closed

[2021-07-26 16:22] vaishaliwebkul opened #5033 "order status options after invoice generation on payment methods"
# Bug report

### Issue Description
order status options after invoice generation are different for both COD and Money transfer payment method

#### Bagisto version
- [X] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. sales -> payment methods
2. For COD, check options in order status after invoice generation
3. for Money Transfer, check options in order status after

[2021-07-27 04:03] devansh-webkul commented on #5032
Hi @aboeldhab74,

Please use the forum for discussions, this channel is for reporting bugs,
https://forums.bagisto.com/

[2021-07-27 04:03] #5032 closed

[2021-07-27 04:04] #5026 closed

[2021-07-27 04:05] #5031 closed

[2021-07-27 04:06] #5011 closed

[2021-07-27 06:17] ariadoos commented on #4248
Hi,
By adding the above-mentioned solution, I ran into the problem  **Getting error Base table channel not found** while uploading my project into dev server and running the composer install command and the same error results for running all the other commands as well.

I found that I don't have a scheme yet that's why I am getting an error from this EventServiceProvider. So It's better to check t

[2021-07-27 06:25] devansh-webkul commented on #4248
Hi @ariadoos,

First of all, I want to mention that these changes are already reverted in the latest master. Because one cannot directly access the database in the boot method so in the latest patch we already removed the core config portion.

Because this will create issue at the time of installation.

[2021-07-27 08:21] #5033 closed

[2021-07-28 21:23] xalexslx opened #5035 "Date set as 00-00-0000"
# Bug report

### Issue Description
When someone (me) develop a new theme, and use local date format on input, the backend do not parse the date correctly. Maybe we need an option to change parse format?

### Preconditions
Changing date_of_birth input to something like dd/mm/YYYY

#### Bagisto version
- [X] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. change theme

[2021-07-28 21:58] xalexslx opened #5036 "Separate saveCustomerAddress method on Cart.php"
Hello,

I'm trying to write my own controller to change some behavior. One thing I noticed, currently it is impossible to make my checkout process address split into billing and shipping. That occurs because of the saveCustomerAddress which requires me to have the both billing and shipping process at the same time.

It is possible to change saveCustomerAddress or split it so I can save billing and

[2021-07-29 04:22] devansh-webkul commented on #5036
HI @xalexslx,

You can create a custom route and controller in your new theme to override the default behavior.

[2021-07-29 04:28] devansh-webkul commented on #5035
Hi @xalexslx,

I just verified, it is parsing correctly and also save in the correct format,

[2021-07-29 04:31] devansh-webkul commented on #5035
I am closing this, if you see something broken in existing themes then feel free to raise the issue.

Please use the forum for discussions, this channel is only for reporting bugs and enhancement,
https://forums.bagisto.com/

[2021-07-29 04:31] #5035 closed

[2021-07-29 04:32] devansh-webkul commented on #5036
I am closing this, if you see something broken in existing themes then feel free to raise the issue.

Please use the forum for discussions, this channel is only for reporting bugs and enhancement,
https://forums.bagisto.com/

[2021-07-29 04:32] #5036 closed

[2021-08-05 10:08] devansh-webkul commented on #5004
Hi @ghermans,

This is some kind of enhancement and I am removing this from milestone as this will need some extra shipment methods setup.

[2021-08-05 13:38] vaishaliwebkul opened #5041 "cancel button should not visible if automatic invoice is generated with pending status"
# Bug report

### Issue Description
cancel button should not visible if automatic invoice is generated with pending status

#### Bagisto version
- [ ] master branch
- [X] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce
1. go to configuration-> COD payment-> set automatic generated invoice with order/invoice status to "pending"
2. place an order
3. At customer end, cancel the order.

### Expe

[2021-08-05 14:14] vaishaliwebkul opened #5042 "Update the alert message when edit and save customer address"
# Bug report

### Issue Description
Update the alert message when edit and save customer address

#### Bagisto version
- [ ] master branch
- [X] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. Admin -> customer -> Addresses -> Update Address

### Actual result
![Screenshot_39](https://user-images.githubusercontent.com/43210406/128364359-b2e41c5a-01f7-462b-be74-af2d974d43dd.png)

[2021-08-05 14:33] vaishaliwebkul opened #5045 "Not getting product images where cache is exist"
# Bug report

### Issue Description
Not getting product images due to cache on search page, category page

#### Bagisto version
- [ ] master branch
- [X] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. setup fresh instance with master & add product image
2. go to category page and check console

### Actual result
Images are not visible
![Screenshot_40](https://user-images.githubuserconte

[2021-08-05 15:20] vaishaliwebkul opened #5046 "add to cart button is not working in compare page for default theme"
# Bug report

### Issue Description
add to cart button is not working in compare page for the default theme

#### Bagisto version
- [ ] master branch
- [X] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. Set default theme and add item to compare page
2. press "add to cart" button from compare page

### Actual result
![Screenshot_41](https://user-images.githubusercontent.com/43210406/1283

[2021-08-05 15:59] #5042 closed

[2021-08-05 16:46] vaishaliwebkul opened #5047 "Order status gets complete when shipment is generated in case of pending invoice"
# Bug report

### Issue Description
Order status gets complete when the shipment is generated in case of pending invoice

#### Bagisto version
- [ ] master branch
- [X] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. Set invoice is generated automatically and order/invoice is pending while placing an order
2.  go to order and generated shipment

### Expected result
Invoice status is pend

[2021-08-06 09:11] #5046 closed

[2021-08-06 09:17] #5045 closed

[2021-08-06 09:27] #5021 closed

[2021-08-06 13:37] bhanu-webkul opened #5051 "Mismatch in grand total and sub total in HKD currency in cart summary"
# Bug report

### Issue Description
Mismatch in grand total and sub total in HKD currency
 -
#### Bagisto version
- [ ] master branch
### Steps to reproduce
1.give product price like 32.3456
2. give special price like 28.7657
3. add to cart that product
### Expected result:
both should be same
### Actual result:
difference in sub total and grandtotal
![screenshot_from_2021_08_04_11_24_46](https://

[2021-08-06 14:18] devansh-webkul commented on #5051
This is a very rare case. I am marking this a low priority. As I need to check the test case as well.

[2021-08-06 15:12] vaishaliwebkul opened #5053 "showing validation on input fields while loading velocity"
# Bug report

### Issue Description
showing validation on input fields while loading velocity

#### Bagisto version
- [X] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

Reload a page where input fields are given

### Actual result
![Screenshot_47](https://user-images.githubusercontent.com/43210406/128532211-33d7f048-7ec7-4e57-8d9a-4400ec02b2fe.png)
![Screenshot_48](http

[2021-08-07 08:09] #5053 closed

[2021-08-08 10:05] EgyptianM opened #5056 "Home banners sizes are missed up in the RTL layout"
# Bug report

### Issue Description

![image](https://user-images.githubusercontent.com/12565380/128627099-5aa55a98-ebc5-4280-9916-e27f1f98fcde.png)

### Preconditions

Fresh install of latest release 1.3.2

#### Bagisto version
- [x] 1.3.2

### Steps to reproduce

1. Fresh install latest release
2.  Add any RTL language
3. Switch to RTL language

### Expected result

![image](https://user-images.

[2021-08-08 10:13] EgyptianM commented on #4827
Still happens in latest release 1.3.2

[2021-08-08 10:42] EgyptianM commented on #5056
Fixed by removing this outer `div`

![image](https://user-images.githubusercontent.com/12565380/128629251-dde95f21-f8e0-475e-8c58-a2c0e19b792d.png)

[2021-08-08 16:02] devansh-webkul commented on #5056
If a parent div block already have a `col-*` classes then no need of any further `col-*` or `row` classes.

Best practice is always add those classes in div and we can remove from the inline block classes.

While resolving conflictions may be these classes again added. Sad to see that. I will fix that tomorrow morning.

[2021-08-08 21:33] xhostcom opened #5057 "Mysqli error on local by flywheeel install"
! ) Notice: Undefined index: DB_PREFIX in /home/anton/Local Sites/larapp/app/public/installer/index.php on line 98
Call Stack
#	Time	Memory	Function	Location
1	0.0001	367064	{main}( )	.../index.php:0

Can it be installed via the Laravel migration? As the web install hangs. It migrates fine, I tried that before I realised it had an installer?  Error somewhere here, can we delete the installer and m

[2021-08-09 04:09] devansh-webkul commented on #5057
Hi, @xhostcom,

Its looks like the DB prefix case is not handled. Thanks for reporting this.

[2021-08-09 06:34] xhostcom commented on #5057
OK I will try when bug fixed if anyone can let me know, Many Thanks

On 09/08/2021, Devansh ***@***.***> wrote:

[2021-08-09 06:47] devansh-webkul commented on #5057
Hi, @xhostcom,

Here is the referenced PR,
https://github.com/bagisto/bagisto/pull/5058

[2021-08-09 08:02] EgyptianM opened #5060 "GuzzleHttp\Exception\ConnectException when editing products"
# Bug report

### Issue Description

when I try to edit a product I get this exception

[code]

### Preconditions

#### Bagisto version
- [ ] master branch
- [x] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1.   Edit any product.

### Expected result

### Actual result

[2021-08-09 08:12] devansh-webkul commented on #5060
Hi @EgyptianM,

This seems to be the problem with your instance as Bagisto by default doesn't use any third-party indexing.

[2021-08-09 08:50] EgyptianM commented on #5060
@devansh-webkul
OK
A fresh install of v1.3.2 doesn't have the problem but an upgrade from 13.1 to 13.2 does.
Although  the 1.3.1 isn't modified by any means and still working fine.
I'm not a laravel dev so I can't do minor changes to the script, only translations and some simple ui changes.

I think it's related to the upgrade process.
If you have time try to upgrade from 1.3.1 to 1.3.2 to test it

[2021-08-09 08:54] devansh-webkul commented on #5060
There are several factors that depend on upgrades as the new version is on Laravel 8. If you are trying to upgrade then you should be familiar with Laravel as well.

[2021-08-09 09:09] xhostcom commented on #5057
Hi is there a composer command to create project? Thanks

On 09/08/2021, Devansh ***@***.***> wrote:

[2021-08-09 09:29] xhostcom commented on #5057
Sorry I note there is composer command, Thanks

On 09/08/2021, Paul Anthony McGowan ***@***.***> wrote:

[2021-08-09 11:10] vaishaliwebkul opened #5061 "Option to add DB_prefix on web installer"
# Bug report

### Issue Description
Option to add DB_prefix on web installer

#### Bagisto version
- [X] master branch
- [ ] 1.3.1
- [ ] 1.3.0
- [ ] 1.2.0

### Steps to reproduce

1. Go to web installer and try to set database prefix

### Actual result
Able to set db_prefix from webinstaller

[2021-08-09 11:20] xhostcom commented on #5057
Hi I got it working using installer, except on create admin it denies
access? Any way around that?   Thanks

On 09/08/2021, Paul Anthony McGowan ***@***.***> wrote:

[2021-08-09 12:53] #5060 closed

[2021-08-09 18:55] #5056 closed

[2021-08-10 04:14] devansh-webkul commented on #5057
The installer is working fine now. Please check your configuration for the second one.

[2021-08-10 04:14] #5057 closed

[2021-08-10 09:17] xhostcom commented on #5057
OK will test new one Thanks

On 10/08/2021, Devansh ***@***.***> wrote:

[2021-08-11 07:03] cerohawke88 opened #5063 "Multi Vendor Marketplace Installation Issue"
# Bug report

### Issue Description

I currently installing multi vendor marketplace extension following this tutorial https://webkul.com/blog/laravel-multi-vendor-marketplace/, i encounter a problem where the db cannot be seeded with error `Class WebkulMarketplaceDatabaseSeedersDatabaseSeeder does not exist`. I suppose i followed the tutorial thoroughly so i didn't notice what mistake i've made.

[2021-08-11 07:42] devansh-webkul commented on #5063
Hi @cerohawke88,

This is a paid extension, please raise a support ticket,
https://bagisto.uvdesk.com/en/

[2021-08-11 07:42] #5063 closed

[2021-08-11 09:57] Aziz-tripleA commented on #2807
after changed my db collation still this error

[2021-08-11 10:02] devansh-webkul commented on #2807
Hi @Aziz-tripleA,

Its `utf8_unicode_ci`.

[2021-08-11 10:09] Aziz-tripleA commented on #2807
before i change it yes  `utf8_unicode_ci`

[2021-08-11 10:11] devansh-webkul commented on #2807
Hi @Aziz-tripleA,

This is a very old thread, I suggest you try the latest version with ` utf8_unicode_ci`.

[2021-08-11 17:10] ghermans opened #5064 "Multi factor authentication"
Add multi factor authentication support for admin

- [Microsoft MFA](https://www.microsoft.com/en-in/security/business/identity-access-management/mfa-multi-factor-authentication)
- [Google 2step verification](https://www.google.com/landing/2step/)

[2021-08-11 21:30] mreduar opened #5065 "Delete option does not work"
# Bug report

### Issue Description
I just did a clean install locally. When I try to delete anything in backoffice with the trash icon I get an error on console: `Property or method "doAction" is not defined on the instance but referenced during render.`

I tried twice to do a clean install and in both cases I get this error.

### Preconditions

Windows 10 Pro 20H2 19042.1165
Laragon MYSQL 5.7, P

[2021-08-12 04:19] #5051 closed

[2021-08-12 04:46] devansh-webkul commented on #5065
Hi @mreduar,

I just check with the latest version and I am not able to reproduce that and the demo is still not updated.

![Screenshot](https://user-images.githubusercontent.com/68321766/129139526-6da35aed-16fa-4e4d-92ae-aac3d5fa36f0.png)

[2021-08-12 08:45] merdiano opened #5067 "Products is_wishlisted attribute is always false on API"
# Bug report

### Issue Description

Products is_wishlisted attribute is always false when you get products list from api
### Preconditions

#### Bagisto version
- [x] master branch
- [X] 1.3.2
- [X] 1.3.1
- [ ] 1.3.0

### Steps to reproduce

1. add product to wishlist
2. get product

### Expected result

is_wishlisted attribute should be true
### Actual result

is_wishlisted attribute is always f

[2021-08-12 08:48] ghermans commented on #5067
@devansh-webkul can you please verify this?

[2021-08-12 08:56] merdiano commented on #5067
I think I found problem is in getWishlistProduct function. Where guard is hardcoded to customer.
[code]

[2021-08-12 09:19] devansh-webkul commented on #5067
Hi @ghermans,

I will let you know.

[2021-08-12 10:59] devansh-webkul commented on #5067
Hi, @ghermans and @merdiano,

Wishlist is only for customers, so if you fetching the product just make sure you should have a bearer token in your header, and in the query param `?token=true` needs to be a pass. And this thing is important otherwise again it will get the session guard.

[2021-08-12 11:20] devansh-webkul commented on #5067
@merdiano and @ghermans,

I just reverified in the fresh instance and it seems to be an issue. I am really sorry actually the helper method is calling as mentioned by you.

Really appollogy for this. I will fix it in a moment.

[2021-08-12 12:00] AmooAti opened #5069 "Category datagrid channel locale filter"
Hi,
Category Datagrid is not using extra filters(locale and channel) it's good to add them for a better user experience.
I can make a PR in the next few days if you want.
Thank you for your great framework.

[2021-08-12 12:18] devansh-webkul commented on #5069
Hi @AmooAti,

Yeah sure! The category is the only locale-based so we can add locale filter only.

[2021-08-13 05:42] devansh-webkul opened #5072 "Preview Of Shipment And Invoice"
## Feature Request
- Preview of shipment and invoice when generating invoice or shipment so that admin gets double verified, or mistakenly pressed the save button.

[2021-08-13 05:44] devansh-webkul opened #5073 "Feature For Admin To Clear Cache And Optimize From The Panel"
## Feature Request
- Feature for admin to clear cache and optimize from the panel.

[2021-08-13 05:46] devansh-webkul opened #5074 "Loader Or Spinner On-Screen When Updating Something In Bulk"
## Feature Request
- In the admin panel, there are data grids in which we do bulk operations. It will be good if we provide some loader/spinner for large operations.

[2021-08-13 05:50] devansh-webkul opened #5075 "In Datagrid Total Number Of Records And Filter Records Should Be Displayed"
## Feature Request
- Currently in data grids we don't know, how much amount of data is present, it will be good if we provide a total number of records and filter records. Just like other data tables.

[2021-08-13 08:22] #5004 closed

[2021-08-13 08:50] #4993 closed

[2021-08-13 09:09] devansh-webkul commented on #1805
Hi @ghermans,

I am just checking out this issue. I haven't seen any major changes in the API, even we have not changed even a single key except additions of the new key.

Versioning can only be possible if the existing project is broken due to the current version release.

Otherwise i am not seeing any point of versioning the API because this will increase the route groupings.

[2021-08-13 09:39] #1805 closed

[2021-08-15 05:57] parasbhadauria opened #5078 "Inclusive of all taxes is not correct or working properly"
@devansh-webkul @vaishaliwebkul
Currently, We have a Price Input field as Price, Cost, Special Price

For example, Let's take a 28% tax slab for the product
Price: $100 (Visible at the front end as $128)
Special Price: $80 (Visible at the front end as $102.40)

Data input for the price field is complex in the current scenario as this is not the right way to implement inclusive of all taxes functio

[2021-08-16 04:25] devansh-webkul commented on #5078
Hi @parasbhadauria,

- The default behavior of Bagisto doing the Same.

- Tax inclusion is provided and you can enable/disable it from the backend.

For e.g,
- If tax inclusion is enabled, then a 28% tax slab for the product,

    Price: $100 (Visible at the front end as $128)
    Special Price: $80 (Visible at the front end as $102.40)

- If tax inclusion is disabled,

    Price: $100 (Visible at

[2021-08-16 05:21] parasbhadauria commented on #5078
Hi @devansh-webkul
You got it wrong.
Actually, we want Tax-inclusive enabled but tax value should be adjusted within the listed price.
If the Product Price is $100 (Inclusive of all taxes, let's say 28% tax), the same should be visible at the front-end.
But instead of $100, it is showing as $128.
Tax adjustment should be done by web application itself as ($78.12 + 28% = $100)
I hope you get it.

[2021-08-16 05:28] devansh-webkul commented on #5078
@parasbhadauria,
- This is not the case you need to adjust that amount as per your need.
- Functionality is already there.

[2021-08-16 05:47] devansh-webkul commented on #4945
Hi @nickezekias and @ghermans,

- This is strange earlier it was reproducible now it is not reproducible. I just checked in my instance with MYSQL 8.0,

    ![Screenshot(2)](https://user-images.githubusercontent.com/68321766/129516553-42960cbb-81ed-4df3-b310-8e352c29c768.png)

- So I thought it may be an issue in an earlier version, so I tested this with MYSQL 5.7 also,

    ![Screenshot(1)](https

[2021-08-16 07:01] devansh-webkul commented on #5078
I am closing this as this is not an issue.

[2021-08-16 07:01] #5078 closed

[2021-08-16 10:06] Arsivpro opened #5079 "I can't rate the product price to tax"
I add 18% tax to a 10tl product, it shows 10.01. I'm writing the raw tax-free version of the price 8.4745 comes the same way

![232118957_1454424984915174_3432465970423139938_n](https://user-images.githubusercontent.com/65822345/129547280-04c4a46f-a3b0-4809-a33d-577ea19cf628.jpg)

[2021-08-16 10:10] devansh-webkul commented on #5079
Hi @Arsivpro,

Please fill in the issue format and please elaborate more. With actual results and expected results so that I can further help you.

[2021-08-16 23:19] #5001 closed

[2021-08-17 04:47] devansh-webkul commented on #5079
Hi @Arsivpro,

Any update on this?

[2021-08-17 06:57] devansh-webkul opened #5083 "Cookies Consent Manager"
## Feature Request
The cookie solution/consent manager is essential since every website in Europe needs it by law. As long as the user does not accept cookies, the website is not allowed to set any cookies (except technically required cookies).

Once the user agrees or sets his preferences, the website can set cookies for tracking, marketing, etc.

Thus, the solution must be able to deliver script

[2021-08-17 08:33] merdiano opened #5085 "When caching static files on nginx, product images does not show."
# Bug report

### Issue Description
When i add caching for static files on nginx conf product images give 404 not found.
Here is error on log file:
[code]

### Preconditions

#### Bagisto version
- [ ] master branch
- [ ] 1.3.2
- [x ] 1.3.1
- [ ] 1.3.0

### Steps to reproduce

1.Add caching to nginx conf
[code]
2.  refresh page

### Expected result
cache product images

### Actual result
product i

[2021-08-17 08:39] devansh-webkul commented on #5085
This is not an issue with the Nginx config, we are using an intervention package for images. So please check whether you have proper dependencies or not.

[2021-08-17 08:47] merdiano commented on #2152
what if i want to cache statick files?

[2021-08-17 08:49] devansh-webkul commented on #2152
We are using the default Laravel configuration and mostly these are cached. If you need to customize you can feel free to do it at your instance.

[2021-08-17 09:01] merdiano commented on #5085
Sorry my fault! Right, this is not issue. I fixed problem by adding
[code]
to nginx conf

[2021-08-17 09:01] #5085 closed

[2021-08-17 09:01] Arsivpro opened #5086 "pending payment error when i create transaction"
### Issue Description
I create an order with automatic invoice and payment at the door and add a payment from the transactions page, but the status remains as pending payment and does not change.

I got the error in the video, you can check it
https://drive.google.com/file/d/1b8vYqLHFJDQmCyIAZy6kaxoLAkVKCU7M/view?usp=sharing

### Preconditions
- I create an order as a customer, I choose the paymen

[2021-08-17 09:06] Arsivpro opened #5087 "non-cancelled order status"
In the attached video, you can see that the order I pressed the cancel button was processed.

https://drive.google.com/file/d/17hmfJUHgrwTsSG8qKT4tFeoAd3PwfakP/view?usp=sharing

bagisto 1.3.2 version

[2021-08-17 09:14] devansh-webkul commented on #5086
Hi @Arsivpro,

I just checked in the fresh instance and it is not reproducible. Do you upgrade the project or using the fresh instance.

[2021-08-17 09:16] devansh-webkul commented on #5087
Hi @ghermans,

I think it must be related to this https://github.com/bagisto/bagisto/issues/5041.

[2021-08-17 09:19] Arsivpro commented on #5086
@devansh-webkul I am using the project you see. I complete the code update with the incoming commit update

[2021-08-17 09:23] devansh-webkul commented on #5086
@Arsivpro,

The error `evaluatePrice()` undefined which you are saying, its already present and i am not able to reproduce this,
https://github.com/bagisto/bagisto/blob/7cd34d0a03ef7b4d0794fcec179971f1ae508075/packages/Webkul/Product/src/Type/AbstractType.php#L802

[2021-08-17 09:24] Arsivpro commented on #5086
@devansh-webkul Are you saying it's a bug that's being worked on?

[2021-08-17 09:25] devansh-webkul commented on #5086
No, I am saying it's not reproduced what you are saying. It looks like you have upgraded your version.

[2021-08-17 09:27] Arsivpro commented on #5086
@devansh-webkul this is correct i upgraded i am on latest version

[2021-08-17 09:30] devansh-webkul commented on #5086
Yes, check whether all changes are present or not. Maybe some small issue is there.

[2021-08-17 09:35] devansh-webkul commented on #5079
I am closing this as this is not an issue. This can be enable/disable from the backend.

[2021-08-17 09:35] #5079 closed

[2021-08-17 09:36] Arsivpro commented on #5086
After updating this page, there were a few problems, I think the problem is here,
1st error tax 18%, price 1.6949 should appear price 2, 1.99 rounding error seen
The second error is that it shows the pending payment when the transaction is added to the invoice.
https://github.com/bagisto/bagisto/blob/7cd34d0a03ef7b4d0794fcec179971f1ae508075/packages/Webkul/Product/src/Type/AbstractType.php

[2021-08-17 09:38] devansh-webkul commented on #5086
In the latest version, we have implemented several features like tax enhancement. I can best suggest you take a replica of the fresh latest version also. If a bug is found in the latest version then let us know.

[2021-08-17 09:42] Arsivpro commented on #5086
@devansh-webkul  I did the tax updates without any errors, even I thought there would be a problem and ran it by installing a different bagisto project, but there is a problem with rounding.
Example I entered the product with 18% tax, the price is 1.6949, on the front end it should appear: 2, visible: 1.99

[2021-08-17 09:48] devansh-webkul commented on #5086
Hi, can you just verify here also,
https://bagisto-speed.webkul.com/

[2021-08-17 09:54] Arsivpro commented on #5086
@devansh-webkul You can view this product, tax 18% price 1.6949 should appear $2, display $1.99
https://bagisto-speed.webkul.com/sunglasses

[2021-08-17 09:59] devansh-webkul commented on #5086
The product price is $1.69.

The 18% of $1.69 is  $0.30.

Total: $1.69 + $0.30 = $1.99

And the default it is rounded to 2 decimal place so it can't be $2.

[2021-08-17 10:06] Arsivpro commented on #5086
@devansh-webkul open the calculator and do 2/1.18 and see the result, each of my products is moving in this direction, I write the fraction as 5 numbers, actually 18% of 2 is 0.36

[2021-08-17 10:08] Arsivpro commented on #5086
@devansh-webkul but instead of doing 2*18 % + = in tax calculations, I do 2/0.18 because the result is rounded

[2021-08-17 10:16] devansh-webkul commented on #5086
Results are rounded off to two. The calculations are showing right as per the calculations I can't do anything on this.

[2021-08-17 10:20] Arsivpro commented on #5086
@devansh-webkul Your opinion is important to me. Any suggestions on how to write 2$ with 18% tax calculated?

[2021-08-17 10:30] devansh-webkul commented on #5086
I understand your concern I will update you regarding the same.

[2021-08-17 10:32] Arsivpro commented on #5086
@devansh-webkul ok i'm waiting on the issue

[2021-08-17 11:41] devansh-webkul commented on #5086
Well, I just tested everything rounded off reverse can't be possible because of 18 per cent tax and the round of 2 and this is default behaviour either you need to customize something to meet your need.

Even in the calculator, it's going $1.999995. So logically  $1.99 is right.

[2021-08-17 11:56] Arsivpro commented on #5086
@devansh-webkul  Bagisto system does not use 2*18%-= when calculating tax, instead it uses 2/1.18 system, so it is a bit unlikely that my calculation is wrong because it only happens on some products, 6 products out of 200 have this error

[2021-08-17 12:08] devansh-webkul commented on #5086
Alright, I am closing this as I haven't seen anything. For you, you can customize it, if you want. For discussion, you can use the Bagisto forum.

[2021-08-17 12:08] #5086 closed

[2021-08-17 12:13] devansh-webkul commented on #5087
I am marking this duplicate and closing this as another issue is already there.

[2021-08-17 12:14] #5087 closed

[2021-08-17 12:17] devansh-webkul commented on #5041
It should not be visible and not executable also. Because hiding is not a solution because users may execute that by the postman or something.

[2021-08-17 12:37] #5069 closed

[2021-08-17 14:57] sebastien-vedrine opened #5088 "Can not generate invoices"
# Bug report

### Issue Description

I am trying to generate invoices from the administration panel after an order has been placed but an error occurs.

### Preconditions

#### Bagisto version
- [ ] master branch
- [x] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

### Steps to reproduce

1. Follow your installation guide provided in the README of this repo.
2. Create a simple product in the administration panel.

[2021-08-18 04:08] devansh-webkul commented on #5088
Hi @sebastien-vedrine,

Somehow it is a bug and somehow it is not. Let me explain to you when you are using Paypal standard then for validation of the payment. Paypal uses IPN which continuously hits your route point where the invoice will be generated but it seems like your IPN validation is not completed and you are trying to manually generate an invoice which results in an error.

So the bug is

[2021-08-18 05:08] #4233 closed

[2021-08-18 05:11] bhanu-webkul opened #5089 "on clinking Buy Now button cart items should not carried in checkout"
# Bug report
### Issue Description

if there are already few items in cart and user navigate to product page and click on but now then user should be able to place an order only that product individually.
### Preconditions

#### Bagisto version
- [ ] master branch

### Steps to reproduce

1. add any item to cart
2. go to product page and click on but now

### Expected result:
user should be able t

[2021-08-18 06:59] bhanu-webkul opened #5091 "Getting error while creating slider if db prefix has been added"
# Bug report

### Issue Description
Getting error while creating slider if db prefix has been added
### Preconditions
#### Bagisto version
- [ ] master branch
### Steps to reproduce
1.use db prefix in env
2. try to create slider

### Expected result:
admin should be able to create successfully
### Actual result:
![Screenshot from 2021-08-18 12-21-14](https://user-images.githubusercontent.com/52821

[2021-08-18 11:07] #5088 closed

[2021-08-18 14:55] AayushBhatt-webkul opened #5095 "Not able to add slider on second channel's domain."
How to reproduce:

Create a second channel.
Create a slider from the admin for second channel.

Slider will not be visible on second channel's domain.

[2021-08-18 15:41] #4990 closed

[2021-08-19 06:58] devansh-webkul commented on #5089
Actually, the actual flow is adding the cart and redirecting the page on buy now click. So this pretty much seems obvious that the behavior is not exact.

I marking this as an enhancement for buy now functionality because some changes are required in the code and flow.

[2021-08-19 07:25] #5091 closed

[2021-08-19 22:14] AmooAti opened #5098 "Delete customer address from admin panel - page not reload"
# Bug report

### Issue Description
After deleting a customer address in the admin panel, page does not reload and returns a 500 that id in route slug not provided.
![Screen Shot 2021-08-20 at 1 53 40 AM](https://user-images.githubusercontent.com/36756531/130151247-c6fa4e40-b85a-44ea-a633-02b60c69a7a5.png)

### Preconditions
a customer with an address.

#### Bagisto version
- [√ ] master branch
-

[2021-08-20 05:02] bhanu-webkul opened #5100 "While adding address, first and last name should auto populate at customer end"
# Bug report

### Preconditions
#### Bagisto version
- [ ] master branch
### Steps to reproduce
1.log in customer
2. try to add address

### Expected result
first and last name should auto populate
### Actual result
https://prnt.sc/1qcw55h

[2021-08-20 05:10] bhanu-webkul opened #5101 "Incorrect validation message for sort order and Download Allowed field in downloadable information section"
# Bug report

### Issue Description
Incorrect validation message for sort order field in downloadable information section
### Preconditions
#### Bagisto version
- [ ] master branch

### Steps to reproduce

1. create downloadable type product

### Expected result:
it accept only numeric value
### Actual result
https://prnt.sc/1qcw96s , https://prnt.sc/1qcwca0

[2021-08-20 06:47] bhanu-webkul opened #5104 "Last name should be mandatory field even while editing customer profile"
# Bug report
### Preconditions
#### Bagisto version
- [ ] master branch
### Steps to reproduce

1.edit customer profile

### Expected result
Last name should be mandatory field
### Actual result
https://prnt.sc/1qcxrlk

[2021-08-20 08:16] devansh-webkul commented on #5065
I am able to reproduce this when I am using the `dev` or `watch` mode. In `prod` it's working fine. So in my opinion behavior should be the same in both modes.

[2021-08-20 08:51] #5100 closed

[2021-08-20 08:51] #5101 closed

[2021-08-20 08:51] #5104 closed

[2021-08-20 17:24] #5041 closed

[2021-08-21 19:34] wontone18 opened #5107 "Error in new custom payment gateway"
I made a custom payment gateway integration for paytm. Its working fine but after making a payment from gateway i am having one checkroute. This checkroute code is correct because it once work fine and code is also perfect in my opinion.

Error which i am getting listed below. Its checking the default paypal payment gateway even though i have disabled it.

[code]

Here is my package list code rout

[2021-08-22 10:12] wontone18 commented on #5107
issue is resolved i changed my call back route with a post instead of get. And also added that url in the exception list of verify csrf.

[2021-08-22 10:12] #5107 closed

[2021-08-22 17:03] B2rana commented on #5008
You can use the below package. I have created this package and this is free to use.
https://github.com/B2rana/bagisto-mediamanager

[2021-08-23 08:03] Mercadoeiea opened #5108 "Not render paypal-button-container with PayPal Smart Button"
# Bug report

### Issue Description
When the Paypal Smart Button payment method is selected, the PayPal form does not appear to make the payment. The end of order button also does not appear.

### Preconditions
With the latest version of Bagisto 1.3.2 + Marketplace packages, when I place an order and select the PayPal Smart Button payment method, the form to make the payment with PayPal should app

[2021-08-23 11:18] ghermans commented on #5108
@Mercadoeiea thank you for reporting this, i would like to ask if you can verify if you get the same issue with a clean bagisto install without the marketplace module?

[2021-08-23 14:07] bhanu-webkul opened #5109 "Admin is not getting mail on customer registration"
# Bug report
### Preconditions
#### Bagisto version
- [ ] master branch
### Steps to reproduce

1.sign up customer

### Expected result:
admin should get an mail
### Actual result
no mail to admin on customer sign up

[2021-08-23 14:54] Aziz-tripleA commented on #3009
hello, after installing nodejs to the marketplace package and did npm run prod  Featured product slider and new product did not work and no products at two sections

[2021-08-23 14:58] ghermans commented on #3009
@Aziz-tripleA i suggest that you create a support ticket for this on https://bagisto.uvdesk.com/en/customer/create-ticket/ because the marketplace package is a paid module from [Webkul ](https://webkul.com)

[2021-08-23 16:52] Mercadoeiea commented on #5108
I install clean Bagisto 1.3.2 and PayPal is OK, with Default Theme (NO Velocity)
Marketplace packages crash PayPal package?

Extra Packages:
Marketplace 15 for Bagisto v1.3.1
Marketplace bulk upload 2
Marketplace per product shipping 4
Marketplace tablerate shipping v1.3.1

![2021-08-23 18_47_11-Revisar](https://user-images.githubusercontent.com/77110329/130485831-24b03476-07dd-4391-943d-4b8f04249

[2021-08-23 17:37] Mercadoeiea commented on #5108
I have installed all 4 Marketplace packages in the clean installation of Bagisto 1.3.2 and it works Ok, only if the shipping method is selected (Marketplace Per Product Shipping). if some other method is selected, such as Flat Rate or Free Shipping, the PayPal buttons do not work, not apear.

[2021-08-24 09:09] #5065 closed

[2021-08-24 17:07] Mercadoeiea opened #5110 "If I change APP_ADMIN_URL in .env then the Admin Dashboard will not render properly"
# Bug report

### Issue Description
If I change APP_ADMIN_URL in .env (admin TO adminxxx ) then the Admin Dashboard will not render properly

### Preconditions
Default Theme (NO Velocity)

#### Bagisto version
- [ ] 1.3.2 with Default Theme

### Steps to reproduce
1. Open .env
2. Change APP_ADMIN_URL variable from "admin" to "adminxxx" o similar

### Expected result
RENDER localhost/admin/dashboar

[2021-08-24 17:09] Mercadoeiea commented on #5108
The problem is the Marketplace versions. No compatible with new Bagisto 1.3.2.
Thanks x all

[2021-08-24 18:46] #5108 closed

[2021-08-25 08:01] soodankush opened #5111 "Meta description Error"
# Bug report

### Issue Description
The meta description is being shown two times on the home page and the second time, there is no content in the meta description. SEO is affected.

### Preconditions

#### Bagisto version
1.2.0

### Steps to reproduce

1. Add Meta description and then go to the home page to check meta description

### Expected result

There should be only one meta description whi

[2021-08-25 08:08] Anmol-Chauhan opened #5112 "CMS Pages content issue"
# Bug report

### Issue Description

CMS Page Content is not showing correctly in the
![Screenshot from 2021-08-25 13-13-53](https://user-images.githubusercontent.com/79086253/130752556-ddbc8154-a753-4986-b90c-b94f76d04eb0.png)
![Screenshot from 2021-08-25 13-14-24](https://user-images.githubusercontent.com/79086253/130752564-8e0f7cc8-8fe0-4458-942f-d7d9c36c8bda.png)
front end

### Preconditions

[2021-08-25 09:29] MohanKestrel opened #5113 "Error in Admin->Configuration after added Custom script"
# Bug report

### Issue Description
In the New version of Bagisto 1.3.2 once the custom script has been added in Admin-> Configuration section it can not be changed to another. While trying to change you get a error as below

League\Flysystem\CorruptedPathDetected
Corrupted path detected: ********* ( the css text which i added in text area for the first time.)

Tried cache clear. Each time I need

[2021-08-25 10:52] Aziz-tripleA commented on #3274
I have this error with a fresh install
how can solve it

[2021-08-26 14:07] bhanu-webkul opened #5115 "Getting exception in case admin change url by passing 0 in place of asc or desc"
# Bug report
### Preconditions
#### Bagisto version
- [ ] master branch
### Steps to reproduce
1.go to catalog grid>sort any column in asc or desc> then in url put 0 in place asc or desc

### Expected result:
exception should be handled
### Actual result:
https://prnt.sc/1qjx4ry

[2021-08-27 12:20] aboeldhab74 opened #5117 "adding Shipping rate if cart subtotal less than amount"
Hi Dears,
I am trying to add the shipping rate amount  if the cart total less than 200 $
how can I achieve it?
plz help
thank u

[2021-08-27 12:24] #5117 closed, assigned to nobody

[2021-08-28 14:51] rsabzaali opened #5118 "I cann`t see my orders after updating from 1.3.1 to 1.3.2"
# Bug report

### Issue Description
In new bagisto version I`m manually updated my version. After updating I dont see my orders.

### Preconditions

#### Bagisto version
- [ ] master branch
- [x] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

### Steps to reproduce

1.
2.

### Expected result

### Actual result

[2021-08-29 12:43] aboeldhab74 opened #5119 "Addresses duplicated on the checkout page"
Hi Dears,
Addresses being duplicated automatically on the checkout page
Plz help me

[2021-08-29 13:42] aboeldhab74 opened #5120 "Addresses duplicated in checkout page"
# Bug report
Addresses being duplicated automatically in the checkout page

when Add products to cart
and Proceed to checkout
Go to your profile->addresses
You will find there are 3 addresses of the same details
If you selected the same address again in the checkout, it will be duplicated again, and so on

[2021-08-29 15:58] rockgold22 opened #5121 "Product images not loading - storage:link removal and re-executing is not working"
# Product images are not loading with the latest bagisto version 1.3.2

### Issue Description
Product images are not appearing on the wesbite. We have tried below commands, still no luck
unlink public/storage
php artisan storage:link
php artisan config:cache

### Preconditions
Bagisto 1.3.2 should be installed

#### Bagisto version
- master branch
- 1.3.2

### Steps to reproduce

1) Install new ba

[2021-08-29 15:58] rockgold22 commented on #5121
I have tried all the commands listed on

https://forums.bagisto.com/topic/188/broken-image-logo-in-bagisto-with-causes-and-solutions/42
https://forums.bagisto.com/topic/1367/images-no-showing-in-the-front-store-error-this-is-the-solution-tested-and-works

but noting is working and still no images coming.

[2021-08-30 11:49] Anmol-Chauhan opened #5122 "Issue in Mobile number field"
# Bug report

### Issue Description
At the time of checkout In **telephone** field, in the customer profile address tab, and at the admin end on customer edit page
Mobile number field should take only integer value

### Preconditions

#### Bagisto version
- [ ] master branch
- [ ] 1.3.2

### Steps to reproduce

1) add product in cart and open checkout page then fill the telephone field
2) open cus

[2021-08-30 13:20] roccomilluzzo commented on #4698
Honestly it does not make any sense, any locale should have his own path prefix, example (site.com/en/category), but besides that it was correct that the category url was localized, better for seo, for google shopping, for campaigns, I can't understand why you're messing this up, just look at shopify, magento, woocommerce, prestashop and avoid reinventing the wheel

[2021-08-30 16:03] mreduar opened #5123 "Admin Orders not showing"
# Bug report

### Issue Description
When creating an order for the store, the orders are not reflected in the administrative panel.
The error is due to the fact that the condition in [line 178 of this file](https://github.com/bagisto/bagisto/blob/master/packages/Webkul/Ui/src/Resources/assets/js/components/datagrid/datagrid-plus.vue#L778) is not fulfilled and therefore the component is not initial

[2021-08-31 05:04] rockgold22 commented on #5121
@vaishaliwebkul is there any update. can you please let me know

[2021-08-31 06:27] prateek-webkul commented on #5121
@rockgold22,

We tried to reproduce the issue but it is working fine, we are getting the product images in default as well as velocity theme. Can you share the site url so that we can check at our end.

Also, please go to the .env and check that app_url should be valid.

[2021-08-31 06:49] rockgold22 commented on #5121
Hi @prateek-webkul ,

You can check it on our website "https://shareyourgist.com/". The app_url is also set in the env file.

APP_URL=https://shareyourgist.com

Even in admin after upload, it is not working.

![error](https://user-images.githubusercontent.com/16397436/131455745-d1ac11dc-7bc9-4359-91a9-40f73eb6b02a.png)

[2021-08-31 08:04] rockgold22 commented on #5121
The config/imagecache.php file has the below code for your referene.

`return [

    /*
    |--------------------------------------------------------------------------
    | Name of route
    |--------------------------------------------------------------------------
    |
    | Enter the routes name to enable dynamic imagecache manipulation.
    | This handle will define the first part of the URI

[2021-08-31 08:10] rockgold22 commented on #5121
I have executed `php artisan vendor:publish --provider="Webkul\Product\Providers\ProductServiceProvider" --force` command and my config/imagecache.php file is updated but now below error is coming for image access.

[code]

[2021-08-31 08:27] rockgold22 commented on #5121
I got the issue. The Small, Medium and Large files were old and not had the updated code. I set the dimensions and now it is working.

[2021-08-31 08:27] #5121 closed

[2021-08-31 15:36] bhanu-webkul opened #5125 "wrong order status showing at admin and customer end"
# Bug report

### Title
 wrong order status showing at admin and customer end.

### Preconditions

    1. framework Version.: master

### Steps to reproduce

    1. step1: place an order of 2 qty(same products)
    2. step2: generate invoice and then create shipment of both quantity and refund 1.

### Expected result
    order status should be completed
### Actual result:
  showing processing

[2021-09-02 22:46] swampthang opened #5127 "Column 'url_path' cannot be null in category_translations when adding category"
# Bug report

### Issue Description
- Fresh install of Bagisto following this https://devdocs.bagisto.com/1.x/introduction/installation.html#install-bagisto-using-composer
- Logged in to admin.
- Tried to add a category and got the following error.
`
SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'url_path' cannot be null (SQL: insert into `category_translations` (`locale`, `name`, `

[2021-09-06 04:31] devansh-webkul commented on #5109
Hi @ghermans and @bhanu-webkul,

May I know did you change your email from the admin panel?

Because by default `admin@example.com` is non-compliant.

Just try to use genuine mail and let me know.

[2021-09-06 04:50] mreduar commented on #5123
This problem has been solved in #5124

[2021-09-06 04:50] #5123 closed

[2021-09-06 05:45] #5118 closed

[2021-09-06 06:55] ghermans commented on #5109
@devansh-webkul i used Mailhog https://github.com/mailhog/MailHog which comes with Homestead to test this.
So it wouldn't matter what e-mail address is being used.

[2021-09-06 06:56] #5120 closed

[2021-09-06 06:57] devansh-webkul commented on #5109
Okay! I will check this.

[2021-09-06 06:58] #5110 closed

[2021-09-06 08:17] devansh-webkul commented on #5109
I just checked the code, code is only written for customers. For admin, it should be a separate template without a password. This should be an enhancement.

Rest I just found one bug in a key which I am fixing.

[2021-09-06 08:42] #5111 closed

[2021-09-06 10:43] Soomrojb commented on #4888
I am still having same issue, tried everything mentioned above.

`GuzzleHttp\Exception\ConnectException
cURL error 6: Could not resolve host: .algolia.net (see https://curl.haxx.se/libcurl/c/libcurl-errors.html) for https://.algolia.net/1/indexes/products_index/batch`

[2021-09-06 10:54] devansh-webkul commented on #5119
Hi @aboeldhab74,

Need some more info to reproduce this.

[2021-09-06 11:35] devansh-webkul commented on #5127
Hi @swampthang,

Could you try with the clone one because it looks like migration is not done properly?

[2021-09-06 11:37] devansh-webkul commented on #5125
Is this related to an automatic invoice or in normal it is happening?

[2021-09-06 13:17] yousufkhalid223 opened #5137 "Orders Not displaying"
Hi,

I recently setup the bagisto on my local system. I am checking the system and found an issue in it that, i place an order via guest and after that when i go to admin panel for checking the order the order page only showing blank nothing there but when i export the orders the order is visible on export sheet but not on browser.

[2021-09-06 13:21] devansh-webkul commented on #5137
Hi there,

This issue has been fixed in master. Please take a pull from the master.

[2021-09-06 13:23] #5137 closed

[2021-09-06 13:39] #5115 closed

[2021-09-06 17:56] rsabzaali commented on #5118
Hi @devansh-webkul
The issue still persist on my side.

[2021-09-07 04:30] #5113 closed

[2021-09-07 04:30] #5112 closed

[2021-09-07 04:40] devansh-webkul commented on #5118
Did you added this PR,
https://github.com/bagisto/bagisto/pull/5124

[2021-09-07 04:55] devansh-webkul commented on #5119
Hi @ghermans,

Are you able to reproduce this?

[2021-09-07 07:12] rsabzaali commented on #5118
Yes,

[2021-09-07 07:15] devansh-webkul commented on #5118
I am just checking, compiled file is missing.

[2021-09-07 07:16] rsabzaali commented on #5118
Also I find that I can`t see customers Address, Invoices and Orders.

[2021-09-07 07:18] devansh-webkul commented on #5118
Yeah, 4 new `datagrid-plus` have been placed, which is in the testing phase. When it will become stable, we will use it.

[2021-09-07 07:26] devansh-webkul commented on #5118
@rsabzaali,

Add this PR also,
https://github.com/bagisto/bagisto/pull/5139

[2021-09-07 07:42] ghermans commented on #5119
@devansh-webkul i will setup a test server to verify this now and will provide feedback in a moment

[2021-09-07 08:25] ghermans commented on #5119
Unable to reproduce this.

Screenshot
![image](https://user-images.githubusercontent.com/1594411/132311027-7b570fc5-d132-4f56-930d-e22665384b7c.png)

screenshot 2
![image](https://user-images.githubusercontent.com/1594411/132311107-7631fc9a-9a05-47c4-a8cd-518804bfe759.png)

[2021-09-07 08:35] devansh-webkul commented on #5119
Seems to be an issue at the user end.

[2021-09-07 08:44] #5122 closed

[2021-09-07 09:07] #5119 closed

[2021-09-07 10:56] #5098 closed

[2021-09-07 11:27] #3130 closed

[2021-09-07 12:59] devansh-webkul commented on #5095
Hi @AayushBhatt-webkul,

I just tested in the three channels, and I am getting sliders in all the channels.

So this is not an issue.

[2021-09-07 13:07] devansh-webkul commented on #5095
After setting all the channels to the default theme I am able to reproduce this bug.

[2021-09-07 13:14] devansh-webkul commented on #5095
@ghermans and @AayushBhatt-webkul,

The reason why the slider is not coming in the new channel is because of the new `Home Page Content` field. When you are creating a new channel, `Home Page Content` can be copied from the default one.

So this is nothing with the code.

[2021-09-07 13:17] devansh-webkul commented on #5095
I am closing this, as this is as per the user's need.

[2021-09-07 13:17] #5095 closed

[2021-09-07 13:20] devansh-webkul commented on #5127
Hi @swampthang,

Any update on this?

[2021-09-08 07:56] devansh-webkul opened #5143 "Rest API Enhancement In Sanctum"
## Enhancement
- API versioning.
- Only JWT token-based authentication in the new API version (Removal of session-based authentication).
- API for admin endpoints in the new API version.

## Info
- Currently in the API we are using both ways session-based and token-based. In the new API version, only JWT will be there.
- Endpoints for the full system. Currently, we don't have admin endpoints. In t

[2021-09-08 11:27] devansh-webkul commented on #5125
I am able to reproduce in normal also.

[2021-09-09 11:46] #5109 closed

[2021-09-09 12:09] AkashWeybee commented on #5075
Looking forward to this update

[2021-09-10 13:27] devansh-webkul commented on #4762
Already added in the discussion, so closing this.

[2021-09-10 13:27] #4762 closed

[2021-09-12 10:05] mmrtonmoybd opened #5149 "Review option not showing"
Review option not showing in product view page on my local environment.

But review page show in demo mode in https://demo.bagisto.com/bagisto-333-77-99-88/

I attach a image of my local environment.
Version : Latest

![Web capture_12-9-2021_155426_127 0 0 1](https://user-images.githubusercontent.com/40266584/132983459-066501a9-d9ef-4206-95c3-baf63cbc8ee2.jpeg)

[2021-09-12 12:32] 4bdullatif commented on #5149
Hi Moshiur,
Make sure you activate "Guest Review" in Configuration>Catalog>Product or you are logged in as a customer.

[2021-09-13 05:27] devansh-webkul commented on #5149
I am not able to reproduce this, please check whether you have enabled it from the configuration or not.

[2021-09-13 05:34] devansh-webkul commented on #5127
Not, getting any revert from the last 7 days. Looks like the user resolved at their end. Closing this issue.

[2021-09-13 05:34] #5127 closed

[2021-09-13 07:29] devansh-webkul commented on #4945
Hi @nickezekias,

Any feedback on the above reply because I need to know.

[2021-09-13 12:16] #5149 closed

[2021-09-14 11:46] #5061 closed

[2021-09-15 06:20] AmooAti commented on #5143
Hi @devansh-webkul
is this change affect guest cart API?

[2021-09-15 06:52] devansh-webkul commented on #5143
It will no impact as the existing version will leaved as it is.

[2021-09-15 08:45] vpankeev commented on #5143
Good point, but I prefer sanctum instead of jwt. Maybe you should think about it?

[2021-09-15 09:12] devansh-webkul commented on #5143
Well, it depends. As the project is already build up on JWT.

We are moving ahead with this. Maybe in the future, we will implement this.

[2021-09-16 00:03] DeH4eG opened #5152 "FEAT: Check if headers weren't sent already"
## Enhancement

Sometimes may occur exception - `Cannot modify header information - headers already sent by (output)`. Maybe better to check if headers were sent before removing some https://github.com/bagisto/bagisto/blob/4f498dfc70d9e8a8581ab142cb1f9973e465effa/packages/Webkul/Core/src/Http/Middleware/SecureHeaders.php#L59

[2021-09-16 05:54] devansh-webkul opened #5155 "When product inventory is having same quantity then total qty on the listing page is not calculated properly"
# Bug report
- When product inventory is having the same quantity then the total qty on the product listing page is not calculated properly.

## Preconditions
- You should have at least 2 inventory sources.

## Bagisto version
- Master

### Steps to reproduce
- Create two inventory sources and assign them to your channel.
- Now, edit any stackable product.
- Add, same quantity to all fields, for e

[2021-09-16 06:37] #5152 closed

[2021-09-16 06:52] #5009 closed

[2021-09-16 11:57] #5089 closed

[2021-09-16 14:31] #5005 closed

[2021-09-16 14:31] #5155 closed

[2021-09-17 06:47] #5125 closed

[2021-09-17 06:49] ghermans commented on #4631
This will not be integrated in the core version of Bagisto, we will make a separate extension for this.

[2021-09-17 06:49] #4631 closed

[2021-09-17 10:26] devansh-webkul opened #5158 "Breadcrumb Feature"
## Feature Request
- Breadcrumb feature for the frontend.

[2021-09-17 13:54] yaliya opened #5159 "Queued Email Notifications not working"
# Bug report

### Issue Description
NewOrderNotification fails with error

`SQLSTATE[42S22]: Column not found: 1054 Unknown column 'order_items.company_id' in 'where clause' (SQL: select * from 'products' where 'products'.'company_id' = 1 and 'order_items'.'company_id' = 1 and 'products'.'id' in (8))`

#### Bagisto version
- [x] master branch

### Steps to reproduce
1. Make new order
2. Check for

[2021-09-17 18:53] AmooAti opened #5160 "Disable product stock management"
Hi, Hope your doing well
It's good if we can disable stock management for products because some products are available always and no need to keep track of stock availability.
Thank you.

[2021-09-18 08:13] Fakirim opened #5161 "Currency symbol left or right"
Possibility to put the currency symbol left or right

[2021-09-21 12:21] Anmol-Chauhan opened #5162 "In front page there should be a arrow to scroll product"
When we scroll new and feature product using the mouse then some time product gets click so there should an option to scroll product using arrow
https://storyxpress.co/video/ktt6dt2ab1n7hot8o

[2021-09-22 07:59] devansh-webkul commented on #4368
MySQL 8 support is OK but we are not supporting Postgress currently due to existing migrations.

[2021-09-22 08:04] devansh-webkul opened #5163 "Datagrid Enhancements"
## Info
- Some data grids code enhancements are needed in the wrapper portion.
- Usage of single key i.e. closure.

[2021-09-22 16:33] kazmi99 commented on #3807
How can I resolve this error when I am getting it on c-Panel?

[2021-09-23 10:07] devansh-webkul opened #5165 "Write All Factories In Laravel 8 Pattern"
## Info
- As of now, we are using all factories by legacy support for the Laravel 8. We should implement the class-based factories to reduce the dependency of the legacy support.

## Expected Result
- All factories should be class-based and follow the Laravel 8 compliant.

## Current Result
- Currently, all factory is having legacy support.

[2021-09-23 13:05] devansh-webkul commented on #4945
Not getting any revert from last 10 days. I am closing this.

Review this comment before opening issue,
https://github.com/bagisto/bagisto/issues/4945#issuecomment-899240087

[2021-09-23 13:05] #4945 closed

[2021-09-23 13:07] #5008 closed

[2021-09-23 17:10] ghermans commented on #5159
@devansh-webkul i will setup a demo server tomorrow to verify this issue

[2021-09-24 05:20] devansh-webkul commented on #4978
- This can be achieved by creating attributes like `weight_in_lbs` => 'Weight (In LBS)', `weight_in_gram` => 'Weight (In Gram)'.
- Assigned those to different attribute family.
- Done!

[2021-09-24 08:23] #4978 closed

[2021-09-24 08:51] #5073 closed

[2021-09-24 09:51] yaliya commented on #5159
@devansh-webkul and @ghermans

I forgot to mention that this is happening with the SAAS plugin installed.

[2021-09-24 11:38] ghermans commented on #5159
Ooh ok @yaliya since the SAAS plugin is a paid solution by Webkul i would like to ask/suggest you to please create a support ticket on https://bagisto.uvdesk.com/en/customer/create-ticket/

[2021-09-24 11:38] #5159 closed

[2021-09-24 21:47] omenomn opened #5169 "Pl language - category create blank page"
<img width="489" alt="Screen Shot 09-24-21 at 11 47 PM" src="https://user-images.githubusercontent.com/17022624/134743108-59a7112b-def1-40f9-9acc-3b085886de6c.PNG">
<img width="321" alt="Screen Shot 09-24-21 at 11 47 PM 001" src="https://user-images.githubusercontent.com/17022624/134743130-83c5b4ae-3360-450f-b57d-12af850c7959.PNG">

[2021-09-26 13:39] MohanKestrel opened #5170 "Admin Orders page doesn;t reload while clicking back"
# Bug report

### Issue Description
In the admin Panel navigate to View order and the press the browser button it is showing just the order details api response does not reloads to load tha order view page.

### Preconditions
Browser :Chrome
SERVER: Apache 2
RAM: 4 GB
PHP: 7.4

#### Bagisto version
- [*] master branch
- [*] 1.3.2

### Steps to reproduce
1.Login to admin panel in bagisto
2. Click o

[2021-09-26 15:53] aboeldhab74 opened #5171 "Cart handle guest user ( API )"
How can i use cart using api while session not working with api how can i save the session to complete my action or how can i generate a temporary token for guest so he can use the application as logged in user

[2021-09-26 21:38] Arsivpro opened #5172 "product images not working"
Hello, to try, install the latest version of bagisto, then add any product, no image is coming

when adding an image the product will go as follows http://127.0.0.1:8000/cache/small/product/6/4dpZJKnSMfux8AWyJz1LwbnAEQscTEjTF1BPvREd.png

  I need to change the image path to "storage" otherwise the product image is not coming how do I do this http://127.0.0.1:8000/storage/product/6/4dpZJKnSMfux8AWy

[2021-09-27 04:38] DeH4eG opened #5173 "Typo in type hinting"
As far as I understand there must be an array type hinted, not the string. I can make PR.

Only i have question, may i type hint argument as well as in DocBlock?

https://github.com/bagisto/bagisto/blob/c967c940957a24ea17b3563c1d42c9d539b56c48/packages/Webkul/Ui/src/DataGrid/DataGrid.php#L235-L239

[2021-09-27 05:17] devansh-webkul commented on #5171
Hi @aboeldhab74,

For guests currently, you need to use cookies so that the Laravel session gets detected. Already we have raised an issue for Rest API enhancement,
https://github.com/bagisto/bagisto/issues/5143

Please use forum,
https://forums.bagisto.com

[2021-09-27 05:17] #5171 closed

[2021-09-27 05:19] devansh-webkul commented on #5172
This is a dependency issue for the Laravel intervention package. I already suggested changes.

If still not work then go to the admin panel and set the size,
https://github.com/bagisto/bagisto/issues/5121#issuecomment-909017076

[2021-09-27 05:21] devansh-webkul commented on #5173
Yes, this will be an array. Strange I didn't notice.

Thanks for reporting.

[2021-09-27 06:43] DeH4eG commented on #5173
Okay, i will do :slightly_smiling_face:

[2021-09-27 07:43] devansh-webkul commented on #5173
Hi @DeH4eG,

I am currently working on the data grid, if you want I can add in the existing PR. Otherwise, I will leave it as it is.

[2021-09-27 08:17] DeH4eG commented on #5173
Hi @devansh-webkul,

As you wish 🙂 If you are already in progress, then I think it will be better that you will do it. It is not a big issue, for making a separate PR. In my opinion

[2021-09-27 08:46] #5163 closed

[2021-09-27 08:46] #5173 closed

[2021-09-27 09:09] devansh-webkul commented on #5169
Hi @omenomn,

Please check your lang file and escape the string.

And please use the forum,
https://forums.bagisto.com/

[2021-09-27 09:09] #5169 closed

[2021-09-27 09:20] #5170 closed

[2021-09-27 13:31] devansh-webkul commented on #5172
Hi @Arsivpro,

Any update on this?

[2021-09-27 14:32] merdiano opened #5178 "API for customers to cancel order"
I couldn't find API to be able to cancel orders. But this cancel function appears on the web version when orders status is pending.
This is necessary for mobile applications.

[2021-09-27 15:02] devansh-webkul opened #5179 "Cart items get increased when navigating away from the buy now functionality"
# Bug Report
- Cart items get increased when navigating away from the buy now functionality.

## Issue Description
- Cart items get increased when navigating away from the buy now functionality.

## Bagisto Version
- [x] master branch
- [x] 1.3.3
- [x] 1.3.2
- [x] 1.3.1
- [x] 1.3.0

## Steps To Reproduce
- Add 3 or 4 products to the cart.
- Then buy now one product.
- Navigate away from the buy no

[2021-09-27 15:11] devansh-webkul opened #5180 "Some code appears in starting when clicking on the any product edit page"
# Bug Report
- Some code appears in starting when clicking on the any product edit page.

## Bagisto Version
- [x] master branch
- [x] 1.3.3
- [x] 1.3.2
- [x] 1.3.1
- [x] 1.3.0

## Steps To Reproduce
- Go to the products listing page.
- Edit any product.
- Zoom out to 50 percent.
- Refresh the page, you will see some code/id that disappears.

## Actual Result
- Code/id appearing.

## Expected Resu

[2021-09-27 19:39] merdiano commented on #5178
I know Admin API is not integrated. I'm asking it for customers to be able to cancel order via API.

[2021-09-30 05:29] MohanKestrel opened #5181 "Mobile View is Not loading at Initial"
# Bug Report
Loading the website in mobile or mobile view.is not loading initailly.

## Issue Description
While Loading the website in mobile or mobile view. The Homepage is not loading initailly. Only the header and tailor with slider image is loaded initially and if any clicks in the ppage loading the  product lists

## Preconditions
SERVER: Apache 2
RAM: 4 GB
PHP: 7.4

## Bagisto Version

- [ ]

[2021-09-30 05:47] devansh-webkul commented on #5181
This is due to the web vital. We have loaded a static content in front and on user interaction we are loading the rest of the components on the user interaction.

[2021-09-30 05:49] devansh-webkul commented on #5181
Please refer here,
https://github.com/bagisto/bagisto/pull/5020#issue-949787286

[2021-09-30 05:50] MohanKestrel commented on #5181
Cool. Thanks  for the response.

[2021-09-30 05:50] #5181 closed

[2021-09-30 11:09] akristou commented on #4834
Hi
Can you add support for Livewire (https://laravel-livewire.com) to accelerate loading pages in admin section ?
Thank you for the good job.

[2021-09-30 11:14] devansh-webkul commented on #4834
Live wire is something different. As Livewire is a fully server-driven request and if we follow this then we need to implement this in the whole app to maintain some consistency.

[2021-09-30 11:21] ghermans commented on #4834
Hi @akristou like @devansh-webkul already mentioned adding support for Livewire is not on our roadmap.
You can however always provide pull requests to add support for it.

[2021-10-01 10:14] AkashThoriya opened #5183 "Security headers are missing"
# Bug Report
Few security-related headers are missing

## Issue Description
CSP policies headers are not here

<div class="reportSection">
<div class="reportTitle">Missing Headers</div>
<div class="reportBody">
<table class="reportTable">
<colgroup><col class="col1"><col class="col2"></colgroup>
<tbody>
<tr class="tableRow"><th class="tableLabel table_red">Content-Security-Policy</th><td class="ta

[2021-10-01 11:26] devansh-webkul commented on #5183
Hi there,

Yes, the CSP header is missing because it impacts the whole content of the homepage, and I am also aware of that.

I will add this but needs to check the content also as this will block all the dynamic contents mostly.

[2021-10-01 12:58] AkashWeybee commented on #5183
Yes, you are right, it impacts the whole content of the homepage.

[2021-10-01 21:29] pneves001 opened #5185 "Migrations fail on install."
## Issue Description
The  migration fails on installation.

## Preconditions
brand new install.

database engine: mariadb.

## Bagisto Version

- [X ] master branch
It also happens when we do a composer create-project bagisto/bagisto

clone repository
update env file.
   add database settings to env file.
composer install
php artisan migrate

## Actual Result

SQLSTATE[HY000]: General error: 1728

[2021-10-02 12:40] omenomn opened #5186 "bagisto:generete product - infinite loop"
When no channel is assigned root category, than console not throw error, but addition products it never ends.
Quantity is without subtraction.

<img width="361" alt="Screen Shot 10-02-21 at 02 39 PM" src="https://user-images.githubusercontent.com/17022624/135716515-b3b84505-0c0c-4b9b-aabd-b0ba62d6a962.PNG">

[2021-10-02 13:02] rsabzaali opened #5187 "I can`t procced with checkout due Validation version in 1.3.3v"
# Bug Report

I can`t proceed with checkout due Validation

## Issue Description

I see in debuger next issue: Illuminate\Validation\ValidationException
protected function failedValidation(Validator $validator)
    {
        throw (new ValidationException($validator))
                    ->errorBag($this->errorBag)
                    ->redirectTo($this->getRedirectUrl());
    }

On Chrome Develop

[2021-10-02 15:30] BzayBst commented on #2774
Add icon in shipments methods how can we do it.

[2021-10-02 17:50] rsabzaali commented on #5187
Sorry, there was my mistake. I have deleted some fields on chekout page but forget to clean them from checkout controller.

[2021-10-02 17:50] #5187 closed

[2021-10-03 11:26] AbdullahFaqeir commented on #5165
Is it okay if I handle this task?

[2021-10-03 18:28] ghermans commented on #5165
Yes of course, we are looking forward to your pull request

[2021-10-03 18:43] AbdullahFaqeir commented on #5165
Great, I've already started, almost 50% through 🤙🏻

[2021-10-04 03:46] devansh-webkul commented on #5185
Hi @pneves001,

May I know which version of MySQL are you using because this seems to be the problem with your instance.

[2021-10-04 03:47] devansh-webkul commented on #5186
Hi @omenomn,

Please share the file in which you are facing the issue.

[2021-10-04 07:13] omenomn commented on #5186
Hi,
Webkul\Product\Console\Commands\GenerateProducts.

[2021-10-04 09:26] devansh-webkul commented on #5172
Since not getting any reply for the last 7 days, I am closing this issue.

[2021-10-04 09:26] #5172 closed

[2021-10-04 10:06] pneves001 commented on #5185
mariadb--10.6.4.big_sur

[2021-10-04 10:07] Anmol-Chauhan opened #5191 "Issue is in checkbox type attribute"
# Bug Report

## Issue Description

If we create checkbox type attribute **(is required - no)**  and tick options at the time of creating or editing a product then it saves successfully
after that edit the same product again and un-select all options then try to save product got saved but options will not get un-selected
at least one option must select to un-select all other

## Preconditions

##

[2021-10-04 10:07] pneves001 commented on #5185
If its not working on my instance its probably not working on any mac.

[2021-10-04 10:58] devansh-webkul commented on #5185
Just check with your instance and permission. Maybe trigger functions are not allowed.

[2021-10-04 11:14] devansh-webkul opened #5192 "Enhance All Bagisto Routes In Laravel 8 Style"
## Issue Description
- Enhance all Bagisto routes in Laravel 8 style.
- Reference: https://laravel.com/docs/8.x/routing

[2021-10-04 11:20] radiantly commented on #5191
Hi, could I take a go at this?

[2021-10-04 11:21] devansh-webkul commented on #5191
Hi @radiantly,

Sure.

[2021-10-04 11:26] #5178 closed

[2021-10-04 19:45] #5191 closed

[2021-10-04 22:19] pneves001 commented on #5185
I tried adding trigger permissions to the database and its still didn't work.

[2021-10-04 22:38] pneves001 commented on #5185
Ok I figured it out. I had to run mysql_upgrade -u root -p

[2021-10-04 22:41] #5185 closed

[2021-10-05 04:14] devansh-webkul opened #5194 "Getting exception when exporting a product from the admin panel"
# Bug Report
- Getting exception when exporting a product from the admin panel.

## Issue Description
- Getting exception when exporting a product from the admin panel.

## Bagisto Version

- [x] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Steps To Reproduce
- Go to the product listing page in the admin panel.
- Try to export porduct.

## Actual Result
- Getting exception,

[2021-10-05 06:05] #5179 closed

[2021-10-05 07:40] devansh-webkul opened #5196 "Optimize add/edit category page when categories crossed 10K"
## Info
- Category add/edit page started loading slowly if categories are more than 10K.

## Suggestions
- Load more for parent categories listing.
- Or Input field which searches for parent category and gets selected.

[2021-10-05 09:41] AbdullahFaqeir commented on #5192
mostly I'll take care of this as well, if you guys don't mind.

[2021-10-05 09:47] AbdullahFaqeir commented on #5186
I have fixed this, I'll submit a PR after my current PR get's approved.

[2021-10-05 09:50] AbdullahFaqeir commented on #5186
One of the fixes, is that you need to run the seed to create necessary data (channels included), as the main cause of the issue is that it's trying to load the current channel while there's not channels created and it causes an exception which cases the catch clause to execute the `continue` which in turn causes the loop.

[2021-10-05 09:52] ghermans commented on #5186
Hi @AbdullahFaqeir, the generate product command will be deprecated in the upcoming version since we have a separated module available for this functionality https://github.com/bagisto/laravel-data-faker

[2021-10-05 09:54] AbdullahFaqeir commented on #5186
Hi @ghermans,

Then as a basic fix the user only needs to run the seeder first then execute this command, and this issue needs to be closed and marked accordingly.

[2021-10-05 10:34] ghermans commented on #5192
go ahead @AbdullahFaqeir

[2021-10-05 10:42] AbdullahFaqeir commented on #5192
@ghermans I'll start working on it once my current PR get's approved and merged.

[2021-10-05 11:30] #5194 closed

[2021-10-06 05:00] #5180 closed

[2021-10-06 06:35] apoorvpal01 commented on #5192
If this is still available, I can do it, if you don't mind.

[2021-10-06 07:57] aayushbhatt18 opened #5197 "There is no way to log out for 2nd user of Admin if he himself modify his roles and remove some or all privileges."
Branch: Master

Steps to reproduce:

1. Create a role and grant some access (less then Administrator).
2. Create a second user of Admin and assign him the role that you've created.
3. Log in to admin with that second user.
4. Go to roles -> Edit your role and uncheck all the checkboxes.
5. Click on save.

**Actual Result:**
![hacktoberfest](https://user-images.githubusercontent.com/53482391/136162

[2021-10-06 11:14] funder7 opened #5198 "Wrong phpdoc reference in Webkul\Core\Core to CustomerGroupRepository"
## Issue Description
I was looking at the source code, and found the wrong reference

## Preconditions
Just installed bagisto

## Bagisto Version

- [x] master branch

## Steps To Reproduce
--

## Actual Result
Ref is wrong

## Expected Result
Reference to `Webkul\Customer\Repositories\CustomerGroupRepository`

[2021-10-06 12:02] devansh-webkul commented on #5198
Reopening the issue as per this comment,
https://github.com/bagisto/bagisto/pull/5199#issuecomment-936099958

[2021-10-06 12:16] devansh-webkul commented on #5197
Hi @aayushbhatt18,

The whole admin is an authenticate place, if a user mistakenly removes all the permission then it is most probably a 401 error.

He can contact the administrator again.

[2021-10-06 13:16] Nikitajoshi39 opened #5200 "getting API error after opening categories named category"
## Issue Description
Getting the category in JSON format instead of normal category when we create a category with the name "categories".

## Bagisto Version
- [x] master branch

## Steps To Reproduce
1. Create a category named as "categories "  in admin with the main category as Root.
2. Go to frontend and open the category-list .
3. Click on the category named categories .

## Actual Result
Gett

[2021-10-06 14:05] AbdullahFaqeir commented on #5047
Is there anyone working on this issue??

[2021-10-06 14:37] AbdullahFaqeir commented on #5200
Done fixing this, waiting for my current PR to be merged to submit a new one.

[2021-10-06 23:32] ghermans commented on #5192
@apoorvpal01 go ahead 👍

[2021-10-06 23:35] #5161 closed

[2021-10-07 03:44] devansh-webkul commented on #5200
hi @abdulhamid-alattar,

What if I make the category name to `categories-list` and assign that category to root?

[2021-10-07 03:53] devansh-webkul commented on #5047
This issue is reserved. If you want you can try another.

Maybe @ghermans can help you with this.

[2021-10-07 05:30] merdiano commented on #5178
Get orders api should also be moved to OrdersController from ResourceController. Get orders with locale throws sql exception

[2021-10-07 05:55] devansh-webkul commented on #5178
H there,

It will be good if you raise the new issue with screenshots and log so that I can check.

Thanks for mentioning that.

[2021-10-07 07:06] merdiano opened #5203 "API get orders with locale throws exception"
## Issue Description

Passing locale parameter to api/orders returns message with error: **SQLSTATE[42S22] Column not found: 1054 Unkonwn column 'locale'...**
Currently get orders handled by ResourceController where, locale parameter can passed  for other resources.
I think orders should bemoved to and handled by OrdersController to be able to translate orders statuses.

## Bagisto Version

- [x ]

[2021-10-07 07:31] apoorvpal01 commented on #5192
Thanks @ghermans and @devansh-webkul ! I am almost through with it. The routes from `Packages\Admin` are the only ones pending, will get it done in a few hours.

[2021-10-07 09:32] devansh-webkul commented on #5200
Yup that's the reason but the problem is the endpoint already created. For changing the endpoint needs to check further because maybe several external or paid modules may use this.

We can add one more slug-like `category-list/{category-name}` but the problem is need to check the impact as i mentioned above.

[2021-10-07 13:34] yaliya opened #5205 "Cache core config in redis"
Is it nice to cache the core config instead of querying the database ?
I tested by caching every key in redis and queries where drastically reduced.

[2021-10-07 14:43] #5205 closed, assigned to nobody

[2021-10-08 03:37] devansh-webkul commented on #5200
Yes, this can also be done and you need one extra case for `categories` name also.

Rest backend is already validating the duplicates.

[2021-10-08 03:59] #5165 closed

[2021-10-08 04:18] #5203 closed

[2021-10-08 05:12] apoorvpal01 commented on #4787
Is this still open? I can work on this if it is.

[2021-10-08 06:24] devansh-webkul commented on #4787
Sure! It's open. Go ahead.

[2021-10-08 07:40] saurav-webkul commented on #5192
@apoorvpal01

Thanks for submitting your PR as part of Hacktoberfest 2021. We request you to share the same on your social channel so we can share and showcase it.

Thank You
Team Bagisto

[2021-10-08 08:16] aayushbhatt18 opened #5208 "UI Issue in bliss theme - Product View Page"
## Issue Description
The button of Add to cart / Book now etc. is not aligned with the product image just above.

## Bagisto Version
- [ ] master branch

## Steps To Reproduce

1. Select default theme from Admin end.
2. Create a product.
3. Go to Admin end and check the ADD TO CART button in product view page.

## Actual Result
![ssss](https://user-images.githubusercontent.com/53482391/136521974-7

[2021-10-08 11:58] aayushbhatt18 opened #5209 "There is no way to access Admin panel if there is only one admin and he try to modify the role of Administrator and allow limited access."
## Issue Description
By default there is only one Admin with one role i.e. "Administrator".
If the Admin try to customise his role, after saving the settings he automatically become unauthorised and now there is no possible way to rectify this situation from Admin's end.

## Bagisto Version

- [ ] master branch

## Steps To Reproduce

1. Go to settings -> Users -> Roles.
2. Edit the role of Admini

[2021-10-08 12:37] aayushbhatt18 opened #5210 "UI Issue in search bar in order section at customer's end."
# Bug Report

## Issue Description
the "x" icon in the search bar is overlapping the "search icon" in order's section

## Bagisto Version

- [x] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Steps To Reproduce
1. Place an order
2. Go to order section and type something in the search bar.

## Actual Result
![hacktoberfest2](https://user-images.githubusercontent.com/53482391/1365

[2021-10-08 17:24] devansh-webkul commented on #5200
I sugest you to hit a full PR as per your idea.

Then, we will test and check.

Take your time as good things always takes time 😇

[2021-10-08 20:25] AbdullahFaqeir commented on #5210
Can't reproduce issue.

[2021-10-09 11:36] habe90 opened #5212 "Error Class 'NumberFormatter' not found"
# Bug Report

## Issue Description

## Preconditions

## Bagisto Version

- [ ] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Steps To Reproduce

## Actual Result

## Expected Result

[2021-10-09 11:36] habe90 commented on #5212
Error
Class 'NumberFormatter' not found
http://127.0.0.1:8000/admin/dashboard

[2021-10-09 14:01] AbdullahFaqeir commented on #5200
Hi @devansh-webkul!

Can you please check this.

[2021-10-11 03:58] devansh-webkul commented on #5212
Please enable your `php-intl` extension or if not installed then please install first. Make sure you have all required extension,
https://devdocs.bagisto.com/1.x/introduction/requirements.html#php-extensions

[2021-10-11 04:05] devansh-webkul commented on #5212
I am closing this issue, as this is not an issue. Please use the Bagisto forum.

[2021-10-11 04:05] #5212 closed, assigned to nobody

[2021-10-11 04:29] #5210 closed

[2021-10-11 04:32] #5208 closed

[2021-10-11 04:50] devansh-webkul commented on #5209
Hi @domko17,

Any update on this?

[2021-10-11 05:51] aayushbhatt18 opened #5217 "Velocity Advertisement Images issue"
## Issue Description

When we edit Advertisement  images 4 and edit any 2 images and add custom images out of 4 images, only 1 image remains there.
Same goes with Advertisement images 3. Edit only 2 images out of 3, only one 1 image remains after you save it.

## Bagisto Version

- [x] master branch

## Steps To Reproduce

1. Go to Admin -> Velocity -> Meta Data
2. Go to Images Section
3. In Adver

[2021-10-11 06:39] domko17 commented on #5209
Hi @devansh-webkul
It's done, can i merge request ?
THanks

[2021-10-11 06:48] aayushbhatt18 opened #5218 "Manual quantity update feature."
Branch: Master

**Description**
There is no option to manually update the quantity by putting the digits in both i.e. cart and product view page.
If a user wanted to buy 100 quantity of a product, He/she will have to push the "+" button 100 times.

**Expected Result**
Customer should able to manually update the quantity by putting the digits.
It can be managed from Admin end if manual quantity is

[2021-10-11 07:24] habe90 commented on #5212
Ok thank you

On Mon, 11 Oct 2021, 06:05 Devansh, ***@***.***> wrote:

[2021-10-12 07:43] Anmol-Chauhan opened #5219 "Issue in multi select data in every datagrid"
# Bug Report

Selected data got unselected

## Issue Description

Suppose I am working on product and select some product then change Items Per Page  or search any product or change the page then product got unselected

take a look at video
https://www.loom.com/share/6e4fbe4ad77f464ba4befed5228679fe

## Preconditions

## Bagisto Version

- [x] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [

[2021-10-12 11:11] aayushbhatt18 opened #5221 ""Sort By" feature should be there for products section at Admin end"
## Issue Description

There is no sort by functionality in products section at admin's end.
Sort by can include:
- Price high to low
- Price low to high
- Products with special price
- Alphabets (Descending and Ascending)
And other parameters.

## Bagisto Version

- [x] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Steps To Reproduce

1. Go to Admin -> Catalog -> Products (No o

[2021-10-12 11:14] koffy1 commented on #5221
Please assign to me

[2021-10-12 12:42] SanjanaSogimatt commented on #5217
Hey I am new to open source. Can I work on this project?

[2021-10-13 05:04] aayushbhatt18 opened #5223 "UI - Responsiveness Issue in category page (Velocity theme)"
# Bug Report

## Issue Description

When you go to any category page in Mobile view and try to scroll down, the  filter, sorting and view header gets scrolled down till the end of the page. (Even in footer section)
https://prnt.sc/1vxy7ch

## Bagisto Version

- [x] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Steps To Reproduce

1. Create a category.
2. Go to that category in

[2021-10-13 06:15] #5221 closed, assigned to nobody

[2021-10-13 06:49] Anmol-Chauhan opened #5225 "Message visible to admin for adding price of product"
# Bug Report

Admin can add the large amount in price field but after storing product wrong price shows
so a message must visible to admin for the largest value he can fill in price

## Issue Description

find attached video
https://www.loom.com/share/e919240f936f43fbbdeef01087a9bf55

## Preconditions

## Bagisto Version

- [x] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Step

[2021-10-13 06:51] aayushbhatt18 opened #5226 "Not able to send the products to wishlist from compare page if the product is not on the first position"
## Issue Description

On the compare page, if there are multiple products added for comparison.
Only the first product can be added to wishlist when you click on "heart" icon.
But when you try to do the same with other products, the products doesn't get added to cart.

![wishlist issue](https://user-images.githubusercontent.com/53482391/137081726-f30b54d8-e1e1-41c2-85f0-0a34e9ab9421.png)

## Bagis

[2021-10-13 07:35] devansh-webkul commented on #5225
Hi @Anmol-Chauhan,

Follow this thread,
https://github.com/bagisto/bagisto/issues/3984

[2021-10-13 07:37] devansh-webkul commented on #5225
Ok got it this can be done.

[2021-10-13 08:15] aayushbhatt18 opened #5228 "Exception while creating a category"
## Issue Description

Getting exception while creating a new category.

## Preconditions

Bagisto: Master branch
Version 1.3.3

## Bagisto Version

- [x] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Steps To Reproduce

1. Go to Admin -> Catalog -> Category -> Create
2. Create a new category and click on save.

## Actual Result

![category](https://user-images.githubusercontent

[2021-10-13 08:18] #5228 closed

[2021-10-13 11:23] luharuka commented on #5162
HEY @ghermans CAN you assign it to me

[2021-10-13 11:25] luharuka commented on #4653
hey @ghermans can you assign it to me under hactoberfest tag

[2021-10-13 14:45] luharuka commented on #5162
hey @devansh-webkul can you tell me the path to open in the vs code to see (host) my changes

[2021-10-13 15:16] Arsivpro opened #5230 "problem with product images #hacktoberfest"
install the latest version of bagisto, make the necessary settings and add an official product

![image](https://user-images.githubusercontent.com/65822345/137162286-f972f78d-6651-4f82-8bef-313c908ef812.png)
![image](https://user-images.githubusercontent.com/65822345/137162333-8f43d82a-8717-4786-8242-f14601440858.png)

URL Attention: --->
![image](https://user-images.githubusercontent.com/65822345

[2021-10-13 22:37] funder7 opened #5232 "App `config.php` has bad reference to `ProductGrid::class`"
# Bug Report

## Issue Description
In the `config/app.php` file, there is a wrong reference to:

[code]

By reading issue #1185 I guess that it should be removed.

## Preconditions
Nothing particular

## Bagisto Version

- [x] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Steps To Reproduce
- Create project
- Open `config/app.php`
- Scroll to `EOF`

## Actual Result
Wrong ref.

[2021-10-14 04:20] devansh-webkul commented on #5223
Hi @JunaidJaved248,

By commenting, the issue is booked, you can proceed further.

[2021-10-14 04:29] devansh-webkul commented on #5232
Hi,

I am not seeing the wrong reference. Can you share the permalink of the file?

[2021-10-14 05:08] Anmol-Chauhan opened #5233 "Issue if create product for multiple channel"
## Issue Description

Create a product for multiple channels but some field's value did not copy due to channel-based

All fields should create with the same value

## Bagisto Version

- [ ] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

[2021-10-14 05:59] aayushbhatt18 commented on #5217
@SanjanaSogimatt We need to consider some scenarios here:

1. In Ad. 4 images section, if you edit only one image or maybe 2, then only those specific images should get changed and the rest images should be there as it is (even if the remaining images are default images).
2. Same goes with Ad. 3 and Ad. 2 images.

[2021-10-14 06:15] Anmol-Chauhan commented on #5218
I am working on this

[2021-10-14 06:55] naresh-webkul commented on #4653
i'am working  on this

[2021-10-14 08:03] devansh-webkul commented on #5232
I am closing this as I have not found the mentioned reference.

[2021-10-14 08:03] #5232 closed

[2021-10-14 08:29] devansh-webkul opened #5238 "Integrate Style CI in Bagisto Repo"
# Bug Report
- Integrate Style CI in Bagisto Repo.

## Issue Description
- This should be needed as coders only need to worry about the coding, not the coding styles.
- Style CI automatically fixes all the indentations and also Laravel is using this.

[2021-10-14 08:44] naresh-webkul commented on #4653
you can check the related view files at the following path:
resources/theme/velocity/views/checkout

[2021-10-14 09:23] Arsivpro commented on #5230
@devansh-webkul I am using php 8 version with gd extension open

[2021-10-14 09:26] devansh-webkul commented on #5230
I have PHP 8 in my docker instance and it's still working fine. Do you need a docker file I can provide you?

[2021-10-14 11:21] devansh-webkul commented on #4368
This can't be done due to current migration. Already discussion is open on this. So I am closing this one.

[2021-10-14 11:26] aayushbhatt18 opened #5241 "Search functionality in admin panel"
**Description**
There must be a search functionality in the Admin panel through which various settings and panels can be searched and accessed easily.

**For Example**
If I search "Allow Guest Checkout", then it should redirect me to  Config -> Catalog -> Products -> Guest Checkout Accordion.

This is same as what we see in any Android phone setting's search functionality.

[2021-10-14 11:30] devansh-webkul commented on #5230
Yes, in `.env` APP_DEBUG=true.

[2021-10-14 11:34] devansh-webkul commented on #5230
Run `php artisan optimize`.

And hit this url,
https://demo.arsivpro.com/cache/medium/product/2/s0C57vYbTSbnyw5ZsHUSprceyOTxZ4GUGZvXcFXI.png

[2021-10-14 11:39] Arsivpro commented on #5230
@devansh-webkul I followed the steps, what do we do now?

[2021-10-14 11:41] devansh-webkul commented on #5230
Still i am not seeing the error screen seems like debug mode in not on.

If you see this URL,
https://demo.arsivpro.com/cache/medium/product/2/s0C57vYbTSbnyw5ZsHUSprceyOTxZ4GUGZvXcFXI.png

Your page is redirecting which means some error occurs, check the error log if you don't want to open the debug mode.

[2021-10-14 11:49] Arsivpro commented on #5230
@devansh-webkul APP_DEBUG'da=true Are you sure debug mode is on?

[2021-10-18 14:24] funder7 commented on #5232
Hi @devansh-webkul, sorry for the late reply,

I though that I gave enough info to find it, anyway you can find it [here](https://github.com/bagisto/bagisto/blob/844b6809080740c9cf8b2127bc7eed69bcda2d63/config/app.php#L356)

`Webkul\Ui\DataGrid\Facades\` does not contain `ProductGrid` class.

cheers

[2021-10-19 03:58] devansh-webkul commented on #5230
I am closing this, please use the forum.

If still not resolved then you can raise a support ticket here,
https://bagisto.uvdesk.com/en/customer/create-ticket/

[2021-10-19 03:58] #5230 closed

[2021-10-19 06:47] #5217 closed

[2021-10-20 12:00] nik132-eng opened #5256 "Remove grammatical errors in README.md , CONTRIBUTING.md , CHANGELOG for v1.x.x.md"
# Bug Report

grammatical errors

## Issue Description

there are errors of grammar

## Preconditions

## Bagisto Version

- [x] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Steps To Reproduce

## Actual Result

## Expected Result

[2021-10-20 12:03] nik132-eng commented on #5256
would you mind assigning me this issue for hacktoberfest

[2021-10-21 03:31] #5256 closed, assigned to nobody

[2021-10-21 12:15] aayushbhatt18 opened #5259 "Responsive issue in user Profile - Velocity"
## Issue Description

User Profile page in Velocity theme is not responsive.

## Bagisto Version

- [x] master branch

## Steps To Reproduce

1. Login in as customer.
2. Go to profile page in Mobile view

## Actual Result

https://user-images.githubusercontent.com/53482391/138274905-8aabf649-b638-4090-a2f7-66e4b34cd46c.mp4

## Expected Result

The page must be responsive.

[2021-10-22 03:43] JunaidJaved248 commented on #5259
Thanks @devansh-webkul, I will open the pull request  for this issue, once you approve my existing open pull request #5243 & close it after successful merge.

[2021-10-22 03:49] devansh-webkul commented on #5259
Hi @JunaidJaved248,

Why you are waiting for one PR, you can create a different branch and can make a pull request from that branch.

I am just sharing with you the command, just run these,

- `git remote add upstream https://github.com/bagisto/bagisto`
- `git fetch --all`
- `git checkout -b <new-branch-name>`
- `git reset --hard upstream/master`

Now all set. Do your changes in that branch and co

[2021-10-22 04:57] devansh-webkul opened #5261 "Side filter is getting detached from the category product listing in mobile"
# Bug Report
- Side filter is getting detached from the category product listing in mobile.

## Issue Description
- Side filter is getting detached from the category product listing in mobile.

## Bagisto Version
- [x] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Steps To Reproduce
- Go to velocity home page.
- Go to any category/
- Switch to mobile view and refresh the page.

[2021-10-23 12:56] #5223 closed, assigned to JunaidJaved248

[2021-10-23 13:35] ghermans opened #5267 "Send reminders for overdue invoices"
- Notify the customer when a invoice is overdue
- Allow the admin to define how many reminders are being send to the customer

[2021-10-25 09:04] #5259 closed, assigned to JunaidJaved248

[2021-10-26 13:36] devansh-webkul opened #5275 "Super Admin in Admin Panel"
## Info
- There should be one super admin in the admin panel, who has full access and cannot be deleted or updated at any cost.

[2021-10-27 12:56] Sanjaybhattwebkul opened #5278 "The user should be logout automatically If the status of the login user is inactive."
**Version:** V1.3.3

**Steps To reproduce**--

**1.** Log in as Admin/User.
**2.** Create a new user.
**3.** Log in as a new user.
**4.** Go to the admin panel and inactive the new user's account.
**5.** Go to the new admin panel.

**Actual result:** The user is not logging out automatically If the status of the login user is inactive. Please find the below screenshot.

**Expected result:** The us

[2021-10-27 14:09] Sanjaybhattwebkul opened #5279 "SKU is not taking the capital letters"
**Version:** V1.3.3

**Steps To reproduce**--

**1.** Log in as Admin/User.
**2.** Click on Product inside the catalog.
**3.** Click on Add product.
**4.** Reach the SKU section and enter SKU in capital letters.

**Actual result:** SKU  is not taking the capital letters. Please find the below screenshot.

**Expected Result :**  SKU should not validate against anything other than required and uniqu

[2021-10-28 09:49] #5278 closed, assigned to devansh-webkul

[2021-10-28 11:56] devansh-webkul opened #5284 "Some images are not comming when using S3 bucket"
# Bug Report
- Some images are not coming when using the S3 bucket.

## Issue Description
- In the components file driver's storage URL is used which is the reason it is not coming.

## Bagisto Version
- [x] master branch
- [x] 1.3.3
- [x] 1.3.2
- [x] 1.3.1
- [x] 1.3.0

## Steps To Reproduce
- Change your driver to an S3 bucket.
- Upload slider images.
- Images won't show up.

## Actual Result
- W

[2021-10-28 23:28] Arsivpro opened #5286 "Hello bagisto push notifications are a must have"
Hello, I have a feature request that needs to be in bagisto web, push notification feature should be in bagisto web, without installing the PWA package

[2021-10-29 03:59] #5279 closed, assigned to devansh-webkul

[2021-10-29 04:11] Sanjaybhattwebkul opened #5289 "Quantity should be updated on ' Shopping Cart ' page"
**Version:** V1.3.3

**Steps To reproduce**--

**1.** Log in as a User.
**2.** Add product to your cart with multiple quantities.
**3.** Go to your cart.

**Actual result:** Quantity is not updating on the ' Shopping Cart '  page. Please find the below screenshot.

**Expected result:** Quantity should be updated on the ' Shopping Cart '  page

![Qty](https://user-images.githubusercontent.com/86394

[2021-10-29 04:57] #5289 closed, assigned to devansh-webkul

[2021-10-29 05:13] #5275 closed, assigned to nobody

[2021-10-29 21:32] ghermans commented on #5162
@deepaksinghgusain227 can you give us an update?

[2021-10-31 11:02] 4bdullatif opened #5292 "Some data grids are missing ProvideDataGridPlus trait"
# Bug Report

## Issue Description
In the latest release, I wonder why some Datagrids have a ProvideDataGridPlus trait, but others do not.

For example, OrderDataGrid has it, but AttributeDataGrid doesn't.

If there is no specific reason I can complete the upgrade to Datagrid plus for the missing ones.

[2021-10-31 12:40] ghermans commented on #5292
HI @4bdullatif in the latest release we indeed added datagridplus, this makes it possible to have multiple datagrids on one page. some datagrids have been converted during the development, yet the plan is to switch them all to datagridplus.
If you are willing to do this, go ahead 👍

[2021-10-31 12:43] 4bdullatif commented on #5292
Of course i'll be glad to work on it..

[2021-11-01 11:39] merdiano opened #5295 "Search by product Tags"
Hello. Tags  needs to be in bagisto for search enhancement.  I think  currently search is made by product names only. If add search by tags, finding products will be much easier for customers. They search by generic keywords like books, mobile .... more than product names.

[2021-11-02 10:15] merdiano opened #5296 "Exception after login when product added to cart is out of stock"
# Bug Report

## Issue Description

I get this exception in logs
[stacktrace]
#0 /var/www/ozan/packages/Webkul/Checkout/src/Cart.php(376): Webkul\\Checkout\\Cart->addProduct()
#1 /var/www/ozan/vendor/laravel/framework/src/Illuminate/Support/Facades/Facade.php(261): Webkul\\Checkout\\Cart->mergeCart()
#2 /var/www/ozan/packages/Webkul/Checkout/src/Listeners/CustomerEventsHandler.php(19): Illuminate\

[2021-11-02 10:50] derMart commented on #2945
the issue is not resolved for me. I am using Bagisto 1.3.1
I do have active products showing up in the admin section, but the product api returns no items, please reopen.

[2021-11-02 15:51] ghermans commented on #2945
Hi @derMart in the upcoming days we will investigate this issue.

[2021-11-02 17:12] #5267 closed

[2021-11-03 04:13] devansh-webkul commented on #2945
Hi @ghermans,

I am not able to reproduce this. Please provide steps to reproduce.

[2021-11-03 04:25] devansh-webkul commented on #5296
Hi @merdiano,

I just follow the same steps but in my case, I logged in without any exception.

But I am aware that this issue exists.

Can you help me by providing the video so that I can reproduce this in my instance?

[2021-11-03 04:28] devansh-webkul commented on #5292
Hi @4bdullatif,

Yes, we have not added it by default because we are hitting a trial on some pages before executing in the whole app but looks like it's working fine.

I will provide a feedback on your pull request by todays evening.

[2021-11-03 04:29] #5286 closed

[2021-11-03 08:59] merdiano commented on #5296
Actually

Actually I read this logs on production app server logs and supposed this steps will reproduce it.
I may be wrong. Can you try with this new stpes.
1. add product to cart as guest.
2. remove product from stock
3. login
Sorry i cant provide you video now.

[2021-11-03 10:18] devansh-webkul commented on #5296
From the second point, `remove the product from stock` means the stock should be zero or completely remove the product?

[2021-11-03 12:45] devansh-webkul commented on #5284
Hi @mikeyapina,

Slider images have been fixed. You can take a pull.

[2021-11-03 12:45] #5284 closed

[2021-11-03 13:51] merdiano commented on #5296
stock should be zero

[2021-11-03 20:57] derMart commented on #2945
@devansh-webkul I found the culprit. The problem was that the visible_individually attribute needs to be present in the attribute family. Products are not shown at all if that attribute is not existing, that was unexpected for me. Actually, it would be really nice to have some more documentation about the internal structure of bagisto in general and for this specific case, which attributes are rea

[2021-11-04 00:54] mikeyapina commented on #5284
This is not the issue I sated why is this closed!

[2021-11-04 01:13] ghermans opened #5300 "Suspend customers"
- Allow the admin to suspend a customer
- Allow the customer to still login while being suspended so that he can still view his order / invoice history
- Disallow the customer to place any new orders

[2021-11-04 15:08] apoorvpal01 commented on #5192
Hey @saurav-webkul, I had missed the comment on the issue earlier. I have just posted it to my twitter handle 😃 [https://twitter.com/apoorvpal01/status/1456276204542038021](https://twitter.com/apoorvpal01/status/1456276204542038021)

[2021-11-05 12:07] Userkozmin opened #5301 "Social Login not working"
I want to add social login feature to my eCommerce site. I have followed the official Bagisto steps, created facebook and GitHub app, and replaced the client id and client secret in .env file. Still when I try it doesn't work at all. Facebook page says invalid app and github 404 not found.  Any kind of help appreciated

.env file
[code]
LoginController.php
[code]
Services.php
[code]

[2021-11-05 13:09] Userkozmin commented on #5301
.env file
[code]

LoginController.php
[code]
Services.php
[code]

[2021-11-06 08:26] #5301 closed

[2021-11-07 09:30] amiria703 opened #5303 "'rm' is not recognized as an internal or ..."
# Bug Report
'rm' is not recognized as an internal or external command operable program or batch file.

## Issue Description
Trying to install bagisto in a Windows environment
Noticed that the developers used "rm" that is the remove command of Unix-like systems
But in windows, specially cmd, it's command is "del"

## Preconditions
Windows 7 Service Pack 1

## Bagisto Version

- [ ] master branch
-

[2021-11-07 09:38] amiria703 opened #5304 "Readme typo"
# Bug Report
Readme Typo

## Issue Description

**2. Or you can install Bagisto from your console.**

##### Execute these commands below, in order

[code]

[code]

As the code parts can be copy pasted it's better to separate the numbers and the original code,
Also in the second command in the front of "bagisto:" there a space which can make problems

I think this is better:

**2. Or you can instal

[2021-11-07 09:57] AmooAti opened #5305 "Cart Set Shipping API"
# Bug Report
Hi,
There's a bug with setting shipping method API, if you send a deactivated shipping method code to this API it will be set and there's no checker about status of requested shipping method.

## Bagisto Version

- [X] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Steps To Reproduce
disable a shipping method and then try to set this shipping method on cart using `<

[2021-11-07 11:21] amiria703 commented on #5305
I'm not moderator nor related to this but in GitHub for checking the version part; Simply, add a "X" there. E.g. [X]

[2021-11-07 11:51] AmooAti opened #5307 "Flat Rate calculation type in admin configurations"
# Bug Report
Hi,
Flat rate shipping calculation type not showing in admin configuration when method status is enabled.

## Bagisto Version

- [X] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Steps To Reproduce
1. Go to admin panel -> configuration
2. Go to the Sales menu and select the Shipping methods tab
3. enable Flat Rate shipping and there's no type selection for cost cal

[2021-11-07 15:15] ghermans commented on #5303
Are you installing bagisto from your browser or terminal?

[2021-11-08 04:37] devansh-webkul commented on #5303
Hi @ghermans and @amiria703,

I think this issue is fixed,
https://github.com/bagisto/bagisto/pull/5254

[2021-11-08 04:43] devansh-webkul commented on #5304
Hi @amiria703,

I am not getting what you are trying to say.

[2021-11-08 04:46] devansh-webkul commented on #5284
This issue fixes the slider images which are coming from the S3 instance.

[2021-11-08 04:47] devansh-webkul commented on #2945
Alright, in the future we will do it. Right now, I am closing this as this is not an issue.

[2021-11-08 04:47] #2945 closed

[2021-11-08 05:02] devansh-webkul commented on #5304
Okay, I checked thanks for reporting this, I will fix it as soon as possible.

[2021-11-08 05:02] saurav-webkul commented on #5192
Thank you @apoorvpal01

[2021-11-08 05:39] devansh-webkul commented on #5307
Hi @AmooAti,

Thanks for reporting this.

[2021-11-08 05:41] #5304 closed

[2021-11-08 05:42] devansh-webkul commented on #5303
Please check with the latest master, this issue is fixed.

[2021-11-08 05:42] #5303 closed

[2021-11-08 05:54] devansh-webkul commented on #5296
Not getting any exception may be test case is different. Well, I am closing this if found then I will reopen this.

[2021-11-08 05:54] #5296 closed

[2021-11-08 07:20] #5307 closed

[2021-11-08 07:33] #5219 closed

[2021-11-08 10:09] amiria703 commented on #5304
@devansh-webkul  Sorry for my bad English,
The second part fixed but still the first part remains
Look here:
![image](https://user-images.githubusercontent.com/54179379/140723111-3bc0b7b8-5d05-4568-a3dc-128afc26b444.png)
By clicking the button I mentioned you can easily copy the code and then paste it in the terminal
But, the first part of code ("1. " I mean) that is number doesn't let you use thi

[2021-11-08 11:08] abraham-yusuf commented on #4888
it's working in the backend as admin, but in frontend as guest / user its the same

[2021-11-09 00:01] ghermans opened #5311 "Total weight is null in shipment table"
It would be useful if the `total_weight` of an order is directly available in the shipment table.

[2021-11-09 05:51] Saurabhduttabde341 opened #5312 "Issue in sub-category for mobile view"
# Bug Report

If the admin doesn't have subcategories in the list then also it is showing the arrow in the mobile view. The screenshots have been attached in the below line.

The desktop version is working fine, please check and rectify it.

## Issue Description

## Preconditions

## Bagisto Version

- [ ] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Steps To Reproduce

## Act

[2021-11-09 05:55] asad561 commented on #4239
@vaishaliwebkul
Mam, now it's been a year we developer didn't receive any updates for the mega menu as nowadays it is necessary for almost all websites have a mega-menu so please update priority low to high thanks. @AkashWeybee hey do you find any solution for this if yes so please share with me I'm damn sucked in this thing thanks

[2021-11-09 06:48] #5305 closed

[2021-11-09 11:34] #5226 closed

[2021-11-09 11:48] devansh-webkul commented on #5233
It will handle on the displaying portion, fallback will be placed if no value is set.

[2021-11-10 08:16] ashishkumar-webkul opened #5315 "Quantity issue in product shipment."
# Bug Report
While doing the shipment of the product at the Admin end we can see the Products Shipment product quantity 1 only.

## Issue Description
When we order the product as per the qty and after the order, it is processed for billing and shipment. In the Shipment process, the issue is mainly occurring. There the Quantity available is showing only 1.

## Bagisto Version
v1.3.3

## Steps To Re

[2021-11-10 12:24] ashishkumar-webkul opened #5316 "In Front end Order details, Order id is having a lot of space."
# Bug Report
Unnecessary Space at the Order ID.

## Issue Description
When we check the order details at the front end and there in the Order ID, there is unnecessary space is visible which looks slightly odd.

## Bagisto Version
v1.3.3

## Steps To Reproduce
1. Login with customer id.
2. Order a product and then check the order details on the customer's dashboard.
3. There we will be able to see

[2021-11-10 12:32] ghermans commented on #5316
@deepaksinghgusain227 can you follow up this issue?

[2021-11-11 07:38] #5312 closed

[2021-11-11 07:54] #5233 closed

[2021-11-11 08:09] devansh-webkul commented on #4772
Hi @Azanul,

Are you working on this?

[2021-11-11 09:36] devansh-webkul commented on #5064
This should be a different package because already core is loaded with lots of dependencies.

So if the user needs it, they can integrate it into Bagisto.

The Bagisto core should be simple and basic.

[2021-11-11 13:30] #5162 closed

[2021-11-11 13:35] devansh-webkul commented on #4864
I have started working on this.

[2021-11-11 14:57] Azanul commented on #4772
Yes

[2021-11-12 04:57] #5315 closed

[2021-11-12 04:57] #5316 closed

[2021-11-12 05:09] devansh-webkul opened #5324 "Price getting overlapped in a screen when INR is selected"
# Bug Report
- I just checked in the demo also, so this issue exist since past versions also.
- Price getting overlapped in a screen when INR is selected.

## Issue Description
- Price getting overlapped in a screen when INR is selected.

## Bagisto Version
- [x] master branch
- [x] 1.3.3
- [x] 1.3.2
- [x] 1.3.1
- [x] 1.3.0

## Steps To Reproduce
- Check the homepage, cart wherever the price is th

[2021-11-12 05:20] JunaidJaved248 commented on #5324
@devansh-webkul I want to work on it

[2021-11-12 05:51] devansh-webkul opened #5325 "Delete profile modal content data visible and then suddenly hide"
# Bug Report
- Delete profile modal content data visible and then suddenly hide.
- This is because slots are used. So need to be hidden in the first phase.

## Issue Description
- Delete profile modal content data visible and then suddenly hide.

## Bagisto Version
- [x] master branch
- [x] 1.3.3
- [x] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Steps To Reproduce

## Actual Result
- Have a look,

    ![Scr

[2021-11-12 06:03] devansh-webkul commented on #5324
Sure!

[2021-11-12 06:05] JunaidJaved248 commented on #5324
Thanks, @devansh-webkul  I just checked it from demo of bagisto live, But I didn't found any overlapped, can you show me via screenshot in which screen its getting overlapped

[2021-11-12 06:07] devansh-webkul commented on #5324
I already attached a screenshot, maybe this seems to be an issue with my browser.

[2021-11-12 06:07] #5325 closed

[2021-11-12 06:25] devansh-webkul commented on #5324
I am closing this, if anyone found this. Feel free to comment I will reopen this.

[2021-11-12 06:25] #5324 closed

[2021-11-12 06:35] devansh-webkul commented on #4864
Due to some discussion with the team, this is on hold.

[2021-11-16 05:17] #1243 closed

[2021-11-16 06:06] ashishkumar-webkul opened #5328 "SKU is still visible at the adding new product when it is disabled."
** Issue Description **

When we go to the admin panel of the master Bagisto and there at the catalog section we disable the SKU option in Attributes and then when we create a new product still the SKU is required. This must not occur over there if we have disabled the SKU.

## Bagisto Version
Master - v1.3.3

## Steps To Reproduce
1. Go to Admin Panel of the master version -> Catalog -> Attribute

[2021-11-16 06:51] devansh-webkul commented on #5328
System attributes will be locked.  This will create a problem if we disable this.

To fix this, system attributes field will be disabled.

[2021-11-16 11:03] #5328 closed

[2021-11-18 04:27] devansh-webkul opened #5335 "Ability to set visibility for the individual product in the wishlist"
## Enhancement
- There should be the ability to set visibility for the individual product in the wishlist by the customer.

[2021-11-18 11:44] ashishkumar-webkul opened #5337 "Billing Address must have a Correct Format"
**Issue Description**

When we check the Admin end where we check the sales details, there when we check the details of Billing Address which we found slightly unsystematic in order.

**Bagisto Version**
- [ ] master branch
- [ ] 1.3.3

**Steps To Reproduce**
1. Go to admin -> Sales -> Orders -> Actions
2. Now look at the invoice.
3. Check the address details. These details are not as required.

*

[2021-11-19 10:05] JunaidJaved248 commented on #5335
@devansh-webkul Can You explain it , I want to work on it,

[2021-11-19 10:18] devansh-webkul commented on #5335
This feature will be done internally.

[2021-11-19 10:24] JunaidJaved248 commented on #5335
Okay Right!!

[2021-11-19 16:30] AmooAti opened #5342 "admin (RTL) - menu not apears"
# Bug Report
Hi,
If the Admin sets language to a RTL lang side menu does not appear.

## Bagisto Version

- [x] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Steps To Reproduce

## Actual Result
![Screen Shot 2021-11-19 at 7 59 41 PM](https://user-images.githubusercontent.com/36756531/142657784-a9e73691-eef3-4591-a314-de41d62b79bd.png)

## Expected Result
![Screen Shot 2021-11-

[2021-11-22 05:41] devansh-webkul commented on #5342
Thanks for reporting this.

[2021-11-22 05:57] devansh-webkul commented on #5143
All the old APIs moved to separate packages for the backward support,
https://github.com/bagisto/bagisto/pull/5341

Proceeding with the Laravel Sanctum to give a fresh and good start to the APIs portion.

[2021-11-22 08:49] lain1936 commented on #2308
Quick way, add lang files （ for consistent with the additional view's  title , add strtolower to name）
`<accordian :title="'{{ __('admin::app.catalog.products.' . strtolower($attributeGroup->name)) }}'"`

            'general'=>'General',
            'description'=>'Description',
            'meta description'=>'Meta Description',
            'price'=>'Price',
            'shipping'=>'Shipping',

[2021-11-22 09:11] lain1936 opened #5346 "Bulk save attributeValueRepository when add or update Product in admin panel"
when add or update Product , It's  extremely slow  for  associate attributeValues,
Especially  when  Product is configurable type and  there are many locals

Need to collect insert objects and edit objects separately, execute sql in batch

and in edit view, could  eager load  'product_attribute_values' (n+1 query)

[2021-11-22 09:43] devansh-webkul commented on #5346
Yes, agreed with that, and we are also aware of that. We will optimize this.

[2021-11-22 12:05] ashishkumar-webkul opened #5347 "Images are coming out to be same at the cross sell products."
**Description**

When we create 2 products and then link 2nd product with the 1st product we found that when we see the upsell product and cross-sell product image we find this issue.

**Bagisto Version**

- [ ] master branch
- [ ] 1.3.3

**Steps To Reproduce**

1. Create 2 products at the admin panel.
2.  Add 2nd product to the first product in the linkage section.
3. After doing so check the pro

[2021-11-22 14:42] tayyab2020 opened #5348 "Category Filter not working properly."
**Description**
Category filters are not fetching products if multiple filters are used. For example if I filter product based on only one attribute (Size or Color) than it works fine but when I filter products based on both attributes than it does not fetch any product. According to screenshot attached bellow, product 'XYZ' should have been filtered out in case of multiple attributes filtering.

[2021-11-23 06:32] #5347 closed

[2021-11-23 13:40] devansh-webkul commented on #5348
Hi, @tayyab2020,

I am not able to reproduce this.

[2021-11-23 14:16] tayyab2020 commented on #5348
https://drive.google.com/file/d/1ceISqd4KERzj-44u36Y3cwIhIfxs2umX/view?usp=sharing
I have attached a video, in this video you can see that a product has both color 'Red' and size '240 x 340 cm' attributes but still when i filter it on both attributes (color & size) than i get nothing in the results.

[2021-11-23 17:15] tayyab2020 commented on #5348
I figured out why its not showing results. I have to edit each variant of product and has to select same color and category as of its parent product. Can you do it like this that when a configurable product is created than all of its attributes values (Color, Brand or any custom attribute) and category selected should be same for all its variants by default?

[2021-11-23 20:38] tayyab2020 commented on #5348
Why each variant of a configurable product has not exact same details as that of its parent product?
Like Category of each variant of a product should be stored as that of its main product by default

[2021-11-24 04:26] devansh-webkul commented on #5348
Each variant value can't be the same because it needs to fill up at the time of configurable product creations. Because variant's actual meaning is different combo whether it is color or size or different things.

If you want to do it, you can customize this at your end.

[2021-11-24 07:59] Sanjaybhattwebkul opened #5350 "The product price should be correct after exporting to excel."
**CRM Version:** V1.2.0

**Steps To reproduce**--

**1.** Log in as Admin/User.
**2.** Click on the product inside the category tab.
**3.** Try to export the products.
**4.** View the product's excel file.

**Actual result:** The product price is not correct after exporting to excel. Please find the below screenshot.

**Expected result:** The product price should be correct after exporting to exce

[2021-11-24 08:07] ghermans commented on #5337
The address format really depends on the country / area https://en.wikipedia.org/wiki/Address#Format_by_country_and_area
if we really want to optimize / change this, then i would like to suggest to make it possible to change the format from the admin panel instead of having to manually edit all the blade files

[2021-11-24 08:21] tayyab2020 commented on #5348
If I create a size variant of a product and than later on I filter category of that product including the size filter and other attributes filters than I don't get that product in results until I edit that product variant and select same category and attributes as that of its parent product. Kindly let me know in which file I have to do changes so that a variant of the product should have same val

[2021-11-24 08:29] tayyab2020 commented on #5348
Lets say I create a product with color attribute value 'White' and than I create its size variants, So I have to edits its each variant manually and select color white for it and save it so that it appears in filter page if I use size variant filter along with color filter.

[2021-11-24 09:25] ghermans commented on #5350
@Sanjaybhattwebkul did you verified this with the master branch?

[2021-11-24 09:27] ghermans commented on #5337
We will discuss this during a meeting and provide feedback.

[2021-11-24 09:34] Sanjaybhattwebkul commented on #5350
@ghermans   **Yes** I did

[2021-11-24 10:03] devansh-webkul commented on #5348
You need to check here for all variant case,
https://github.com/bagisto/bagisto/blob/255f757521b79d8a7d6672f958b5d6aa022b6849/packages/Webkul/Product/src/Type/Configurable.php#L207

[2021-11-24 10:28] tayyab2020 commented on #5348
Thanks for your reply, I actually need to store same information for all variants as of its parent product, where to do that?

[2021-11-24 10:31] devansh-webkul commented on #5348
Check here, looping of al variants done here,
https://github.com/bagisto/bagisto/blob/255f757521b79d8a7d6672f958b5d6aa022b6849/packages/Webkul/Product/src/Type/Configurable.php#L167

[2021-11-24 10:42] #5350 closed

[2021-11-24 10:45] #5348 closed

[2021-11-24 11:54] #5342 closed

[2021-11-24 14:41] JunaidJaved248 commented on #5337
Right @devansh-webkul @ghermans

[2021-11-24 15:59] derMart opened #5353 "Shipping::rates protected variable is not cleared on Shipping::removeAllShippingRates()"
See title. In Shipping::collectRates() function, $this->rates is appended, e.g.:
https://github.com/bagisto/bagisto/blob/d00d166546207fba0b177ac7945887621cb96613/packages/Webkul/Shipping/src/Shipping.php#L37

However, this variable never gets cleared, which can cause side effects if collectRates is called multiple times, e.g. by removing items from the cart using cart()->removeItem().

$this->rate

[2021-11-25 06:51] devansh-webkul commented on #5353
But if I am not wrong, in `removeItem` method `collectRate` is calling the mentioned method `removeAllShippingRates`,
https://github.com/bagisto/bagisto/blob/d00d166546207fba0b177ac7945887621cb96613/packages/Webkul/Checkout/src/Cart.php#L361

[2021-11-25 07:07] Sanjaybhattwebkul opened #5354 "The Input validation's dropdown should be according to attribute type."
**Steps To reproduce**--

**1.** Log in as Admin/.
**2.** Click on Attribute inside the catalog.
**3.** Create a new attribute with an image type.
**4.** Reach on the input validation section.

**Actual result:** The Input validation's dropdown is not according to attribute type. Please find the screenshot Here.

**Expected result:** The Input validation's dropdown should be according to attribute

[2021-11-25 09:43] derMart commented on #5353
yes, sure, but removeAllShippingRates does not remove all shipping rates, as $this->rates is not cleared in that function.
consider this.
Call collectRates, this will populate $this->rates
Call removeItem, this will again call collectRates or just call collectRates a second time
this will call removeAllShippingRates, but that function does *not* clear $this->rates
Now collectRates will append to $

[2021-11-25 10:11] Sanjaybhattwebkul opened #5355 "There should be an option to upload user's picture"
**Steps To reproduce**--

**1.** Log in as Admin/User.
**2.** Click on the My Account in the top-right corner.
**3.** Try to upload your profile picture.

**Actual result:** There is no option to upload a user's profile picture. Please find the screenshot Here.

**Expected result:** There should be an option to upload a user's picture

![bagisto-3](https://user-images.githubusercontent.com/8639495

[2021-11-25 10:13] devansh-webkul commented on #5353
Okay got the point. Property is not clearing when removing the item.

[2021-11-25 13:30] #5353 closed

[2021-11-26 12:54] justtake commented on #4214
I was similar problem with bootstrap accordion in bagisto 1.3.3. CSS is from bootstrap 4.3.1 but JS is from bootstrap 3.4.1. Accordion based on example from 4.3.1 was not roll up correctly:
![image](https://user-images.githubusercontent.com/7836517/143583917-a23f112f-7ecf-401f-9699-d22eaf6d8269.png)

I found that JS was looking for parent class 'panel' (bootstrap 3.4.1) instead of 'card' (bootstra

[2021-11-26 18:03] Userkozmin opened #5357 "Configurable product special price."
Hi! I'm having trouble with getting a special price to a configurable product.

[2021-11-26 22:27] funder7 opened #5358 "laravel-mix migration to v6.0 to support latest node LTS (v16)"
I had to recompile the `Webkul\Velocity` package in order to test some changes, but unfortunately I wasn't able to make it build on my machine, as I've got the latest node LTS version installed, on my machine.

The actual version of `laravel-mix` (v2) is a bit old, and is not compatible with node 16, due to `node-gyp` / `node-sass` being incompatible with it.
As you can see [here on node-sass page

[2021-11-28 14:09] #5357 closed

[2021-11-29 04:18] funder7 opened #5361 "General code syntax check + fix not closed html tags"
hi guys, by looking at the code, there are some unclosed html tags, and other minor upgrades that can be done (mostly due to syntax that now is deprecated).

[2021-11-29 06:31] devansh-webkul commented on #5361
I just checked the code but still for full review you need to pass all the test cases.

It looks like you have added a strict check to all over the place.

[2021-11-29 10:29] funder7 commented on #5361
Yes, only on strings, or where the return type can be only of one type.

I left unchanged where it wasn not clear.

Before going further I pushed the updage to understand if you accept these kind of updates or not.

Thanks

[2021-11-29 12:06] Anmol-Chauhan opened #5365 "Issue in price filter for configurable type product"
# Bug Report

When we create a configurable type product then the price filter is not working fine for the
![Screenshot 2021-11-28 212520](https://user-images.githubusercontent.com/79086253/143865229-61fa50d4-b92a-4107-b870-ea3ab73ae997.png)
parent product
variants also are not visible in category

## Issue Description

## Preconditions

## Bagisto Version

- [x] master branch
- [x] 1.3.3
- [ ] 1.

[2021-11-29 19:49] ghermans commented on #5064
We will discuss this this week during a meeting and provide feedback afterwards

[2021-11-29 22:13] martinie commented on #4205
I keep getting this error...image size doesn't seem to be a factor

[2021-11-29 23:56] martinie commented on #4205
nodejs wasn't installed 🤣

[2021-11-30 08:59] ILDaviz commented on #5241
@devansh-webkul Add the search form next to the select language form. In case you can write an api that searches all config menus. Is this a good idea?

[2021-11-30 11:31] Sanjaybhattwebkul opened #5366 "There should be a warning message when the user is applying the same filter again and again."
**Steps To reproduce**--

**1.** Log in as Admin/User.
**2.** Click on AttributesAdd inside the catalog tab.
**3.** Try to filter attributes by the same filter multiple times.

**Actual result:** There is not any warning message when the user is applying the same filter again and again. Please find the below screenshot.

**Expected result:** There should be a warning message when the user is apply

[2021-11-30 14:02] asif-webkul opened #5368 "Issue on creating and updating cms pages"
# Bug Report

## Issue Description
## Bagisto Version
- [ ] 1.3.3

## Steps To Reproduce
create or edit any cms page and add any special character like >, < .  These values gets converted to &gt and other equivalent.

## Actual Result
It should not be converted while adding in editor. get converted in code option of the editor too

## Expected Result
It should be as it is.

[2021-11-30 14:19] Arachnos opened #5369 "getAdminEmailDetails function can't get the right key for admin email"
# Bug Report
## Issue Description
When we use the function `core()->getAdminEmailDetails()`, only the `ADMIN_MAIL_TO` environment variable is returned, but not the email address configured in back office.

## Bagisto Version

- [ x ] master branch
- [ x ] 1.3.3
- [ x ] 1.3.2

## Steps To Reproduce
Just use the `core()->getAdminEmailDetails()` function and change the admin email parameters in "Conf

[2021-11-30 19:13] tayyab2020 opened #5370 "Issue in price filter if Catalogue rule is enabled."
# Bug Report
If I add catalogue rule (discount) than the product which is shown in filters without price filter in it is not shown when I add price filter in filters. I am attaching screenshots for reference. For example if I filter products with price filter after I add 10% discount to products prices than products does not show up in catalogue filter page with pricing filter.

![InkedScreenshot

[2021-12-01 04:28] devansh-webkul commented on #5241
We will consider and discuss this. Thanks for the suggesstion. :smile:

[2021-12-01 04:30] devansh-webkul commented on #5370
https://github.com/bagisto/bagisto/issues/5365

[2021-12-01 04:30] #5370 closed

[2021-12-01 04:32] Anmol-Chauhan commented on #5370
Hi, @devansh-webkul Sir, Please check the word mention **If I add catalogue rule (discount) than**

[2021-12-01 04:36] devansh-webkul commented on #5369
Already fixed in the master,
https://github.com/bagisto/bagisto/blob/a365a288b3c7af79023c067f4186b659d82d2a18/packages/Webkul/Core/src/Core.php#L1192

[2021-12-01 04:36] #5369 closed

[2021-12-01 05:52] devansh-webkul commented on #5368
I just checked all the fields mentioned by TinyMCE and are working fine. Regardless of other tools, that value will be converted.

[2021-12-01 05:53] devansh-webkul commented on #5368
![Screenshot](https://user-images.githubusercontent.com/68321766/144179541-50c9df9d-38eb-4daa-9b24-14889e0fa1eb.png)

[2021-12-01 06:31] devansh-webkul commented on #5370
I will check on the referenced link.

I just added a reference there as the main reason is the filtering issue.

[2021-12-01 09:10] #5365 closed

[2021-12-01 09:43] #5366 closed

[2021-12-02 05:18] asif-webkul commented on #5368
getting issue while including blade in the editor and passing data like below

@include('productpartfinder::shop.cms.partFinder', [ 'finder_id' => 1] )[
![Screenshot from 2021-12-02 10-44-31](https://user-images.githubusercontent.com/56350185/144362137-4098957a-4799-4db3-867a-7a9788be5515.png)
](url)

[2021-12-02 07:40] Sanjaybhattwebkul opened #5376 "There should be an option to remove all cart items at once"
**Steps To reproduce**--

**1.** Add multiple items to your cart.
**2.** Try to view your cart.
**3.** Try to delete all cart items at once

**Actual result:** There is no option to remove all cart items at once. Please find the screenshot Here.

**Expected result:** There should be an option to remove all cart items at once.

![cart-bagisto](https://user-images.githubusercontent.com/86394952/1443

[2021-12-02 11:01] ILDaviz commented on #5376
I'll do the marge as soon as I'm ready 👍

[2021-12-02 11:08] Sanjaybhattwebkul opened #5377 "There should not be an exception When user is moving a product to a wishlist that is already in wishlist"
**Steps To reproduce**--

**1.** Add any one item to your cart and wishlist.
**2.** Click on **Move to Wishlist**.

**Actual result:** There is an exception When the user is moving a product to a wishlist that is already on the wishlist. Please find the below screen recording.

**Expected result:** There should not be an exception When a user is moving a product to a wishlist that is already on th

[2021-12-02 12:43] SameerKhan301999 opened #5378 "Images is not showing for CMS pages"
# Bug Report

## Issue Description

## Preconditions

## Bagisto Version

- [x] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Steps To Reproduce

![Screenshot from 2021-12-02 18-12-58](https://user-images.githubusercontent.com/95420838/144424228-13370012-c395-4e6d-9f56-13ae56a8cd6f.png)

## Actual Result

## Expected Result

https://user-images.githubusercontent.com/95420838/14

[2021-12-02 14:33] derMart commented on #5137
Hey, I do have the same issue. I am running version 1.3.3 which was release on Sep. 27, much later than your reply from Sep. 06, so I would assume the fix is already included in that relase.
Is that true, so should the problem already be fixed in v1.3.3 ?

[2021-12-02 14:38] derMart commented on #5137
Addition: I do see the following error in the javascript console:

[Vue warn]: Unknown custom element: <datagrid-plus> - did you register the component correctly? For recursive components, make sure to provide the "name" option.

(found in <Root>)

[2021-12-03 04:13] devansh-webkul commented on #5137
I think something wrong with your instance. You can verify this in the demo also because orders table is visible.

[2021-12-03 04:28] devansh-webkul commented on #5378
Not able to reproduce that, please have a look, please check your APP_URL,

![Screenshot](https://user-images.githubusercontent.com/68321766/144545093-094d92ab-8b84-4a1e-bfd9-8034401d9a73.png)

![front](https://user-images.githubusercontent.com/68321766/144545302-3a0bdb3e-f703-40e8-ba59-2d254cf1c6da.png)

[2021-12-03 06:20] #5377 closed

[2021-12-03 06:37] #5368 closed

[2021-12-03 06:38] devansh-webkul commented on #5378
I am closing this as this is not an issue. Please use bagisto forum for further discussion.

[2021-12-03 06:38] #5378 closed

[2021-12-03 07:27] Nikitajoshi39 opened #5381 "Validation required for coupon code"
## Bagisto Version
- [ ] 1.3.3

## Steps To Reproduce
1. Add to cart product
2. Checkout product -> select shipping method ->select payment method -> apply coupon (validation required)

**Image:**
![bagisto1](https://user-images.githubusercontent.com/92033944/144562282-08f0c725-704f-4f28-812b-f8f7b09fe201.png)

**Video:**

https://user-images.githubusercontent.com/92033944/144563159-5622631d-d528-

[2021-12-03 07:32] Sanjaybhattwebkul commented on #5381
When the user is clicking on Apply Coupon Code button the there should be a warning message for the same input field.

[2021-12-03 07:40] derMart commented on #5137
thnx for the answer, yes in deed I found the problem. JS cache had an old version of some .js file, clearing cache solved the problem. Followup: We did upgrade following https://devdocs.bagisto.com/1.x/introduction/upgrade-to-latest-bagisto.html#bagisto-changes from 1.3.1 to 1.3.3
Is it possible that .js files did not get updated this way and that for an upgrade one needs to rebuild js files using

[2021-12-03 07:53] devansh-webkul commented on #5137
In the latest version, we have done some changes to improve some web vital scores. So JS has been changed but we have provided all the compiled assets so you just need to add as per the latest version.

[2021-12-03 08:25] devansh-webkul commented on #5381
Hi @Sanjaybhattwebkul and @Nikitajoshi39,

When you verify this, please check in both themes i.e. default and velocity.

[2021-12-03 09:04] Sanjaybhattwebkul commented on #5381
@devansh-webkul
This issue is **not fixed**
I am getting the same issue in **default** themes.

[2021-12-03 09:58] devansh-webkul commented on #5381
@Sanjaybhattwebkul  and @Nikitajoshi39,

Mentioned changes have been done.

[2021-12-03 10:04] Sanjaybhattwebkul commented on #5381
@devansh-webkul
**Thanks**, now this issue **is fixed.**
I have attached some screenshots for reference.

![fixed](https://user-images.githubusercontent.com/86394952/144584198-bf7cfead-fa0f-480c-8426-845b9bd584ec.png)
![fixed-5](https://user-images.githubusercontent.com/86394952/144584210-a3067fb8-fb26-4971-9184-a540062a9dbb.png)
![fixed-4](https://user-images.githubusercontent.com/86394952/144584

[2021-12-03 10:05] #5381 closed

[2021-12-03 12:16] Sanjaybhattwebkul opened #5384 "There should be a confirmation alert before deleting all items from Wishlist and Compare."
**Steps To reproduce**--

**1.** Add multiple items to your Wishlist and Compare.
**2.** Try to delete all items from Compare and  Wishlist at a time.

**Actual result:** There is no confirmation alert before deleting all items from Wishlist and Compare. Please find the below screen recording.

**Expected result:** There should be a confirmation alert before deleting all items from Wishlist and Co

[2021-12-04 10:24] ghermans commented on #5337
@devansh-webkul, we had a meeting regarding this and agreed that the admin should have an option in the admin panel to configure the addresss format.

[2021-12-05 12:01] Arachnos opened #5388 "Google Recaptcha not working and looping : Uncaught (in promise) Timeout"
# Bug Report

## Issue Description
Google Recaptcha v2 is not working and I get an error "Uncaught (in promise) Timeout"

## Bagisto Version
- [ x ] 1.3.3
- [ x ] 1.3.2

## Steps To Reproduce
It is the same error when we try on demo site https://demo.bagisto.com/

## Actual Result
We are unable to make the captcha functionnal, but when we de-activate `velocity.js` or `velocity-core.js` the captcha

[2021-12-05 21:12] ShivanshuPandey007 commented on #5361
I want to fix this issue. Task to do:
1. check code for any open tags or any other mistake
2. close open html tags

[2021-12-06 04:10] devansh-webkul commented on #5361
Hi @ShivanshuPandey007,

Pull request already opened for this issue.

[2021-12-06 04:27] devansh-webkul commented on #5388
I just tried with my own site ket and credentials in Bagisto demo and it's working fine. Have a look,

![Screenshot from 2021-12-06 09-56-00](https://user-images.githubusercontent.com/68321766/144787157-d9652f41-a795-46c5-aed8-346866c8aba8.png)

[2021-12-06 04:37] devansh-webkul commented on #5388
Sometimes it usually happens when you are using captcha frequently.

I am closing this issue, for any help please use Bagisto forum,
https://forums.bagisto.com/

[2021-12-06 04:37] #5388 closed

[2021-12-06 08:55] Arachnos commented on #5388
The error is almost systematic.

I have solved the issue by addding this code below line 91 of `app-core.js` :
[code]

This loads the reCaptcha script after `velocity.js` is loaded.

[2021-12-06 09:53] Sanjaybhattwebkul opened #5389 "There should be the proper alignment of filter's"
**Steps To reproduce**--

**1.** log in as a user
**2.** Try to filter your orders.

**Actual result:** There is no proper alignment of filters inside the user's order section. Please find the below screenshot.

**Expected result:** There should be the proper alignment of filter's

![core-1](https://user-images.githubusercontent.com/86394952/144825333-218085c9-25b3-4af1-a36b-7bfa6b294873.png)

[2021-12-06 10:43] Sanjaybhattwebkul commented on #5389
@devansh-webkul
**Thanks**, now this issue **is fixed**. so I am **closing** this issue.
And I have attached a screenshot for future reference.

![Fixed -core](https://user-images.githubusercontent.com/86394952/144832417-af60a4c6-0bb7-4e0b-aac7-d50c431ef0eb.png)

[2021-12-06 10:43] #5389 closed

[2021-12-06 12:14] Sanjaybhattwebkul opened #5392 "There should be a warning message when the user is clicking on the apply button without selecting any action."
**Steps To reproduce**--

**1.** log in as a user
**2.** Click on the orders tab.
**3.** Click on the apply button without selecting any action.

**Actual result:** There is no warning message when the user is clicking on the apply button without selecting any action.. Please find the below screenshot.

**Expected result:** There should be a warning message when the user is clicking on the apply b

[2021-12-06 12:33] Sanjaybhattwebkul opened #5393 "The review should be updated if the user is adding a review multiple times on the same product."
**Steps To reproduce**--

**1.** log in as a user
**2.** Add review multiple times on the same product
**3.** Try to view your reviews.

**Actual result:**  The review is not updating if the user is adding a review multiple times on the same product. Please find the below screenshot.

**Expected result:** The review should be updated if the user is adding a review multiple times on the same produc

[2021-12-07 04:56] Sanjaybhattwebkul opened #5395 "The user panel should be responsive on phone-view"
**Steps To reproduce**--

**1.** log in as a user
**2.** Try view panel on mobile phone

**Actual result:** The user panel is not responsive on phone-view. Please find the below screenshot.

**Expected result:** The user panel should be responsive on phone-view

![phone-view](https://user-images.githubusercontent.com/86394952/144968993-385b7ce0-ed1c-4938-8ab4-acfe85653114.png)

[2021-12-07 09:27] Sanjaybhattwebkul opened #5396 "The currency icon should be shown properly."
**Steps To reproduce**--

**1.** log in as a user
**2.** Create an order with the euro currency.
**3.** Complete the order process from the admin panel.
**4.** Try to see invoices from the user panel.

**Actual result:** The currency icon is not showing properly if the user is selecting the EURO currency. Please find the below screen recording.

**Expected result:** The currency icon should be sho

[2021-12-07 09:29] devansh-webkul commented on #5396
In the backend, it will come according to admin currency, not from the user currency.

[2021-12-07 09:33] Sanjaybhattwebkul commented on #5396
@devansh-webkul
The currency icon is now showing properly on the downloaded invoice.
Please  go through on given video

[2021-12-07 18:13] funder7 commented on #5361
Hi everybody,

I'm sorry but I will a bit busy until the next month, I'll do my best to find some time to continue this work and #5358 .
In the meanwhile if anybody wants to make this issue's tests pass, there is no problem on my side!

[2021-12-08 06:39] Sanjaybhattwebkul opened #5397 "The filter dropdown should be according to the selected value."
**Steps To reproduce**--

**1.** log in as a user
**2.** Try to filter your order by status.

**Actual result:** The filter dropdown is not according to the selected value. Please find the below screenshot.

**Expected result:** The filter dropdown should be according to the selected value.

![core-bug](https://user-images.githubusercontent.com/86394952/145160514-a33b9690-63d0-4775-b84f-f7d05f3eb8

[2021-12-08 07:59] Sanjaybhattwebkul opened #5398 "The User should not be able to add the same product to the wishlist multiple times."
**Steps To reproduce**--

**1.** log in as a user
**2.** Try to add the same product to the wishlist multiple times

**Actual result:** The user is able to add the same product to the wishlist multiple times. Please find the below screenshot.

**Expected result:** The User should not be able to add the same product to the wishlist multiple times.

![core-isse](https://user-images.githubusercontent

[2021-12-08 09:24] Sanjaybhattwebkul commented on #5395
@deepaksinghgusain227
I am getting the same issue in the user panel.
Please find the below screenshot.

![core-bag](https://user-images.githubusercontent.com/86394952/145182819-295658fc-b3b9-45a2-867d-ff3cf448d60a.png)

[2021-12-08 10:25] Sanjaybhattwebkul opened #5399 "There should be a Back to Top Button in the user panel."
**Steps To reproduce**--

**1.** log in as a user
**2.** Try to scroll up the page

**Actual result:** There is no Back to Top Button in the user panel. Please find the below screenshot for reference.

**Expected result:** There should be a Back to Top Button in the user panel.

![backToTOp](https://user-images.githubusercontent.com/86394952/145190052-bfa002cf-6fee-4073-a275-49c20f720e59.png)

[2021-12-08 20:10] funder7 opened #5400 "`DataGrid` refactoring, and related classess typings"
Hello team,

Recently I've worked on this development: #5362 which gave me the chance to look almost at every class in the project.
I was doing the latest changes on that PR, which involved strict type checking. To do it properly, it was necessary to add types to many functions, and class attributes.

I ended on `\Webkul\Ui\DataGrid\Traits\ProvideCollection::getCollection`, and started to check ev

[2021-12-09 08:50] Sanjaybhattwebkul opened #5402 "The same product should be added to the Wishlist which the user wants to add."
**Note:** The product type should be **configurable**

**Steps To reproduce**--

**1.** log in as a user
**2.** Try to Add the first product to the Wishlist

**Actual result:** The same product is not adding to the Wishlist which the user wants to add. Please find the below screen recording.

**Expected result:** The same product should be added to the Wishlist which the user wants to add.

**View

[2021-12-09 08:56] Sanjaybhattwebkul opened #5403 "There should be an option to delete a single item from the Wishlist."
**Steps To reproduce**--

**1.** log in as a user
**2.** Add multiple items on Wishlist.
**3.** Try to delete a single item from the Wishlist.

**Actual result:** There is no option to delete a single item from the Wishlist. Please find the below screenshot.

**Expected result:** There should be an option to delete a single item from the Wishlist.

![core-bug](https://user-images.githubusercontent

[2021-12-09 09:19] Sanjaybhattwebkul opened #5404 "The Add image button should not be present when the user is trying to edit the profile."
**Steps To reproduce**--

**1.** log in as a user
**2.** Try to edit the user's profile.
**3.** Reach on the image section

**Actual result:**  The **Add image** button is present when the user is trying to edit the profile. Please find the screenshot [Here](https://www.awesomescreenshot.com/image/18229236?key=886588b631b793f7e036a029eef93a8a).

**Expected result:** The **Add image** button should

[2021-12-09 09:56] Sanjaybhattwebkul opened #5405 "The success message should be correct when the user is adding items to the cart"
**Steps To reproduce**--

**1.** log in as a user
**2.** Try to Add any item to the cart.

**Actual result:** The success message is not correct when the user is adding items to the cart. Please find the below screenshot.

**Expected result:** The success message should be correct when the user is adding items to the cart

![cart-message](https://user-images.githubusercontent.com/86394952/14537453

[2021-12-09 10:46] Sanjaybhattwebkul opened #5406 "The user should be able to edit the address."
**Steps To reproduce**--

**1.** log in as a user
**2.** Click on address inside profile on the top right corner
**3.** Try to edit the address.

**Actual result:** The user is able to edit the address inside the user's profile. Please find the below screen recording.

**Expected result:** The user should be able to edit the address.
**View screen recording [Here](https://www.awesomescreenshot.com

[2021-12-10 07:21] Sanjaybhattwebkul opened #5407 "The business details should be present in the invoice."
**Steps To reproduce**--

**1.** log in as a user
**2.** Click on orders inside profile on the top right corner
**3.** Try to print the invoice for your orders.

**Actual result:** The Business name is not present in the invoice when the user is trying to print the invoice of their orders. Please find the below screenshot.

**Expected result:** The Business name should be present in the invoice.

[2021-12-10 07:36] Sanjaybhattwebkul opened #5408 "There should not be any exception if the user is trying to delete their reviews."
**Steps To reproduce**--

**1.** log in as a user
**2.** Click on reviews inside profile on the top right corner
**3.** Try to delete your reviews.

**Actual result:** There is an exception if the user is trying to delete their reviews. Please find the below screenshot.

**Expected result:** There should not be any exception if the user is trying to delete their reviews.

![review-del](https://use

[2021-12-10 07:37] ghermans commented on #5407
Hi @Sanjaybhattwebkul have you also configured the company name / address etc at **Configure -> Sales -> Shipping** ?

![image](https://user-images.githubusercontent.com/1594411/145535474-540b0f05-788c-49d7-9dfd-8b9fe6b61cd3.png)

[2021-12-10 07:41] Sanjaybhattwebkul opened #5409 "The user should be able to view the reviews"
**Steps To reproduce**--

**1.** log in as a user
**2.** Click on reviews inside profile on the top right corner

**Actual result:** The user is not able to view the reviews. Please find the below screenshot.

**Expected result:** The user should be able to view the reviews

![blade-data-1](https://user-images.githubusercontent.com/86394952/145535835-5d07f368-064e-4ea1-99ea-49cc7cb4bed1.png)

![bl

[2021-12-10 07:55] Anmol-Chauhan commented on #5407
Hi @ghermans , In case if we need or want to show company name and mobile information of the admin

[2021-12-10 07:59] Sanjaybhattwebkul commented on #5407
@ghermans
Yes, I have completed that process.

[2021-12-10 11:30] Tofandel opened #5411 "Multi currency price for product"
We should be able to specify a price for a product in a currency instead of relying on exchange rate

Lets assume the case we have both $ and € configured as currency
One product is priced at 9.99$
The exchange rate is 0.88 and would result in a price of 8.87€

So by default if the product has only a $ price that should be displayed, however it would be nice to be able to override this price per c

[2021-12-10 12:39] Sanjaybhattwebkul opened #5412 "The image search is not working properly."
**Steps To reproduce**--

**1.** log in as a user
**2.** Try to search the products by the image.

**Actual result:** The image search is not working properly. Please find the below screenshot.

**Expected result:** The image search should work properly

![image-01](https://user-images.githubusercontent.com/86394952/145575353-e4d0b95f-e73c-4763-915e-d252f903d38c.png)
![imag1-1](https://user-images

[2021-12-11 11:06] ghermans opened #5413 "search icon / button in admin datagrids"
# Bug Report

## Issue Description

The position of the search icon / button in each datagrid is displayed wrong.
This only occurs in the admin interface

## Bagisto Version

- [X] master branch
- [ ] 1.3.3
- [ ] 1.3.2
- [ ] 1.3.1
- [ ] 1.3.0

## Steps To Reproduce

Go to a datagrid in the admin panel

## Actual Result

![image](https://user-images.githubusercontent.com/1594411/145674113-779bbc9a-

[2021-12-11 11:17] ghermans commented on #5407
@Sanjaybhattwebkul
I verified this on a clean install from the master branch and i'm unable to replicate the issue.
Please check following screenshots
### Sales settings
![image](https://user-images.githubusercontent.com/1594411/145674516-35c50ae6-8a9a-4820-9c10-ce9b9119fb20.png)

### Invoice
![image](https://user-images.githubusercontent.com/1594411/145674502-eb0c1edc-9172-4c4b-b996-c0b4cd2cdcdc.

[2021-12-11 11:19] #5407 closed

[2021-12-11 12:27] #5406 closed

[2021-12-12 22:49] mtrf3 opened #5416 "translating Bagisto not taking place"
I have bagisto 1.3.3 installed and I'm trying to edit
packages/Webkul/Admin/src/Resources/lang/en/app.php

for example: replace the keyword "sign in" to "sign in now"

`'sessions' => [
            'title'                      => 'Sign In NOW',
            'email'                      => 'Email',
            'password'                   => 'Password',
            'forget-password-link-title' => 'Fo

[2021-12-13 04:35] devansh-webkul commented on #5398
@Sanjaybhattwebkul,

Please share steps to reproduce because if the user clicks on the same wishlist icon product will get removed.

From where it is added.

[2021-12-13 04:36] devansh-webkul commented on #5413
Not able to reproduce this.

[2021-12-13 04:37] devansh-webkul commented on #5413
![Screenshot](https://user-images.githubusercontent.com/68321766/145753212-dfe489d9-7828-4ebd-858d-7af2dc9c044b.png)

[2021-12-13 04:38] devansh-webkul commented on #5412
This is not a bug, search results come on the basis of analysis trained by the model. If keywords are not matched then the result may not come.

[2021-12-13 04:38] #5412 closed

[2021-12-13 04:41] Sanjaybhattwebkul commented on #5408
@devansh-webkul
**Thanks**, now this issue **is fixed**. so I am **closing** this issue.
And I have attached a screenshot for future reference.

![review-fixed](https://user-images.githubusercontent.com/86394952/145753484-b3e1c322-e58e-47b9-ad62-c01729900212.png)

[2021-12-13 04:41] #5408 closed

[2021-12-13 04:43] devansh-webkul commented on #5403
Not needed if you click on the same wishlist icon it will get removed.

[2021-12-13 04:43] #5403 closed

[2021-12-13 04:46] Sanjaybhattwebkul commented on #5398
@devansh-webkul
The product you are adding to the wishlist should be a configurable product.

[2021-12-13 05:05] #5413 closed

[2021-12-13 05:10] devansh-webkul commented on #5416
Not able to reproduce this, changed on the same key which you mentioned,
![Screenshot](https://user-images.githubusercontent.com/68321766/145755785-6b5e6599-845f-4c7b-aed7-412eab1921f1.png)

Please use bagisto forum for futher comunication,
https://forums.bagisto.com/

[2021-12-13 05:10] #5416 closed

[2021-12-13 05:18] devansh-webkul commented on #5402
Duplicate: https://github.com/bagisto/bagisto/issues/5398

[2021-12-13 05:18] #5402 closed

[2021-12-13 05:26] #5358 closed

[2021-12-13 05:28] Sanjaybhattwebkul commented on #5398
@devansh-webkul
**Thanks**, now this issue **is fixed** so I am **closing** this issue.
Ans I have attached a screen recording for future reference.
Please find the screen recording [Here](https://www.awesomescreenshot.com/video/6409352?key=8c9ce66cc3211aee52f8d40a6d5ea039).

[2021-12-13 05:28] #5398 closed

[2021-12-13 05:32] Sanjaybhattwebkul commented on #5409
@devansh-webkul
Now, this issue **is fixed**. so I am **closing** this issue.
And I have attached a screenshot for future reference.

![fixed-blade-1](https://user-images.githubusercontent.com/86394952/145757720-0751844b-c492-4338-87e3-05405816f94c.png)

[2021-12-13 05:32] #5409 closed

[2021-12-13 08:05] devansh-webkul commented on #5384
@Sanjaybhattwebkul,

Please verify this in both themes.

[2021-12-13 09:20] Sanjaybhattwebkul commented on #5405
@devansh-webkul
**Thanks**, now this issue **is fixed**. so I am **closing** this issue.
And I have attached a screenshot for future reference.

![Fixed-message](https://user-images.githubusercontent.com/86394952/145785224-54dd5cec-00b4-4d02-a7f7-76e9b5446c3a.png)

[2021-12-13 09:20] #5405 closed

[2021-12-13 09:27] Sanjaybhattwebkul commented on #5384
@devansh-webkul
Not fixed.
The **Delete All** functionality should  work properly.
Please find the screenshot [Here](https://prnt.sc/22s92wv).

[2021-12-13 09:59] Sanjaybhattwebkul opened #5422 "The product view page is not working properly for the configurable products."
**Steps To reproduce**--

**1.** log in as a user
**2.** Try to view the configurable product.
**3.** Try to filter the configurable product by color or size.

**Actual result:** The product view page is not working properly for the configurable products. Please find the below screen recording.

**Expected result:** The product view page should work properly for the configurable products.

**View

[2021-12-13 10:19] devansh-webkul commented on #5422
If a parent has images then parent product images should be visible.

[2021-12-13 11:20] devansh-webkul commented on #5422
Working fine.

[2021-12-13 11:30] Sanjaybhattwebkul commented on #5422
@devansh-webkul
As we discuss. I checked the same on the other instance. and it is working fine.
So I am closing this issue.

[2021-12-13 11:30] #5422 closed

[2021-12-13 11:52] Sanjaybhattwebkul commented on #5384
@devansh-webkul
**Thanks** Now this issue **is fixed**. so I am **closing** this issue
And I have attached a screen recording for future reference.

**View screen recording** [Here](https://www.awesomescreenshot.com/video/6415159?key=bfb2b4d0418b979be7ea14057bf16992).

[2021-12-14 05:31] Sanjaybhattwebkul opened #5423 "The user should not be able to edit the record while the input field is giving a warning."
**Steps To reproduce**--

**1.** log in as a user
**2.** Click on the customer tab.
**3.** Create/ edit a customer and enter the wrong date of birth of the customer.

**Actual result:**  The user is able to edit the record while the input field is giving a warning. Please find the screenshot Here.

**Expected result:** The user should not be able to edit the record while the input field is giving

[2021-12-14 10:27] Sanjaybhattwebkul opened #5424 "The item should not move to the wishlist if the user is canceling the action."
**Steps To reproduce**--

**1.** log in as a user
**2.** Add some items to the cart
**3.** Go to your cart and click on move to wishlist.
**4.** Click on the cancel button of the alert box.

**Actual result:** The item is moving to the wishlist if the user is canceling the action. Please find the below screen recording

**Expected result:** The item should not move to the wishlist if the user is c

[2021-12-15 05:20] #5424 closed

[2021-12-15 11:29] Sanjaybhattwebkul opened #5428 "There should not be an exception if the admin is trying to refund the order."
**Steps To reproduce**--

**1.** log in as a user
**2.** Place an order from the customer panel
**3.** Complete the order process from the admin panel
**4.** Try to refund the order with the wrong quantity or product.

**Actual result:** There is an exception if the admin is trying to refund the order. Please find the below screen recording

**Expected result:** There should not be an exception if

[2021-12-15 13:26] Sanjaybhattwebkul commented on #5423
@devansh-webkul
I am getting the **same issue** on the **customer panel**. so I am reopening the issue.
Please find the screenshot [Here](https://www.awesomescreenshot.com/image/18601938?key=f1ad1ca94dfc62efabfb9b4b5a393f25).

[2021-12-15 17:06] derMart opened #5429 "php artisan route:list error target class onepagecontroller does not exist (current master branch)"
## Bagisto Version
- master branch

## Environment
[code]

## Steps To Reproduce
[code]

## Actual Result
[code]

## Expected Result
Routes should be listed

Is there anything I am missing to do before running `php artisan route:list` ?

[2021-12-15 17:28] poppabear8883 commented on #1362
Same issues here:

I have configured the `default channel` AND the `APP_URL` value with my `custom hostname` but yet the UI is still rendering `localhost` as the domain in the image src attribute. Can we get this re-opened ?

[2021-12-15 17:33] ghermans commented on #1362
Hi @poppabear8883 can you please try to run `php artisan optimize` once that is done see if the page is still trying to render as localhost

[2021-12-15 17:35] poppabear8883 commented on #1362
@ghermans Thanks! That fixed it ...

[2021-12-15 22:10] derMart opened #5430 "ProductFlat getAttribute($key) throws Undefined property if value of $key is NULL in product_flat table"
## Preconditions
Consider a product which has a value of NULL in one of its attributes, such that its respective product_flat table column is NULL.

## Bagisto Version
 master branch
## Steps To Reproduce
Access this attribute e.g. in a view.
This will call `ProductFlat::getAttribute($key)`
There, the respective default product for the fallback locale will be retrieved: https://github.com/bagisto/

[2021-12-16 04:37] #5429 closed

[2021-12-16 04:53] #5430 closed

[2021-12-16 04:56] #5428 closed

[2021-12-16 05:10] Sanjaybhattwebkul commented on #5423
@devansh-webkul
**Thanks**, now this issue **is fixed**. so I am **closing** this issue.
And I have attached a screenshot for future reference [Here](https://prnt.sc/237sxa0).

[2021-12-16 05:10] #5423 closed

[2021-12-16 05:40] Sanjaybhattwebkul opened #5435 "There should be a warning message if the user is trying to create an invoice with invalid quantity."
**Steps To reproduce**--

**1.** log in as a user
**2.** Place an order with multiple quantities from the customer panel
**3.** Try to create an invoice with half the quantity of orders.
**4.** Again create the invoice for the same order with the actual quantity.

**Actual result:** There is no warning message if the user is trying to create an invoice with invalid quantity. Please find the below

[2021-12-16 06:32] Sanjaybhattwebkul opened #5436 "The discount Amount should be correct in the invoice."
**Steps To reproduce**--

**1.** log in as a user
**2.** Place an order with multiple quantities from the customer panel
**3.** Create an invoice for the order in two parts.
**4.** Try to view the discount amount on the invoice in the customer panel.

**Actual result:** The discount Amount is not correct in the invoice when the admin creates the invoice in two parts for the same order. Please find